{% extends "base.html" %}

{% block title %}
Student Registration |
{% endblock %}

{% block metadata %}
{{ block.super }}

{% load text_snippet %}
{% load compress %}
{% compress css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/campus_org/campus_org_registration.css" />
{% endcompress %}

{% endblock %}

{% block content_area %}
<div class="simple_block centered">
    <h1>Campus Organization Registration</h1>
    <form id="student_registration_form" method="POST">
        {% csrf_token %}
        <table class="form_table grande">
            <tr>
                <th>{{form.name.label_tag}}</th>
                <td>
                    <div class="errorspace">{{form.name.errors|safe}}</div>
                    {{form.name}}
                </td>
                <td class="info" rowspan="3">
                    <div>
                        <p>Registering a campus organization that you are either a leader or a member of will enable you to log-in as that organization, create events, collect resumes and RSVPs, and give the employers you partner with access to participating students.</p>
                        <br>
                        <p><strong>Make sure that you use an email address that everyone at the organization can access.</strong></p>
                    </div>
                </td>
            </tr>
            <tr>
                <th>{{form.email.label_tag}}</th>
                <td>
                    <div class="errorspace">{{form.email.errors|safe}}</div>
                    {{form.email}}
                </td>
            </tr>
            <tr>
                <th>{{form.password.label_tag}}</th>
                <td>
                    <div class="errorspace">{{form.password.errors|safe}}</div>
                    {{form.password}}
                </td>
            </tr>
           <tr>
                <th></th>
                <td>
                    <p id="terms">By signing up, you are agreeing to our <a href="{% url terms %}">terms</a>.<p>
                </td>
            </tr>
            <tr>
                <th></th>
                <td class="error_section error">
                    {{form.non_field_errors}}
                </td>
                <td></td>
            </tr>
            <tr>
                <th></th>
                <td colspan="2">
                    <input tabindex="3" class="button" type="submit" value="Create my account" />
                    <img class="ajax_form_submit_loader" src="{{ STATIC_URL }}images/loaders/s_ajax.gif" />
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}
