{% extends "home_base.html" %}

{% block metadata %}
{{block.super}}
{% load compress %}
{% load text_snippet %}

{% compress css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/campus_org/campus_org_home.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/events/rolling_deadline_end_dialog.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/events/event_snippet.css" />
{% endcompress %}
<script>
    var EVENT_ARCHIVED = "{% text_snippet 'event_archived' %}";
    var DEADLINE_ARCHIVED = "{% text_snippet 'deadline_archived' %}";
    var EVENT_CANCELLED = "{% text_snippet 'event_cancelled' %}";
    var DEADLINE_CANCELLED = "{% text_snippet 'deadline_cancelled' %}";
    var ROLLING_DEADLINE_ENDED = "{% text_snippet 'rolling_deadline_ended' %}";
</script>
{% compress js %}
<script src="{{ STATIC_URL }}js/events/event_archive.js"></script>
<script src="{{ STATIC_URL }}js/events/event_cancel_dialog.js"></script>
<script src="{{ STATIC_URL }}js/events/rolling_deadline_end_dialog.js"></script>
{% endcompress %}
{% endblock %}

{% block left_side_container %}
    {% include "campus_org_side_nav.html" %}
{% endblock %}

{% block featured_content %}
<a href="{% url event_new %}"><div id="events"><img src="{{ STATIC_URL }}images/icons/twg_retina/calendar_64.png" /><span>Create events & deadlines</span></div></a>
<a href="{% url campus_org_profile %}"><div id="profile"><img src="{{ STATIC_URL }}images/icons/twg_retina/man_64.png" /><span>Update profile</span></div></a>
{% endblock %}

{% block content %}
<div id="upcoming_events" class="main_block with_side_nav">
    <div class="main_block_header" id="events">
        <img class="main_block_header_icon" src="{{ STATIC_URL }}images/icons/calendar.png"/>
        <span class="main_block_header_title">Upcoming and Recent Events and Deadlines</span>
        <div class="main_block_header_content">
            <a href="{% url event_new %}" class="button">Create New</a>
        </div>
    </div>
    <div class="main_block_content">
        {% include "upcoming_events_list.html" %}
        {% include "recent_events_list.html" %}
        <div id="no_events_block" class="simple_block centered" {% if events_exist or recent_events %}style="display:none"{% endif %}>
            <p>
                You can post your organization's employer events and deadlines for students to view and add to their calendars.
            </p>
            <p>
                You currently don't have any upcoming events/deadlines; <a href="{% url event_new %}"><strong>create one now</strong></a>.
            </p>
        </div>
    </div>
</div>
{% endblock %}
