.git
*.class
*.exe
*.pyc
*.pyo
database.db
index
.tmp*
.project
.pydevproject
.settings
media/employer
media/images
media/resume_books
media/resumes
media/CACHE
settings_local.py
*.DS_Store
*.psd
*.swp
*.log
apache-solr-1.4.1/solr/data/
apache/egg-cache/
