.git
*.class
*.exe
*.pyc
*.pyo
database.db
index
.tmp*
.project
.pydevproject
.settings
media/images
media/resume_books
media/resumes
whoosh_index
xapian_index
settings_local.py
*.DS_Store
*.psd
*.swp
*.log