.git
*.class
*.pyc
*.pyo
*.db
*.db-journal
index
.tmp*
.project
.pydevproject
.settings
/media
/local_static
settings_local.py
settings_prod.py
apache/django.wsgi
*.DS_Store
*.psd
*.swp
*.log
*.log.*
apache-solr-3.5.0/solr/data/
apache-solr-3.5.0/example/work/
apache-solr-3.5.0/example/nohup.out
apache/egg-cache/
static/cache/
static/scripts/
static/admin/
static/fonts/
static/styles/

