<!--
Developers : Dmitrij Petters,
All code is property of original developers.
Copyright 2011. All Rights Reserved.
-->

<div class="right_side_container">
	<br>
    <p class="title"><strong>Don't remember your username?:</strong></p>
    <p>Employers - use your company name.</p>
	<p>Students - use your MIT email.</p>
	<br>
    <p class="title"><strong>Don't have an account?:</strong></p>
    <p><a href="/employer/register/">Employer Sign Up</a><p>
    <a href="/student/register/">Student Sign Up</a>
</div>

<form id="login_form" action="/login_dialog/" autocomplete="off" method='POST'>
	{% csrf_token %}
	
	<div class="errorspace">
	</div>
	<div id="username">
		<label for="id_username" class="required">Username:</label>
		{{login_form.username}}
	</div>
	
	<div class="errorspace">
	</div>
	<div id="password">
		<label for="id_password" class="required">Password:</label>
		{{login_form.password}}
	</div>
	
	<div id="dialog_form_error_section"></div>
	
	<div id="login_form_submit_button_wrapper" class="button_wrapper_with_margins">
		<input id="login_form_submit_button" class="button" type='submit' value='Login'>
		<img id='ajax_form_submit_loader' style="display:none" src='{{ STATIC_URL }}images/page_elements/loaders/small_ajax_loader.gif'>
	</div>
	<br>
	<p id="reset_password_link">
		<a href="/student/password/reset">
		<u>
			Forgot your password?
		</u>
		</a>
	</p>
</form>

