<!--
Developers : Dmitrij Petters,
All code is property of original developers.
Copyright 2011. All Rights Reserved.
-->

{% extends "base.html" %}

{% block title %}
| Password Changed
{% endblock %}

{% block metadata %}
{{block.super}}
<link rel="stylesheet" href="{{ STATIC_URL }}css/registration/password_change_done.css" />
{% endblock metadata %}

{% block content_area %}
<div id="password_change_done_block">
	<h1 id="password_change_done_block_title">Password Successfully Changed</h1>
	<p class="message_section">
		You have successfully changed your password.
	</p>
	<a id="back_to_profile_link" href="/student/{{user}}">
	<u>
		Back to Profile
	</u>
	</a>
</div>
{% endblock %}