<!--
Developers : Dmitrij Petters,
All code is property of original developers.
Copyright 2011. All Rights Reserved.
-->

{% extends "anonymous.html" %}

{% block title %}
| Reset Email Sent
{% endblock %}

{% block metadata %}
<!-- Mac-like Dock -->
<script type="text/javascript" src="{{ STATIC_URL }}lib/dock/dock.js">
</script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}lib/dock/dock.css" />

<!-- Custom -->
<script type="text/javascript" src="{{ STATIC_URL }}javascript/registration/password_reset_done.js">
</script>
<link rel="stylesheet" href="{{ STATIC_URL }}css/registration/password_reset_done.css" />
{% endblock %}

{% block content_area %}
<div id="password_reset_done_block" class="message_block">
	<h1 id="password_reset_done_block_title" class="message_block_title">Password Reset Email Sent</h1>
	<p class="message_section">
		A password reset link has been sent to your email.
	</p>
	<div id="email_icon_section" class="dock">
		<div class="dock_container">
			<a class="dock-item" href="http://gmail.com">
			<span>
				<strong>Gmail</strong>
			</span>
			<img src="{{ STATIC_URL }}images/dock/gmail.png" alt="Gmail" />
			</a>
			<a class="dock-item" href="http://hotmail.com/">
			<span>
				<strong>Hotmail</strong>
			</span>
			<img src="{{ STATIC_URL }}images/dock/hotmail.png" alt="Hotmail" />
			</a>
			<a class="dock-item" href="http://mail.yahoo.com">
			<span>
				<strong>Yahoo</strong>
			</span>
			<img src="{{ STATIC_URL }}images/dock/yahoo.png" alt="Yahoo" />
			</a>
			<a class="dock-item" href="http://webmail.aol.com">
			<span>
				<strong>AOL</strong>
			</span>
			<img src="{{ STATIC_URL }}images/dock/aol.png" alt="AOL" />
			</a>
			<a class="dock-item" href="https://webmail.mit.edu/">
			<span>
				<strong>Webmail</strong>
			</span>
			<img src="{{ STATIC_URL }}images/dock/mit_webmail.png" alt="Webmail" />
			</a>
		</div>
	</div>
	<a id="back_to_login_link" href="/">Back to Login</a>
</div>
{% endblock %}