<!--
Developers : Dmitrij Petters,
All code is property of original developers.
Copyright 2011. All Rights Reserved.
-->

{% extends "logged_in.html" %}

{% block title %}
| Change Password
{% endblock %}

{% block metadata %}
{{block.super}}
<link rel="stylesheet" href="{{ STATIC_URL }}css/registration/password_change_form.css" />
<script type="text/javascript" src="{{ STATIC_URL }}javascript/registration/password_change_form.js">
</script>
{% endblock %}

{% block content_area %}

<div id="password_change_form_block" class="main_block">
	<div class="main_block_header">
		<img class="main_block_header_icon" src="{{ STATIC_URL }}images/icons/lock_png/32x32/lock.png"/>
		<span class="main_block_header_title">Change Password</span>
	</div>
	<div class="main_block_content">
		<ul id="password_change_form_info" class="main_block_content_form_info">
			<li>
				If you required any assistance, don't hesitate to
				<a class="open_contact_us_dialog_link" href="javascript:void(0)">contact us</a>.
			</li>
		</ul>
		<form id="password_change_form" autocomplete="off" method='POST' action="" enctype="multipart/form-data">
			{% csrf_token %}

			<div class="errorspace">
			</div>
			<div>
				<label class="required" for="id_old_password">Old password:</label>
				{{form.old_password}}
			</div>
			<div class="errorspace">
			</div>
			<div>
				<label class="required" for="id_new_password1">New password:</label>
				{{form.new_password1}}
			</div>
			<div class="errorspace">
			</div>
			<div>
				<label class="required" for="id_new_password2">New password (again):</label>
				{{form.new_password2}}
			</div>
			<div class="button_wrapper_with_margins">
				<input id="change_button_button" class="button" type='submit' value='Submit'>
				<img id='ajax_form_submit_loader' style="display:none" src='{{ STATIC_URL }}images/page_elements/loaders/small_ajax_loader.gif'>
			</div>
		</form>
		<div class="main_block_footer">
			<div class="main_block_footer_links">
				<a id="back_to_profile_link" href="/student/{{user}}" >Back to Profile</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}