<!--
Developers : Dmitrij Petters,
All code is property of original developers.
Copyright 2011. All Rights Reserved.
-->

{% extends "anonymous.html" %}

{% block title %}
| Password Reset Complete
{% endblock %}

{% block content_area %}

<div id="password_reset_complete_block" class="message_block">
	<h1 id="password_reset_complete_block_title" class="message_block_title">Password Reset Complete</h1>
	<p class="message_section">
		Your password has been reset.
	</p>
	<a id="back_to_login_link" href="/">Back to Login</a>
</div>
{% endblock %}