.course_image{
    float: left;
    margin-right: 12px;
    margin-bottom: 8px;
    margin-top: 2px;
    
}
.course_info_dialog .dialog_content_wrapper{
    padding: 10px;
}
.course_info_dialog .dialog_content_wrapper p{
    margin-top: 3px;
}