#welcome_block p{
    padding:3px 0px;
}
#featured_content{
    margin:10px 0px;
}
#featured_content div{
    display:inline-block;
    text-align:center;
    vertical-align:middle;
    height:156px;
    line-height:55px;
    width:179px;
    margin-right:4px;
    margin-left:4px;
}
#featured_content div img{
    position:relative;
    top:25px;
}
#featured_content span {
    line-height:22px;
    text-align:center;
    font-family:Segoe UI,Tahoma,Arial,Verdana,sans-serif;
    color:white;
    font-size:23px;
    display:inline-block;
    vertical-align:middle;
    width:100%;
}