#welcome_block p {
    margin: 0 0 10px;
    font-size: 13px;
}
#welcome_list {
    font-size: 13px;
    color: #555;
    margin: 0 20px 15px;
}
#welcome_table {
    margin-top: 2px;
    margin-bottom: 5px;
}
#welcome_table td img {
    margin-bottom: 6px;
    margin-left: 10px;
    margin-right: 12px;
}