.school_new_dialog .dialog_content_wrapper{
    padding: 5px 0px 10px;
    text-align:center;
}
#school_new_form .form_table{
    margin-left:auto;
    margin-right:auto;
}
.school_new_dialog .message_section p{
    line-height:21px;
}
#school_new_form input[type=submit]{
    width:90px;
}
#school_new_form #id_name, #school_new_form #id_url {
    width:250px;
}
