#terms_title{
    padding-top:0px;
    padding-bottom:0px;
}
#terms_block #last_revision, #scroll_to_bottom{
    padding-top:0px;
    font-size:17px;
    margin-bottom:5px;
}
#terms_block .back_to_link{
    margin-right:17px;
}
#terms_text{
    text-align:justify;
    margin-right:17px;
}
#terms_text p{
    font-size:11px;
    line-height:15px;
}
input[type="submit"]{
    margin-top:25px;
}
