#terms_block{
    margin-left:17px;
    padding-top:0px;
}
#terms_block h1{
    position:relative;
    right:1px;
    margin-bottom:0px;
}
#terms_block h2{
    font-size:17px;
    margin-bottom:3px;
}
#terms_block #tip{
    margin-bottom:25px;
}
#terms_block strong{
    color:#444;
    margin-top:15px;
}
#terms_block h4{
    margin-bottom:5px;
    margin-top:10px;
}
#terms_block .back_to_link{
    margin-right:17px;
}
#terms_text{
    margin-top:20px;
    text-align:justify;
    margin-right:17px;
}
#terms_text p{
    font-size:11px;
    line-height:15px;
}
input[type="submit"]{
    margin-top:15px;
}
