.grande p{
    margin:10px 0px;
}
.help_header{
    margin-top: 20px;
    margin-bottom: 10px;
}
.help_content{
    padding-left: 5px;
}
.help_list{
    margin-top:5px;
    list-style:decimal inside;
    line-height: 20px;
}