.tutorial_snippet{
    padding:4px 2px;
}
.tutorial_list{
    line-height:18px;
    margin-bottom:10px;
    margin-top:3px;
}
.tutorial_list{
    list-style: inside;
}
#view_all_faqs{
    margin-top:7px;
}
#extra_help{
	margin-top:29px;
}
#extra_help div{
	display:inline-block;
}
#extra_help img{
	position:relative;
	top:4px;
	right:7px;
}
#extra_help div p{
	margin-top:5px;
}