{% extends "base.html" %}

{% block title %}
Activation Complete |
{% endblock %}

{% block content_area %}
<div id="activation_complete_block" class="simple_block centered grande">
    <h1 id="activation_complete_block_title">Activation Complete</h1>
    <p class="message_section">
    You have successfully activated your account! {% if user.student %}<a href="{% url student_profile %}">{% endif %}{% if user.recruiter %}<a href="{% url employer_profile %}">{% endif %}{% if user.campusorg %}<a href="{% url campus_org_profile %}">{% endif %}Start off by completing the rest of your profile.</a>
    </p>
</div>
{% endblock %}


user.recruiter or user.campusorg

campus_org_profile