{% extends "email_base.html" %}

{% block header %}
Activate Account
{% endblock %}

{% block content %}
    <p>Your Umeqo account is ready. All we need to to do is make sure that this is your email address.</p>

    <p>
        <a class="button button-success" href="{{protocol}}://{{current_site}}/activation/{{activation_key}}/" target="_blank">
        Click here to verify your email address
        </a>
    </p>

    <p>Alternatively, click the following link - {{protocol}}://{{current_site}}/activation/{{activation_key}}/.</p>
    <br>
    <small>If you did not register for Umeqo, please let us know by replying to contact@umeqo.com.</small>
{% endblock %}