{% extends "email_base.html" %}

{% block email_body %}
    <h2 style="margin-top:0">Activate Account</h2>
    
    <p>Hey {{first_name}},</p>
        
    <p>Your Umeqo account is ready. All we need to to do is make sure that this is your email address.</p>

    <p>
        <a href="http://{{site}}/activation/{{activation_key}}/" style="border-radius:3px;background:#f0f0f0;border:1px solid #888888;color:#6e97b9;display:inline-block;font-weight:700;line-height:20px;margin:0;padding:6px 15px;text-decoration:none" target="_blank">
        Click here to verify your email address
        </a>
    </p>
    <p>If you did not register for Umeqo, you can simply ignore this email.</p>
{% endblock %}