<!--
Developers : Dmitrij Petters,
All code is property of original developers.
Copyright 2011. All Rights Reserved.
-->

{% extends "base.html" %}

{% block title %}
Activation Complete |
{% endblock %}

{% block content_area %}
<div id="activation_complete_block" class="message_block">
    <h1 id="activation_complete_block_title" class="message_block_title">Activation Complete</h1>
    <p class="message_section">
        You have successfully activated your account! <a href="{% url student_create_profile %}">Let's get you set up so employers can find you.</a>
    </p>
</div>
{% endblock %}
