{% extends "base.html" %}

{% block title %}
Invalid Activation Link |
{% endblock %}

{% block content_area %}
<div class="simple_block centered grande">
    <h1>Already Used or Invalid Activation Link</h1>
    <p class="message_section">
        If you are using a link from more than a day ago, it has expired. Request a new one by
        <a class="open_contact_us_dialog_link" href="javascript:void(0)">contacting us</a>.
        <br/>
        <br/>
        If you're a
        <strong>student</strong> and haven't registered, you can do so
        <a href="{% url student_registration %}">here</a>.
        <br/>
        <br/>
        If you're a
        <strong>recruiter</strong> and haven't registered, you can do so
        <a href="{% url employer_registration %}">here</a>.
        <br/>
        <br/>
        If you're a
        <strong>campus organization</strong> and want to host employer events using Umeqo,
        <a class="open_contact_us_dialog_link" href="javascript:void(0)">contact us</a> to sign up.
    </p>
</div>
{% endblock %}