{% extends "base.html" %}

{% block title %}
    {% if validlink %}
        Set New Password |
    {% else %}
        Invalid Link |
    {% endif %}
{% endblock %}

{% block metadata %}
{{ block.super }}
<!-- Custom -->
<link rel="stylesheet" href="{{ STATIC_URL }}css/registration/password_reset_confirm.css" />
<script type="text/javascript" src="{{ STATIC_URL }}javascript/registration/password_reset_confirm.js">
</script>
{% endblock %}

{% block content_area %}
    {% if validlink %}
        <div id="password_reset_confirm_block" class="main_block">
            <h1>Set New Password</h1>
            <div class="main_block_content">
                <form id="password_reset_form" method="POST" action="" autocomplete="off">
                    {% csrf_token %}
                    <table class="form_table grande">
                        <tr>
                            <th>{{form.email.label_tag}}</th>
                            <td>
                                <div class="errorspace">{{form.email.errors}}</div>
                                {{form.email}}
                            </td>
                            <td class="info">
                                <p>A link will be sent to your email, directing you to the password reset page. <a class="open_contact_us_dialog_link" href="#">Need help?</a></p>
                            </td>
                        </tr>
                        <tr>
                            <th></th>
                            <td>
                                <input id="password_reset_form_submit_button" class="button" type="submit" value="Reset password" />
                                <img id='ajax_form_submit_loader' src='{{ STATIC_URL }}images/page_elements/loaders/small_ajax_loader.gif' />
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    
    
        <div id="password_reset_confirm_block" class="main_block">
            <div class="main_block_header">
                <img class="main_block_header_icon" src="{{ STATIC_URL }}images/icons/lock_png/32x32/lock.png"/>
                <span class="main_block_header_title">Set New Password</span>
            </div>
            <div class="main_block_content">
                <ul id="password_reset_confirm_form_info" class="main_block_content_form_info">
                    <li>
                        For further assistance, don't hesitate to
                        <a class="open_contact_us_dialog_link" href="javascript:void(0)">contact us</a>.
                    </li>
                </ul>
                <form id="password_reset_confirm_form" method='POST' autocomplete="off" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table class="form_table">
                        <tr>
                            <th>{{form.new_password1.label_tag}}</th>
                            <td>
                                <div class="errorspace"></div>
                                {{form.new_password1}}
                            </td>
                        </tr>
                        <tr>
                            <th>{{form.new_password2.label_tag}}</th>
                            <td>
                                <div class="errorspace"></div>
                                {{form.new_password2}}
                            </td>
                        </tr>
                    </table>
                    <div class="error_section error">
                        {{form.errors}}
                    </div>
                    <div class="button_wrapper_with_margins">
                        <input id="password_reset_button" class="button" type='submit' value='Submit'>
                    </div>
                </form>
            </div>
            <div class="main_block_footer">
                <div class="main_block_footer_links">
                    <a id="back_to_home_link" href="/">Back to Home</a>
                </div>
            </div>
        </div>
    {% else %}
        <div id="invalid_password_reset_link_block" class="message_block">
            <h1 id="invalid_password_reset_link_block_title" class="message_block_title">Invalid Password Reset Link</h1>
            <p class="message_block">
                The password reset link was invalid. You can
                <a id="reset_password_link" href="/student/password/reset/">request a new one</a>.
            </p>
            <a id="back_to_home_link" href="/">Back to Home</a>
        </div>
    {% endif %}
{% endblock %}