<!--
Developers : Dmitrij Petters,
All code is property of original developers.
Copyright 2011. All Rights Reserved.
-->

{% extends "base.html" %}

{% block title %}
| Reset Password
{% endblock %}

{% block metadata %}
{{ block.super }}
<!-- Custom -->
<link rel="stylesheet" href="{{ STATIC_URL }}css/registration/password_reset_form.css" />
<script type="text/javascript" src="{{ STATIC_URL }}javascript/registration/password_reset_form.js">
</script>
{% endblock %}

{% block content_area %}
<div id="password_reset_block" class="main_block">
	<div class="main_block_header">
		<img class="main_block_header_icon" src="{{ STATIC_URL }}images/icons/unlock_png/32x32/unlock.png"/>
		<span class="main_block_header_title">Reset Password</span>
	</div>
	<div class="main_block_content">
		<ul id="password_reset_form_info" class="main_block_content_form_info">
			<li>
				A link will be sent to your email, directing you to the password reset page.
			</li>
			<li>
				For further assistance, don't hesitate to
				<a class="open_contact_us_dialog_link" href="javascript:void(0)">contact us</a>.
			</li>
		</ul>
		<form id="password_reset_form" method='POST' action="" enctype="multipart/form-data">
			{% csrf_token %}
			<table class="form_table">
				<tr>
					<th>{{form.email.label_tag}}</th>
					<td>
						<div class="errorspace"></div>
						{{form.email}}
					</td>
				</tr>
			</table>
			<div class="error_section error">
			{{form.errors}}
			</div>
			<div class="button_wrapper_with_margins">
				<input class="button" id="password_reset_button" type='submit' value='Reset'>
			</div>
		</form>
		<div class="main_block_footer">
			<div class="main_block_footer_links">
				<a id="back_to_home_link" href="/">Back to Home</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}