<!--
Developers : Dmitrij Petters,
All code is property of original developers.
Copyright 2011. All Rights Reserved.
-->

{% extends "base.html" %}

{% block title %}
Reset Password |
{% endblock %}

{% block metadata %}
{{ block.super }}
<!-- Custom -->
<link rel="stylesheet" href="{{ STATIC_URL }}css/registration/password_reset_form.css" />
<script type="text/javascript" src="{{ STATIC_URL }}javascript/registration/password_reset_form.js">
</script>
{% endblock %}

{% block content_area %}
<div id="password_reset_block" class="main_block">
    <h1>Password Reset</h1>
    <p>
        A link will be sent to your email, directing you to the password reset page. Don't hesitate to <a class="open_contact_us_dialog_link" href="#">contact us</a> for further assistance!
    </p>
    <form id="password_reset_form" method='POST' action="" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="form_table">
            <tr>
                <th>{{form.email.label_tag}}</th>
                <td>
                    <div class="errorspace"></div>
                    {{form.email}}
                </td>
            </tr>
            <tr>
                <th></th>
                <td>
                    <input class="button" id="password_reset_button" type='submit' value='Request Reset'>
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}
