{% extends "email_base.html" %}

{% block email_body %}
    <h2 style="margin-top:0">Password Reset</h2>
    
    <p>Hey {{user.first_name}},</p>
        
    <p>Someone, hopefully you, has recently requested that your {{site_name}} account password be reset.</p>

    <p>
        <a href="{{protocol}}://{{domain}}/password/reset/confirm/{{ uid }}-{{ token }}/" style="border-radius:3px;background:#41B554;border:1px solid #348941;color:#fff;display:inline-block;font-weight:700;line-height:20px;margin:0;padding:6px 15px;text-decoration:none" target="_blank">
        Click here to reset your password
        </a>
    </p>
  
    <p>If this someone wasn't you, you can simply ignore this email.</p>
{% endblock %}