{% extends "base.html" %}

{% block title %}
    {% if validlink %}
        Choose New Password |
    {% else %}
        Invalid Link |
    {% endif %}
{% endblock %}

{% block metadata %}
{{ block.super }}
{% load text_snippet %}
{% load compress %}
<script>
    var PASSWORDS_DONT_MATCH_MESSAGE = "{% text_snippet 'passwords_dont_match' %}";
</script>
{% compress js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/registration/password_reset_new.js"></script>
{% endcompress %}
{% endblock %}

{% block content_area %}
    {% if validlink %}
        <div class="simple_block centered">
            <h1>Choose New Password</h1>
            <form id="choose_new_password_form" method="POST" action="" autocomplete="off">
                {% csrf_token %}
                <table class="form_table grande">
                    {% for field in form %}
                        <tr>
                            <th>{{ field.label_tag }}</th>
                            <td>
                                <div class="errorspace">{{ field.errors }}</div>
                                {{ field }}
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <th></th>
                        <td class="error_section error">
                            {{form.non_field_errors}}
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <input class="button" type="submit" value="Reset password" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    {% else %}
        <div class="simple_block">
            <h1>Invalid Password Reset Link</h1>
            <p class="simple_block">
                This password reset link was invalid. Go <a href="{% url password_reset %}">request a new one</a>!
            </p>
        </div>
    {% endif %}
{% endblock %}