{% extends "base.html" %}

{% block title %}
Password Reset |
{% endblock %}

{% block metadata %}
{{ block.super }}
{% load compress %}
{% compress css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/registration/password_reset_form.css" />
{% endcompress %}
{% compress js %}
<script type="text/javascript" src="{{ STATIC_URL }}javascript/registration/password_reset_form.js"></script>
{% endcompress %}
{% endblock %}

{% block content_area %}
<div class="simple_block">
    <h1>Password Reset</h1>
    <form id="password_reset_form" method="POST" action="" autocomplete="off">
        {% csrf_token %}
        <table class="form_table grande">
            <tr>
                <th>{{form.email.label_tag}}</th>
                <td>
                    <div class="errorspace">{{form.email.errors}}</div>
                    {{form.email}}
                </td>
                <td class="info">
                    <p>A password reset link will be sent to you.</p>
                </td>
            </tr>
          	<tr>
                <th></th>
                <td colspan="2" class="error_section error">
                    {{form.non_field_errors}}
                </td>
            </tr>
            <tr>
                <th></th>
                <td>
                    <input id="password_reset_form_submit_button" class="button" type="submit" value="Reset password" />
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}