<!--
Developers : Dmitrij Petters,
All code is property of original developers.
Copyright 2011. All Rights Reserved.
-->

{% extends "base.html" %}

{% block title %}
| Password Successfully Changed
{% endblock %}

{% block metadata %}
{{block.super}}
<link rel="stylesheet" href="{{ STATIC_URL }}css/registration/password_successfully_changed.css" />
{% endblock metadata %}

{% block content_area %}
<div id="password_successfully_changed_block">
	<h1 id="password_successfully_changed_block_title">Password Successfully Changed</h1>
	<p class="message_section">
		You have successfully changed your password.
	</p>
	<a id="back_to_home_link" href="/">Back to Home</a>
</div>
{% endblock %}