#logo{
    max-width:180px;
}
#logo_label{
    margin-bottom:45px;
}
#profile_form .main_block_content{
    padding: 10px 20px 0px 25px
}

#profile_form .form_table{
    padding-left:18px;
    padding-right:20px;
}
#profile_form .form_table th label{
    margin-bottom:6px;
}
#profile_form .form_table th #logo_label{
    margin-bottom:33px;
}
#profile_form .form_table th{
    padding-left:10px;
}
#profile_form #short_url_label_cell{
    min-width:70px;
}
#profile_form #offered_job_types_label_cell{
    min-width:110px;
}
#pg2 .form_table th{
    min-width:107px;
}
#profile_form .form_table th.vertical_align_top{
    padding-top:25px;
}

#profile_form input[type="text"]{
    width:240px;
}
#profile_form select{
    width:250px;
}
#profile_form #id_slug{
    width:168px;
}
#profile_form #cke_id_description {
    width: 736px !important;
    margin-top: 3px;
}
#profile_form .profile_form_side_info {
    padding: 15px 0px 0px 25px;
    vertical-align:top;
}
#profile_form .error[for=id_description] {
    top:20px;
    left:76px;
}

/* Multiselect Overrides */
.industries_multiselect .ui-multiselect-all{
    display:none;
}