/*
 Developers : Dmitrij Petters,
 All code is property of original developers.
 Copyright 2011. All Rights Reserved.
 */

.main_block {
    width:760px;
}
.side_block {
    width:200px;
}
#search_form label[for="search_form_submit_button"] {
    margin-top: 2px;
}
#query_field_wrapper {
    display:inline-block;
    position: relative;
}
#query_field {
    height:22px;
    vertical-align:middle;
    width:300px;
    padding-left:6px;
    font-size:15px;
    behavior: url(/static/lib/pie/PIE.htc);
    box-shadow: inset 2px 2px 2px #DDDDDD;
    -moz-box-shadow: inset 2px 2px 2px #DDDDDD;
    -webkit-box-shadow: inset 2px 2px 2px #DDDDDD;
}
label[for=search_form_submit_button] {
    position: absolute;
    left: 9px;
    line-height: 28px;
    font-size: 15px;
    color: #CCC;
    font-weight: normal;
}
#search_form_submit_button {
    vertical-align:middle;
    height: 32px;
    line-height: 32px;
}

#search_form a {
    vertical-align:middle;
    margin-right: 0;
    line-height:32px;
}
