#side_block_area {
    width:330px;
    position:relative;
}
#side_block_area .side_block{
    margin-bottom:11px;
}
#side_block_area .select_wrapper {
    float:right;
    margin-right:4px;
}
#side_block_area .select_wrapper select {
    width:180px;
}
#side_block_area .slider_section {
    margin-bottom:5px;
    padding-left:3px;
}
#side_block_area .slider_section input {
    color:black;
    border:0;
    background-color:transparent;
}
#side_block_area .slider_section div {
    top:5px;
    margin-right:17px;
    float:right;
    width:175px;
}
#side_block_area button.ui-multiselect[type="button"] {
    margin-bottom:5px;
}
#filtering_block .side_block_content, #student_list_block .side_block_content {
    padding:0;
}
#search_section, #student_list_section, #resume_book_block .side_block_content {
    background: #EEEEEE;
    border-top:1px solid white;
}
#student_list_section {
    padding:5px 0px 0px 5px;
}
#id_student_list{
    width:318px;
}
#resume_book_block .side_block_content{
    padding:5px;
}
#search_section {
    border-bottom: 1px solid #CCCCCC;
    padding:5px 0px 5px 4px
}
#query_field {

    height:22px;
    vertical-align:middle;
    width:95%;
    padding-left:6px;
    color: #303030;
    font-size:15px;
    box-shadow: inset 2px 2px 2px #DDDDDD;
    -moz-box-shadow: inset 2px 2px 2px #DDDDDD;
    -webkit-box-shadow: inset 2px 2px 2px #DDDDDD;
}

#search_form_submit_button {
    height:30px;
    position:relative;
}

#sat_m_filter_section.slider_section div, #sat_v_filter_section.slider_section div, #sat_w_filter_section.slider_section div{
    width:130px;
}
#academic_info_section label, #test_scores_section label {
    padding-right:0px;
}
#id_gpa, #id_act {
    width:20px;
}
#id_sat_t {
    width:29px;
}
#id_sat_m, #id_sat_v, #id_sat_w {
    width:22px;
}
.student_deliver_resume_book_link {
    width:68px;
    float:right;
    height:28px;
    line-height:26px;
}
#students_in_resume_book_student_list_link_section{
    background:#FFF;
    padding:2px 0 2px 8px;
    width:236px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius:3px;
    vertical-align:middle;
    display:inline;
    height:24px;
    line-height:24px;
}
#students_in_resume_book_student_list_link{
    margin-left:3px;
}
#students_in_resume_book_student_list_link_section #ajax_form_submit_loader{
    position:static;
    margin-right:7px;
    float:right;
}
#results_block_content {
    min-height:700px;
}
#num_of_results {
    font-size:26px;
}
#results_block_info_section {
    display:none;
    position:absolute;
    top:190px;
    width:650px;
    text-align:center;
    z-index:100;
}
#results_block_info {
    font-weight:bold;
    background:#FAFAFA;
    border:1px solid #888;
    margin-left:auto;
    margin-right:auto;
    padding:6px 6px 3px 6px;
    width:220px;
    -moz-border-radius: 5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
#results_block_info p{
    margin-bottom:3px;
}
#no_results_block {
    height:600px;
    line-height:370px;
    text-align:center;
}
#no_results_message {
    vertical-align:middle;
}
#results_block {
    margin-left:320px;
    padding-left:15px;
}
.results_navigation_section {
    margin-top:10px;
    float:right;
}
#results_menu {
    padding-bottom:5px;
    padding-top:5px;
    border-bottom:1px solid #CCC;
}
#results_menu_checkbox_menu_button ul {
    width:123px
}
#results_menu_checkbox {
    margin-right:1px;
    margin-bottom:2px;
    vertical-align:middle;
}
#results_menu_more_actions span{
    font-weight:normal;
}
#results_menu_more_actions img {
    margin-right:2px;
    margin-left:2px;
}
#results_menu_toggle_details {
    float:right;
}
#results {
    border-bottom:1px solid #CCC;
}
.student_event_attendance_bubble{ 
    position: absolute;
    z-index:200;
    background:#FFF;
    border:1px solid #CCC;
    padding:8px 8px 4px 8px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: #888 3px 3px 2px 1px;
    color: #444;
}
.student_event_attendance_list{
    list-style:inside;
}
.events_dropdown {
    position: absolute;
    padding: 5px;
    background-color: #FFF;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid #CCC;
    box-shadow: #888 2px 2px 2px 0f;
    color: #444;
    right: 0;
    z-index: 200;
}
.events_dropdown:hover {
    color: #444;
}
.events_dropdown a {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 200px;
    display: inline-block;
    text-align: right;
}
.events_dropdown a.disabled,
.events_dropdown a.disabled:hover {
    color: #AAA;
}

#invite-dialog p {
    padding: 10px 5px;
}
#invite_text {
    width: 380px;
    display: block;
    margin: 0 auto;
}