/*
 Developers : Dmitrij Petters,
 All code is property of original developers.
 Copyright 2011. All Rights Reserved.
 */


#side_block_area{
    width:330px;
    position:relative;
}
.select_wrapper{
    float:right;
    margin-right:4px;
}
.select_wrapper select {
    width:180px;
}

/* A big block is what you can use instead of multiple main blocks */
/* For example, the results for student filtering appear in a blank block */
.big_block {
    padding-left:15px;
}
.big_block_header {
    padding-bottom:3px;
}
.big_block_header_title {
    font-weight:normal;
    font-size:26px;
}
.big_block_header_links {
    float:right;
}
.big_block_content {
}

.add_to_resume_book_area_active {
    border-top:1px solid #AAAAAA;
    font-weight:bold;
    color:#000000
}
.add_to_resume_book_area_hover {
    background-color:#F9F9F9;
}


#filtering_block .side_block_content, #student_list_block .side_block_content {
    padding:0;
}

#search_section, #student_list_section {
    background: #EEEEEE;
    border-top:1px solid white;
}

#student_list_section{
	padding:7px 0px 3px 5px
}

#search_section{
    border-bottom: 1px solid #CCCCCC;
    padding:5px 0px 5px 4px
}

#query_field {
    height:22px;
    vertical-align:middle;
    width:240px;
    padding-left:6px;
    color: #303030;
    font-size:15px;
    behavior: url(/static/lib/pie/PIE.htc);
    box-shadow: inset 2px 2px 2px #DDDDDD;
    -moz-box-shadow: inset 2px 2px 2px #DDDDDD;
    -webkit-box-shadow: inset 2px 2px 2px #DDDDDD;
}

#search_form_submit_button {
    height:30px;
    top:2px;
    position:relative;
}
.slider_section {
    margin-bottom:5px;
    padding-left:3px;
}

.slider_section input {
    color:black;
    border:0;
    background-color:transparent;
}

.slider_section div {
    top:5px;
    margin-right:17px;
    float:right;
    width:175px;
}

#sat_m_filter_section div, #sat_v_filter_section div, #sat_w_filter_section div{
	width:130px;
}
#academic_info_section label, #test_scores_section label{
	padding-right:0px;
}

#id_gpa, #id_act{
    width:20px;
}
#id_sat_t{
    width:29px;
}
#id_sat_m, #id_sat_v, #id_sat_w{
    width:22px;
}


button.ui-multiselect[type="button"] {
    margin-bottom:5px;
}

#results_block {
    position:relative;
    margin-top:8px;
    margin-left:320px;
}
#results_navigation_section {
    margin-top:10px;
}
#results_menu {
    padding-bottom:5px;
    padding-top:5px;
}
#results_menu_checkbox_section {
    padding:5px 4px 2px 6px;
}
#results_menu_checkbox_section_dropdown {
    margin-right:2px;
}
#results_menu_checkbox {
}
#results_menu_toggle_details {
    float:right;
}
#results_block_info_section {
    display:none;
    position:absolute;
    top:180px;
	width:650px;
	text-align:center;
    z-index:100;
}
#results_block_info{
	background:#FFF;
	border:2px solid black;
	margin-left:auto;
	margin-right:auto;
	padding:6px;
	width:220px;
    -moz-border-radius: 7px;
    -webkit-border-radius:7px;
    border-radius:7px;
    behavior: url(/static/lib/pie/PIE.htc);
}
#results_block_info #dialog_loader{
	margin-top:3px;
}
#no_results_block {
    height:600px;
    line-height:370px;
    text-align:center;
}
#no_results_message {
    vertical-align:middle;
}
#results_section {
    min-height:700px;
}
#results_section .main_area_header {
    border-bottom:none;
}
#results {
    border-bottom:1px solid #CCC;
}
.page_link, .current_page_link, .disabled_page_link {
    margin-top:1px;
    font-size: 12px;
    border:1px solid #303030;
    padding:2px;
    text-decoration:none;
}
.page_link:hover {
    background-color:#EEEEEE;
}
.disabled_page_link {
    color:#CCCCCC;
    border:1px solid #CCCCCC;
}
.disabled_page_link:hover {
    cursor:default;
    color:#CCCCCC;
}
.current_page_link {
    font-weight:bold;
    background:#C6D5FF;
}
.student_main_info {
    padding-bottom:10px;
    padding-top:10px;
    border-top: 1px solid #CCC;
}
.student_detailed_info {
    background-color:#FBFBFB;
    border-top: 1px solid #E9E9E9;
    padding: 7px 7px 7px 49px;
    text-align:left;
}
.student_main_info_table, .student_detailed_info_table {
    width:100%;
}
.student_number {
    font-weight:bold;
    font-size:16px;
}
.student_drag_anchor {
    cursor:move;
    vertical-align:middle;
}
.student_name, .student_drag_div {
    font-size:20px;
}
.student_drag_div {
    background:#EEE;
    padding:3px 5px 3px 5px;
    font-weight:bold;
    border:1px solid #CCC;
    behavior: url(/static/lib/pie/PIE.htc);
    box-shadow:0 1px 2px #888888;
    -moz-box-shadow:0 1px 2px #888888;
    -moz-box-shadow: 0px 1px 2px #888888;
    -moz-border-radius: 3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}
.student_checkbox_cell {
    width:7%;
}
.student_checkbox {
    position:relative;
    vertical-align:middle;
    left:4px;
}
.student_name_cell {
    width:64%;
}
.student_year {
    position:relative;
    bottom: 1px;
}
.student_is_citizen_cell {
    width:13%;
}
.student_resume_cell {
    width:12%;
}
.view_student_detailed_info_link_cell {
    text-align:right;
}
.student_detailed_info_table {
    display:table;
}
.student_detailed_info_row {
    display:table-row;
}
.student_detailed_info_row > div {
    padding-bottom: 7px;
}
.student_general_cell {
    display:table-cell;
    width:60%;
}
.student_scores_cell {
    display:table-cell;
    width:31%;
}
.student_general_cell strong, .student_scores_cell strong {
    line-height:19px;
}
.student_campus_orgs_cell {
    display:table-cell;
}
.student_languages_cell {
    display:table-cell;
}
.student_previous_employers_cell {
    display:table-cell;
}
.student_industries_of_interest_cell {
    display:table-cell;
}
.student_campus_orgs_cell strong, .student_languages_cell strong, .student_previous_employers_cell strong, .student_industries_of_interest_cell strong {
    line-height:20px;
}