#resume_book_summary{
    background:#EEE;
    border-radius:3px;
    margin-left:auto;
    margin-right:auto;
    padding:4px 8px;
    text-align:center;
    width:282px;
}
.email_delivery_type_only_field{
    display:none;
}
.deliver_resume_book_dialog .dialog_content_wrapper{
    padding:10px 0px 18px;
}
#deliver_resume_book_form #id_name, #deliver_resume_book_form #id_emails{
    width:190px;
}
#deliver_resume_book_form #id_emails{
    height:17px;
}
#deliver_resume_book_form .form_table{
    width:100%;
}
#deliver_resume_book_form input[type=submit]{
    width:72px;
}
#resume_book_status_div{
    float:left;
    width:199px;
    border-left:1px solid #666;
    width:92px;
}
#resume_book_status_div, #resume_book_contents_div{
    float:left;
    height:35px;
    line-height:17px;
}
#resume_book_contents_div{
    width:133px;
    padding-right:8px;
}
#resume_book_status_div{
    border-left:1px solid #000;
    padding-left:8px;
    width:132px;
}
#resume_book_contents_header, #resume_book_status_header{
    color:#000;
    font-weight:bold;
    text-decoration:underline;
}
.deliver_resume_book_dialog #id_emails_th{
    vertical-align:top;
}
.deliver_resume_book_dialog label[for='id_emails']{
    margin-top:24px;
}