.offered_job_types {
    display: inline-block;
    border-left: 1px solid #DDD;
    padding-left: 10px;
    margin-left: 8px;
}
.employer_industries {
    margin: 0 2px 2px 0;
}
div .employer_name {
    margin-bottom: 10px;
}
.employer_industries div {
    margin-bottom: 13px;
}
#visibility_note{
    margin-bottom:15px;
}
#logo_and_buttons{
    text-align: center;
    width:150px;
}
#logo_and_buttons .button{
    height:30px;
    line-height: 29px;
    width:134px;
    margin: 5px 0;
}
#employer_info {
    margin-right: 150px;
}
#employer_description {
    padding: 10px 0 10px 0;
    clear: both;
    margin-top: 10px;
    line-height: 17px;
    font-size: 12px;
}
#employer_description * {
    color:#666;
    line-height:16px;
    font-size:12px;
}
#employer_description ul{
    list-style:inside;
    margin-left:10px;
}
#offered_job_types {
    font-size: 14px;
}
.logo {
    display: block;
    max-width: 150px;
}
#no_upcoming_events_or_deadlines{
    padding:14px 0px;
    border-bottom:1px solid #DDD;
}