.event_list .description {
    padding: 0px;
}
.event_list .event_description {
    padding:15px;
    background-color: #F9F9F9;
}
.event_list {
    width: 100%;
    border: 1px solid #DDDDB2;
    border-spacing: 0;
    border-collapse: collapse;
    margin-bottom:10px;
}
.event_list tr {
    padding-bottom: 5px;
    border-bottom: 1px solid #CCC;
}
.event_list tr.odd {
    background: #FFF;
}
.event_list tr.even {
    background: #E8F2FE;
}
.event_list td {
    margin: 0;
    padding: 5px;
    vertical-align: top;
}
.event_list td.right {
    text-align: right;
}