#search_and_filtering_table{
    border-collapse: collapse;
    width:100%;
    margin-top:10px;
}
#search_and_filtering_table th{
    padding: 10px 0px;
    text-align: left;
    text-transform: uppercase;
}
#search_and_filtering_table th label{
    margin-bottom:0px;
}
#search_and_filtering_table td{
    width:1%;
}
#id_default_student_results_per_page, #id_default_student_result_ordering{
    width:160px;
}


#subscription_info{
    padding:5px 5px;
}
#subscription_name{
    font-size:22px;
}
#subscription_status{
    color: #FFF;
    background:#468847;
    font-size: 12px;
    font-weight:bold;
    margin-left:2px;
    padding: 1px 4px 2px;
    vertical-align: top;
    -webkit-border-radius: 3px;
    -moz-border-radius:3px;
    border-radius: 3px;
    white-space:nowrap;
    text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
}
#subscription_info .past_due {
    background:#F89406;
}
#subscription_info .unpaid{
    background:#B94A48;
}
#upgrade_subscription{
    float:right;
    margin-top:5px;
}

#employer_other_recruiters{
    margin-top:5px;
    list-style:inside none;
}
#employer_other_recruiters li{
    padding:5px 8px;
    border-top:1px solid #EEE;
}
#employer_other_recruiters li.even{
    background:#EFEFEF;
}
li#no_recruiter_accounts{
    padding:10px 0px;
    text-align:center;
    border-bottom:1px solid #EEE;
}
.create_recruiter_dialog .dialog_content_wrapper{
    padding:10px;   
}
.create_recruiter_dialog .dialog_content_wrapper .note{
    text-align:center; 
}
#create_recruiter_form .form_table{
    width:100%;
}
#create_recruiter_form .button_cell{
    padding:5px 0px;
}
#create_recruiter_form th{
    width:150px;
}
.account_deletion_dialog .dialog_content_wrapper{
    text-align:center;
    padding:10px;
}
.account_deletion_dialog .button{
    width:100px;
}
#transactions table{
    width: 100%;
    text-align:center;
}
#transactions table th, #transactions table td{
    padding: .4em;
    width:25%;
}
#transactions table, #transactions table th, #transactions table td{
    border:1px solid #CCC;
}
#transactions table th{
    background-color:#EEE;
}
#transactions table tr.payment{
    background-color:#EEFFED;
}
#transactions table tr.refund{
    background-color:#FFEEE0;
}
#no_past_payments{
    text-align:center;
}
#charge_summary{
    text-align:right;
    margin-top:10px;
}
#view_all_receipts{
    margin-right:30px;
}
#charge_total{
    margin-right:75px;
}
