img{
    cursor: pointer;
}
.email_delivery_type_only_field, .noshow{
    display:none;
}
.deliver_resume_book_dialog .dialog_content_wrapper{
    padding:10px 0px 18px;
}
#deliver_resume_book_form #id_name, #deliver_resume_book_form #id_emails{
    width:190px;
}
#deliver_resume_book_form #id_emails{
    height:17px;
}
#deliver_resume_book_form .form_table{
    width:100%;
}
#deliver_resume_book_form input[type=submit]{
    width:72px;
}
#resume_book_contents_header{
    color:#000;
    font-weight:bold;
    text-decoration:underline;
}
#delivery_selection_text{
    width: 190px;
    margin: 10px;
    color: #6E97B9;
}
#book_delivery_type, #bundle_delivery_type{
    margin-left: 25px;
}
#email_delivery_type{
    width: 1.4em;
    height: 1.4em;
    vertical-align: top;
}
.optional_service{
    height: 21px;
}
.deliver_resume_book_dialog #id_emails_th{
    vertical-align:top;
}
.deliver_resume_book_dialog label[for='id_emails']{
    margin-top:24px;
}
.delivery_selection{
    background-color: #DADADA;
    border-radius: 3px 3px 3px 3px;
    border: 1px solid #CCCCCC;
}