/*
 Developers : Dmitrij Petters,
 All code is property of original developers.
 Copyright 2011. All Rights Reserved.
 */

#new_event_form_block .main_block_header {
    text-align:center;
}
#new_event_form_block .main_block_content {
    padding: 20px;
}
#new_event_form select {
    width:204px;
}
#new_event_form input[type=text], input[type=password] {
    width:200px;
}
#new_event_form #id_days, #new_event_form #id_hours, #new_event_form #id_minutes {
    width:65px;
    margin-right:5px;
}
.duration_field_label {
    border:none;
}
#new_event_form label[for=id_description] {
    border-right:none;
    padding-left:0px !important;
    text-align: left;
}
#new_event_form .error[for=id_description] {
    top:18px;
    left:88px;
}
#new_event_form #id_description {
    width: 350px;
    height: 80px;
    margin-top:3px;
}
#datepicker, .ui-datepicker-calendar .ui-state-default {
    border:1px solid #808080
}
#datepicker, .ui-datepicker-calendar .ui-state-active {
    border:1px solid black;
    background:#606060;
    color:white;
}
#datepicker .ui-datepicker-current {
    font-weight:bold;
    border:1px solid #808080;
    color:black;
}
#pickerplug .ui-icon-closethick {
    cursor:pointer;
    border-right:1px solid #808080;
    border-bottom:1px solid #808080;
    border-top:1px solid #808080;
}
.new_event_form_col {
    width: 50%;
    display: inline-block;
    float: left;
}
div.description {
    clear: both;
    padding-top: 20px;
}

#event_scheduler_day {
    padding: 5px 5px 2px;
    font-size: 12px;
    color: #333;
}
#event_scheduler_day span {
    font-weight: 600;
}
#event_scheduler {
    height: 200px;
    padding: 5px;
    overflow-y: scroll;
    position: relative;
    width: 350px;
}
#event_scheduler table {
    width: 100%;
    border-collapse: collapse;
}
#event_scheduler th {
    font-weight: normal;
    text-align: right;
    width: 40px;
    vertical-align: top;
    border-style: solid;
    border-width: 1px;
    border-color: #F2F2F2 gold #F2F2F2 #F2F2F2;
    padding: 3px;
    color: #666;
    font-size: 11px;
}
#event_scheduler td {
    height: 15px;
}
#event_scheduler tr:nth-child(odd) td {
    border-style: solid;
    border-width: 1px;
    border-color: #DDD #EEE #EEE;
}
#event_scheduler tr:nth-child(even) td {
    border-style: solid;
    border-width: 1px;
    border-color: #EEE #EEE #DDD;
}

.event_block {
    position: absolute;
    left: 60px;
    right: 13px;
    min-height: 8px;
    color: #FFF;
    padding: 4px 0 0 4px;
}
.gray {
    background-color: #CCC;
    border: 2px dashed #666;
}
.green {
    background-color: #B08B59;
    border: 2px dashed #000;
}
#event1 {
    top: 421px;
    height: 24px;
}
#event2 {
    top: 486px;
    height: 40px;
}
#event3 {
    top: 598px;
    height: 40px;
}
#yourevent {
    top: 549px;
    height: 29px;
}
