#employers_list_block .main_block_content {
    padding: 0;
    position: relative;
}
#employers_list_form_wrapper {
    height: 40px;
    line-height: 40px;
    background-color: #EEE;
}
#employers_list_form {
    position: relative;
    margin-left: 5px;
}
#employers_list_form select, #employers_list_form input[type=checkbox]{
    margin-left:3px;    
}
#employers_list_form input[type=checkbox]{
    position:relative;
    top:2px;
}
#employers_list_form #ajax_form_submit_loader{
    margin-left:10px;
    margin-top:11px;
}
#employers_listings {
    float: left;
    background-color: #EEE;
    padding: 0 0 10px;
    width: 200px;
}
#employers_listings .employers_listing {
    padding: 5px;
}
#employers_listings .employers_listing:hover {
    background-color: #F6F6F6;
    cursor: pointer;
}
#employers_listings .selected {
    background-color: #FFF;
}
#employers_listings .selected:hover {
    background-color: #FFF;
}
#employers_listings .employers_listing h2 {
    font-size: 14px;
}
#employers_listings .description_preview {
    overflow-x: hidden;
    white-space: nowrap;
    width: 198px;
    display: inline-block;
    color: #777;
    text-overflow: ellipsis;
}
#employers_detail {
    margin-left: 243px;
    min-height: 400px;
    padding: 10px;
    overflow: hidden;
    width: 760px;
}
