/*
 Developers : Dmitrij Petters,
 All code is property of original developers.
 Copyright 2011. All Rights Reserved.
 */

#query_field {
    padding-top:4px;
    height:26px;
    position:relative;
    top:3px;
}