/*
 Developers : Dmitrij Petters,
 All code is property of original developers.
 Copyright 2011. All Rights Reserved.
 */

.ui-tabs {
	padding:0px;
}
.ui-tabs .ui-tabs-panel {
	padding:0px;
}
.dataTables_wrapper {
	min-height:0;
}
#tabs .ui-widget-header {
	background:none;
	border:none;
	color:black;
}
.paging_full_numbers span.paginate_button {
	background-color:transparent;
}
.paging_full_numbers span.paginate_button, .paging_full_numbers span.paginate_active {
	behavior: url(/site_media/lib/pie/PIE.htc);
	-webkit-border-radius:3px;
	border-radius:3px;
	-moz-border-radius: 3px;
}
.paging_full_numbers span.paginate_active {
	font-weight:bold;
}
.menu_bar {
	border-top:1px solid #CCC;
	padding-bottom:7px;
	padding-top:7px;
}
#events_table_filter input {
	height:20px;
}
#upcoming_events_table_filter, #past_events_table_filter {
	display:inline-block;
	float:none;
	width:inherit;
}
#upcoming_events_table_paginate, #past_events_table_paginate {
	display:inline-block;
	float:none;
}
table.display thead th {
	background:-moz-linear-gradient(#F0F0F0, #F0F0F0, #DDD, #F0F0F0);
	border:1px solid #D3D3D3;
}
table.display tbody {
	border:1px solid #CCC;
}
