#login_button a, #signup_button a {
    background: #555555; /* Old browsers */
    background: -moz-linear-gradient(top, #555555 0%, #333333 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#555555), color-stop(100%,#333333)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #555555 0%,#333333 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #555555 0%,#333333 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #555555 0%,#333333 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555555', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #555555 0%,#333333 100%); /* W3C */
    color: #FFF;
    border: 1px solid #333;
    border-radius:3px;
    -moz-box-shadow: inset 1px 1px 0px rgba(255,255,255,0.3);
    -webkit-box-shadow: inset 1px 1px 0px rgba(255,255,255,0.3);
    box-shadow: inset 1px 1px 0px rgba(255,255,255,0.3);
}
#login_button a:hover, #signup_button a:hover{
    background: #555555; /* Old browsers */
    background: -moz-linear-gradient(top,  #555555 0%, #444444 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#555555), color-stop(100%,#444444)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #555555 0%,#444444 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #555555 0%,#444444 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #555555 0%,#444444 100%); /* IE10+ */
    background: linear-gradient(top,  #555555 0%,#444444 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555555', endColorstr='#444444',GradientType=0 ); /* IE6-9 */
}
#login_button a.um-active, #login_button a.um-pressed, #signup_button a.um-active {
    background: #333333;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
}
#login_wrapper {
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: absolute;
    top: 5px;
    right: 15px;
    background: white;
    padding: 10px 5px 9px 12px;
    border: 2px solid #CCC;
    -moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    width: 208px;
    z-index:100;
    display:none;
}
#login_wrapper_pointer{
    position: absolute;  
    width: 0;  
    height: 0;  
    left: 30px;  
    top: -12px;
    border: 10px solid;  
    border-color: transparent transparent #CCC #CCC;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=-0.7071067811865475, M12=-0.7071067811865476, M21=0.7071067811865476, M22=-0.7071067811865475, sizingMethod='auto expand');
    zoom: 1;
}
#login_wrapper #login_form input {
    margin: 3px 0;
    padding: 5px;
}
#login_wrapper #login_form #id_password {
    margin-bottom:0px;
}
#login_wrapper #login_form #password{
    margin-bottom:10px;
}
#login_wrapper #reset_password_link{
    margin-left:4px;
}