.right_side_container{
    width:235px;
}

#login_button a {
    behavior: url(/static/lib/pie/PIE.htc);
    background-image: -moz-linear-gradient(#555, #333);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#555), to(#333));
    -pie-background: linear-gradient(#555, #333);
    color: #33BFE4;
    text-shadow: #000 0 -1px 0;
    border: 1px solid #000;
    -moz-box-shadow: inset 1px 1px 0px rgba(255,255,255,0.3);
    -webkit-box-shadow: inset 1px 1px 0px rgba(255,255,255,0.3);
    box-shadow: inset 1px 1px 0px rgba(255,255,255,0.3);
}
#login_button a:hover {
    behavior: url(/static/lib/pie/PIE.htc);
    background-image: -moz-linear-gradient(#707070, #333);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#707070), to(#333));
    -pie-background: linear-gradient(#707070, #333);
    color: #33BFE4;
}

#loginWrapper {
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: absolute;
    top: 6px;
    right: 150px;
    background: white;
    padding: 10px;
    border: 2px solid #CCC;
    -moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    width: 200px;
}
#loginWrapper:before {
    content: ' ';  
    position: absolute;  
    width: 0;  
    height: 0;  
    left: 30px;  
    top: -10px;  
    border: 10px solid;  
    border-color: transparent transparent #CCC #CCC;
    -webkit-transform: rotate(-225deg); 
    -moz-transform: rotate(-225deg);
}
#login_form input {
    margin: 3px 0;
    padding: 5px;
}
#login_form .errorspace {
    position: absolute;
    left: -146px;
    height: 20px;
    width: 150px;
    margin-top: 28px;
}
#login_form .errorspace label {
    background: white;
    padding: 5px 3px;
    border-left: 2px solid #CCC;
    border-top: 2px solid #CCC;
    border-bottom: 2px solid #CCC;
    width: 92%;
    text-align: right;
    border-radius: 3px;
    -moz-border-radius: 3px;
}

#reset_password_link{
	float:right;
	margin:6px 8px 0 0;
}

.fade_input_label {
    position: relative;
}
.fade_input_label label {
    position: absolute;
    left: 5px;
    top: 10px;
    font-weight: normal;
    color: #AAA;
}
.fade_input_label input {
    position: relative;
    background: transparent;
}