#login_button a:focus, #signup_button a:focus {
    outline:none;
}
#login_button a.um-pressed{
    background-color: #222222;
}

#login_wrapper {
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: absolute;
    top: 5px;
    right: 15px;
    background: white;
    padding: 10px 5px 9px 12px;
    border: 2px solid #CCC;
    -moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    width: 208px;
    z-index:100;
    display:none;
}
#login_wrapper_pointer{
    position: absolute;  
    width: 0;  
    height: 0;  
    left: 30px;  
    top: -12px;
    border: 10px solid;  
    border-color: transparent transparent #CCC #CCC;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=-0.7071067811865475, M12=-0.7071067811865476, M21=0.7071067811865476, M22=-0.7071067811865475, sizingMethod='auto expand');
    zoom: 1;
}
#login_wrapper #login_form input {
    margin: 3px 0;
    padding: 5px;
}
#login_wrapper #login_form #id_password {
    margin-bottom:0px;
}
#login_wrapper #login_form #password{
    margin-bottom:10px;
}
#login_wrapper #reset_password_link{
    margin-left:4px;
}