/*
 Developers : Dmitrij Petters,
 All code is property of original developers.
 Copyright 2011. All Rights Reserved.
 */

#content_area{
	padding-top:0px;
}

 #bottom_info_block {
     text-align:center;
 }

 /* NEW HOMEPAGE STYLES */
 #homePage {
     background: url('/static/images/home/bg.png') repeat-x;
     padding-top: 40px;
     width: 100%;
 }
 #homepageTitle {
     font-family: 'PT Serif', serif;
     text-align: center;
     font-size: 60px;
     text-shadow: #444 0 -1px 0;
     color: #444;
     text-transform: uppercase;
 }
 #homepageTitle span {
     font-size: 30px;
 }
 #tagline {
     text-align: center;
     font-size: 30px;
     text-transform: uppercase;
     text-shadow: #FFF 0 1px 0;
     color: #555;
     font-family: 'Lato', 'Arial', sans-serif;
 }
 #ss {
     text-align: center;
 }
 #signup {
     text-align: center;
 }
 .homeInfo {
     width: 360px;
     float: left;
 }
 .homeInfo h2 {
     font-family: 'PT Serif', serif;
     font-size: 40px;
 }
 .homeInfo .subtitle {
     font-size: 24px;
     font-weight: 400;
     font-family: 'PT Serif', serif;
 }
 .homeInfo ul {
     font-size: 16px;
     margin-top: 5px;
     margin-left: 20px;
     line-height: 22px;
     color: #666;
 }
 .homeInfo li {
     margin: 5px 5px 0 0;
 }
 #employerInfo {
     margin-left: 165px;
 }
 .homeInfo p {
     padding: 10px 0;
 }
 #signup p {
     font-family: "PT Serif", serif;
     font-size: 16px;
     padding-bottom: 3px;
 }

 .longInfo {
     clear: both;
 }

 .longInfo {
     width: 700px;
     margin: 20px auto 0;
 }
 #events_block td {
     padding: 5px 8px;
     vertical-align: top;
     border: none;
 }
 #events_block td.main .name {
     font-size: 16px;
     font-weight: bold;
     color: #444;
 }
 #events_block td.main .details {
     color: #999;
     margin-left: 20px;
 }