* {
    margin: 0;
    padding: 0;
}
.tipsy {
    font-size: 12px !important;
}
html {
    overflow-y: scroll;
}
html, body {
    font-size: 13px;
    font-family: Arial, sans-serif;
    color: #303030;
}
img {
    border: none;
}
h1 {
    font-family: 'Lato', 'Arial', serif;
    font-size: 35px;
    color: #333;
}
h2 {
    font-size: 20px;
    text-shadow: #FFF 0 1px 0;
    color: #444;
}
h3 {
    color: #555;
    margin: 10px 0 5px;
}
p{
    font-size: 12px;
    line-height: 17px;
    color: #666;
}
.grande p {
    font-size: 14px;
    margin: 20px 0;
}
.grande span {
    font-size: 14px;
}
.content p {
    padding: 5px 0;
}
.light {
    color: #888;
}
.centered {
    text-align: center !important;
}
.ready {
    color: #00B20E;
}
label {
    padding-right: 5px;
    font-size: 12px;
    font-weight: bold;
}
label: not(.required) {
    padding-right: 8px;
}
#message_area {
    text-align: center;
}
#message_area p {
    display: inline;
    background: #7AA7CC;
    border-radius: 3px 3px 0px 0px;
    bottom: 19px;
    color: white;
    font-weight: bold;
    padding: 3px 11px 2px;
    position: relative;
}
.below_header_message {
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(242,242,242,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(242,242,242,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* W3C */
    text-shadow: 0 1px 0 #FFF;
    text-align: center;
    font-weight: bold;
    color: #000;
    border: 1px solid #AAA;
    position: absolute;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin-top: 8px;
}
.width_container {
    position: relative;
    width: 986px;
    margin: 0 auto;
}
#header_area {
    background: url('/static/images/layout/backgrounds/nav_bg.png') repeat-x transparent;
    min-width: 986px;
    text-align: center;
    height: 60px;
}
#header_area .width_container {
    text-align: left;
    position: relative;
    z-index: 300;
}
#logo_block {
    position: relative;
    display: inline-block;
}
#logo_beta {
    display: inline-block;
    left: 176px;
    bottom: 33px;
    position: absolute;
    color: #FAFAFA;
    padding: 1px 4px 2px;
    text-transform: uppercase;
    font-size: 14px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
#logo_beta:hover {
    cursor: pointer;
}
#logo_image {
    margin-top: 6px;
    margin-left: 8px;
    height: 52px;
}
#navigation_block {
    text-shadow: 0 -1px 0 black;
    float: right;
    height: 60px;
    letter-spacing: 1px;
}
#navigation_block li {
    float: left;
    list-style-type: none;
    padding-right: 2px;
    text-align: center;
    line-height: 60px;
    height: 60px;
    margin: 0 4px;
    position: relative;
}
#navigation_block a {
    display: inline-block;
    text-decoration: none;
    line-height: 31px;
    padding: 0 6px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    text-shadow: none;
    font-weight: bold;
    color: #FFF;
    font-size: 12px;
    border-radius: 2px;
}
#navigation_block a:hover {
    background: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#19FFFFFF,endColorstr=#19FFFFFF)"; /* IE8 */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#19FFFFFF,endColorstr=#19FFFFFF);   /* IE6 & 7 */
          zoom: 1;
    background-color: rgba(255,255,255,0.1);
}
#navigation_block .arrow {
    font-size: 0.8em;
}
#login_section {
    background-color: #444444;
    height: 24px;
    float: right;
    color: white;
}
#login_section a {
    color: white;
}
#login_section img {
    position: absolute;
}
#signup_button {
    float: left;
}
#below_header_area {
    min-height: 17px;
}
#content_area {
    padding-bottom: 40px;
}
.message_section {
    padding-top: 20px;
    text-align: center;
    line-height: 20px;
}
.right_side_container {
    float: right;
}
.left_side_container {
    float: left;
}
#footer_area {
    line-height: 18px;
    padding-top: 5px;
    border-top: 1px solid #c9c9c9;
    margin-top: 30px;
    font-size: 12px;
}
#footer_info_block {
    float: left;
    clear: left;
    color: #AAA;
    font-size: 11px;
    margin-left: 5px;
    padding-bottom: 10px;
}
#footer_navigation_block {
    float: left;
}
#footer_navigation_block a {
    display: inline-block;
    text-decoration: none;
    padding: 2px 5px;
}
#footer_navigation_block a:hover {
    color: #FFF;
    background-color: #BBB;
}
.div_form_above_field_label {
    font-size: 15px;
    display: inline-block;
    margin-bottom: 3px;
    color: #888;
}
input[type=text], input[type=password], select, textarea {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 4px;
    border: 1px solid #AAA;
    background-color: white;
    color: #333;
    font-family: Arial;
    font-size: 12px;
}
select {
    padding-top: 3px;
    padding-bottom: 3px;
}
input[type=text]:focus, input[type=password]:focus, select: focus, textarea: focus {
    border: 1px solid #888;
    color: #000;
}
input[type=text], input[type=password] {
    width: 190px;
}
.field_wrapper {
    position: relative;
}
.ajax_form_submit_loader {
    display: none;
    margin-left: 7px;
    margin-top: 6px;
    position: absolute;
}
.inline{
    display:inline;
}
.form_table.grande .ajax_form_submit_loader {
    margin-left: 10px;
    margin-top: 10px;
}
.form_table .button_cell {
    text-align: center;
    border-bottom: none !important;
}
.button_wrapper_with_margins {
    margin-top: 20px;
}
.back_to_link {
    float: right;
    margin-top: 5px;
}
.form_table td {
    text-align: left;
}
.form_table th {
    vertical-align: bottom;
    text-align: right;
}
.form_table th label {
    margin-bottom: 7px;
    display: block;
}
.sub_header_message {
    padding-left: 6px;
}
.form_table .info {
    width: 312px;
    padding-left: 10px;
    padding-top: 14px;
    vertical-align: top;
}
.form_table .info p {
    padding-top: 0px;
}
.form_table.grande p, .form_table.grande a {
    line-height: 24px;
    font-size: 15px;
    /* Undo the margins on p.grande */
    margin: 0px;
}
.form_table.grande {
    margin-left: auto;
    margin-right: auto;
}
.form_table.grande th label {
    margin-bottom: 6px;
}
.form_table.grande input[type=text], .form_table.grande input[type=password] {
    font-size: 20px;
    padding: 5px;
    width: 250px;
}
.form_table.grande label {
    line-height: 30px;
    font-size: 16px;
}
a {
    color: #6e97b9;
    outline: none;
}
a:hover {
    color: #557389;
}
.nounderline {
    text-decoration: none;
}
.underline {
    text-decoration: underline;
}
.no_left_margin {
    margin-left: 0px !important;
}
.no_top_margin {
    margin-top: 0px !important;
}
.no_bottom_margin {
    margin-bottom: 0px !important;
}
.no_top_padding {
    padding-top: 0px !important;
}
.no_top_border {
    border-top: 0 !important;
}
.no_right_padding {
    padding-right: 0px;
}
.no_bottom_border {
    border-bottom: 0 !important;
}
.vertical_align_top {
    vertical-align: top !important;
}
.anchor {
    clear: both;
}
#dialog_loader {
    margin-top: 30px;
    text-align: center;
}
#dialog_long_load_message {
    margin-bottom: 10px;
    min-height: 17px;
}
.clearfix::after {
    clear: both;
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
}
.hid {
    display: none !important;
}
.nowrap {
    white-space: nowrap;
}
.invisible {
    visibility: hidden !important;
}
.overflowHidden {
    overflow: hidden;
}
.private_token {
    color: #FFF;
    text-shadow: #222 0 -1px 0;
    background-color: #B00;
}
.cke_skin_kama .cke_dialog_contents {
    background: #FFF;
}
.cke_skin_kama .cke_dialog .cke_dialog_body .cke_dialog_close_button {
    background: none !important;
}
.cke_skin_kama .cke_dialog_body {
    padding: 0.2em !important;
}
#cke_33_uiElement, .cke_dialog_tabs, .cke_dialog_close_button .cke_label, .cke_skin_kama .cke_dialog_footer .cke_resizer, .cke_dialog_ui_button[title="Browse Server"]{
    display: none !important;
}
.cke_skin_kama .cke_dialog .cke_dialog_body .cke_dialog_close_button {
    display: inline !important;
    background-image: url("/static/lib/jquery_ui_custom/css/ui-lightness/images/ui-icons_303030_256x240.png?b50dc31bccb2") !important;
    background-position:-94px -128px !important;
}
.cke_skin_kama .cke_dialog .cke_dialog_body .cke_dialog_close_button {
    top: 10px !important;
}
.cke_dialog_background_cover {
    background: url("/static/lib/jquery_ui_custom/css/ui-lightness/images/ui-bg_flat_0_aaaaaa_40x100.png?b50dc31bccb2") repeat-x scroll 50% 50% #AAAAAA !important;
    opacity: 0.3 !important;
}
.cke_skin_kama .cke_dialog_title {
    padding: 8px 10px !important;
}
.cke_dialog_contents {
    margin-top: 0px !important;
    background: #FFF !important;
}
.cke_dialog_contents {
    height: 50px !important;
    padding: 0px 10px !important;
}
.cke_dialog_footer {
    background: #FFF !important;
    text-align: center !important;
}
