.icon{
    height:16px;
    width:16px;
    background: url(/static/images/icons/csg-4e56b27a2c8f1.png) no-repeat top left;
}
.sprite-cross{ background-position: 0 0; width: 16px; height: 16px; } 
.sprite-plane{ background-position: 0 -66px; width: 16px; height: 16px; } 
.sprite-plus{ background-position: 0 -132px; width: 16px; height: 16px; } 
.sprite-star-empty{ background-position: 0 -198px; width: 16px; height: 16px; } 
.sprite-star{ background-position: 0 -264px; width: 16px; height: 16px; } 