/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


body {
    background: url('/static/images/landing_bg.png') #55738d;
    font-family: Arial;
}
h1 {
    display: inline-block;
    width: 471px;
    height: 150px;
    background: url('/static/images/logo_landing.png') no-repeat center center transparent;
    text-indent: -10000px;
}
h3.mit{ 
    color: white;
    font-size: 14px;
    margin-bottom:20px;
    margin-left:auto;
    margin-right:auto;
    width:260px;
	text-shadow: 0px -1px 0px #444;
	filter: dropshadow(color=#444444, offx=0, offy=-1);
    text-transform: uppercase;
    letter-spacing: 2px;
}
h2 {
    color: #FFF;
    margin: 20px 0 0;
    font-size: 60px;
    font-family: 'Rokkitt', serif;
	text-shadow: 0px -1px 0px #000;
	filter: dropshadow(color=#000000, offx=0, offy=-1);
}
p {
    color: #EEE;
    line-height: 21px;
    font-size: 15px;
    margin: 10px 0;
    text-align: justify;
	text-shadow: 0px -1px 0px #444;
	filter: dropshadow(color=#444444, offx=0, offy=-1);
}
p#innovative {
    font-size: 20px;
    line-height: 26px;
    text-align: left;
    color: #EEE;
    margin-bottom: 33px;
}
p.deets {
    margin-bottom: 20px;
    text-align: justify;
    font-size: 14px;
    height: 300px;
}
p.deets span {
    color: #FFF;
    font-weight: bold;
    font-size: 18px;
    margin-right: 3px;
}
p.deets span.img {
    display: inline-block;
    padding-bottom: 10px;
}
.top span.img {
    height: 200px;
    line-height: 200px;
}
.bottom span.img {
    height: 100px;
    line-height: 100px;
}
span.img img {
    vertical-align: bottom;
}
div.center {
    text-align: center;
    padding-top: 50px;
    width: 860px;
    margin: 0 auto;
}
strong {
    color: #FFF;
    text-shadow:  0 -1px 0 #000, 0 0 5px rgba(255,255,255,0.5);
	filter: dropshadow(color=#000000, offx=0, offy=-1);
}
em {
    font-style: italic;
}
.col {
    width: 380px;
    float: left;
    padding: 0 25px;
}
form {
    text-align:center;
}
form p {
    margin: 7px 0;
}
label {
    display: inline-block;
    width: 110px;
    text-align: right;
    margin-right: 5px;
    font-size: 13px;
    font-weight: bold;
    color: #FFF;
}
input[type="password"],
input[type="text"] {
    behavior: url(/static/lib/pie/PIE.htc);
    border: 0;
    padding: 0 7px;
    font-size: 12px;  
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.8);
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.8) ;
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
    width: 216px;
    height: 30px;
    vertical-align: middle;
    -webkit-transition: box-shadow 0.5s ease;
    -moz-transition: box-shadow 0.5s ease;
    -o-transition: box-shadow 0.5s ease;
    transition: box-shadow 0.5s ease;
}
input[type="text"]:focus {
    behavior: url(/static/lib/pie/PIE.htc);
    box-shadow: 0 0 6px rgba(255,255,255,0.6), inset 0 1px 1px rgba(0, 0, 0, 0.8);
	-webkit-box-shadow: 0 0 6px rgba(255,255,255,0.6), inset 0 1px 1px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0 0 6px rgba(255,255,255,0.6), inset 0 1px 1px rgba(0, 0, 0, 0.8);
}
input[type="submit"] {
    behavior: url(/static/lib/pie/PIE.htc);
	padding-bottom:2px;
    height: 30px;
    border: 1px solid #EEE;
    font-size: 13px;
    vertical-align: middle;
    background-image: -moz-linear-gradient(#555, #333);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#555), to(#333));
    background-color: #3F3F3F;
    -pie-background: linear-gradient(#555, #333);
    border-radius: 4px;
    text-shadow: black 0 -1px 0;
    border: 1px solid black;
    -moz-box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.3);
    box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.3);
    color: #FFF;
    float: left;
    margin-left: 115px;
}
input[type="submit"]:hover {
	background: #666666; /* Old browsers */
	background: -moz-linear-gradient(top, #666666 0%, #444444 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#666666), color-stop(100%,#444444)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #666666 0%,#444444 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #666666 0%,#444444 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #666666 0%,#444444 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#444444',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #666666 0%,#444444 100%); /* W3C */
    cursor: pointer;
}
#working {
    font-size: 35px;
    line-height: 30px;
    color: #FFF;
    font-family: 'Rokkitt', serif;
}
.message {
    text-align: center;
    margin: 0 30px;
    padding: 10px;
    behavior: url(/static/lib/pie/PIE.htc);
    background-image: -moz-linear-gradient(#F0F0F0, #BBB);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F0F0F0), to(#BBB));
    -pie-background: linear-gradient(#F0F0F0, #BBB);
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 14px;
    text-shadow: #EEE 0 1px 0;
}
.message.error {
    behavior: url(/static/lib/pie/PIE.htc);
	background: #900000; /* Old browsers */
	background: -moz-linear-gradient(top, #900000 0%, #700000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#900000), color-stop(100%,#700000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #900000 0%,#700000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #900000 0%,#700000 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #900000 0%,#700000 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#900000', endColorstr='#700000',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #900000 0%,#700000 100%); /* W3C */
    color: #FFF;
    text-shadow: #000 0 -1px 0;
}
.footer {
    clear: both;
    padding-top: 50px;
    padding-bottom: 20px;
}
.footer a {
    color: #AAA;
    text-decoration: none;
    font-size: 12px;
    text-shadow: #555 0 -1px 0;
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    transition: color 0.5s ease;
}
.footer a:hover {
    color: #CCC;
}
.clearfix {
    clear: both;
}
#fb-like {
    padding: 7px 7px 0;
    background: #B8C5CF;
    /*background-color: rgba(250,250,250,0.6);*/
    margin-top: 25px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    height: 30px;
}
.module {
    padding: 10px;
    margin-top: 20px;
    background-color: rgba(255,255,255,0.1);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.module h2 {
    margin-top: 0;
}
#innovations {
    padding-top: 20px;
}
#lotsaforms h2 {
    font-size: 26px;
}
