/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background: url('/static/images/landing_bg.png') #55738d;
    font-family: Arial;
}
h1 {
    display: inline-block;
    width: 471px;
    height: 150px;
    background: url('/static/images/logo_landing.png') no-repeat center center transparent;
    text-indent: -10000px;
}
p {
    color: white;
    line-height: 21px;
    font-size: 15px;
    margin: 20px 0;
    text-align: left;
    text-shadow: #444 0 -1px 0;
}
div.center {
    text-align: center;
    padding: 50px 50px 0;
    width: 800px;
    margin: 0 auto;
}
.col {
    width: 380px;
    float: left;
    padding: 0 10px;
}
form {
    margin: 20px 0;
}
input[type="text"] {
    border: 0;
    padding: 0 10px;
    font-size: 16px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    width: 200px;
    height: 40px;
    vertical-align: middle;
}
input[type="text"]:focus {
    box-shadow: 0 0 6px rgba(255,255,255,0.6), inset 0 1px 1px rgba(0, 0, 0, 0.8);
}
input[type="submit"] {
    height: 40px;
    border: 1px solid #EEE;
    font-size: 16px;
    vertical-align: middle;
    behavior: url(/static/lib/pie/PIE.htc);
    background-image: -moz-linear-gradient(#555, #333);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#555), to(#333));
    -pie-background: linear-gradient(#555, #333);
    border-radius: 4px;
    text-shadow: black 0 -1px 0;
    border: 1px solid black;
    -moz-box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.3);
    box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.3);
    color: #FFF;
}
input[type="submit"]:hover {
    behavior: url(/static/lib/pie/PIE.htc);
    background-image: -moz-linear-gradient(#666, #444);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666), to(#444));
    -pie-background: linear-gradient(#666, #444);
    cursor: pointer;
}
strong {
    font-size: 30px;
    line-height: 30px;
}
.message {
    text-align: center;
    margin: 0 30px;
    padding: 10px;
    behavior: url(/static/lib/pie/PIE.htc);
    background-image: -moz-linear-gradient(#F0F0F0, #BBB);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F0F0F0), to(#BBB));
    -pie-background: linear-gradient(#F0F0F0, #BBB);
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 14px;
    text-shadow: #FFF 0 1px 0;
}