.side_nav {
    padding-left:12px;
    width: 180px;
    padding-right:10px;
}
.side_nav h3 {
    padding: 7px 0 2px
}
.side_nav a {
    display: block;
    text-decoration: none;
    padding: 4px 0 4px 15px;
}
.side_nav a:hover {
    background-color: #EEE;
}