{% extends "email_base.html" %}

{% block email_body %}
    <h2 style="margin-top:0">New {% if event.is_deadline %}Deadline{% else %}Event{% endif %}</h2>
    
    <p>Hey {{name}},</p>
        
    <p>This is just to let you know that {{employer_names}} {{has_word}} a new {% if event.is_deadline %}deadline{% else %}event{% endif %}: "{{event.name}}"</p>
    
    <p>
        <a href="http://{{current_site.domain}}{{ event.get_absolute_url }}?rsvp=true" style="border-radius:3px;background:#3EAD4F;border:1px solid #348941;color:#fff;display:inline-block;font-weight:700;line-height:20px;margin:0;padding:6px 15px;text-decoration:none" target=" target="_blank">
        RSVP {% if event.is_deadline %}Participating{% else %}Attending{% endif %}
        </a>
    </p>
    <p>
        You can see the details of the {% if event.is_deadline %}deadline{% else %}event{% endif %} here: http://{{current_site.domain}}{{ event.get_absolute_url }}
    </p>
    <br>
    <small>Change your notification settings at any time <a href="http://{{current_site.domain}}/student/account/?tab=preferences">here</a>.</small>
{% endblock %}