<div class="dialog_content_wrapper">
    <h3>The Umeqo Event Subscription is reserved for employers that partner with campus organizations to host campus events.</h3>
    <p>You can follow the steps below to get access -</p>
    <ul id="free_trial_steps">
        <li><strong>Plan a campus event</strong> (competition, info session, etc) for students.</li>
        <li><strong>Reach out to a campus organization</strong> to help you host the event.</li>
        <li><strong>Have the organization use Umeqo</strong> to manage RSVPs and check-ins.</li>
        <li>After the event, you will be provided with credentials to Umeqo.</li>
    </ul>
    <p>Here are a few campus organizations whose primary function is to help employers plan campus events -</p>
    <ul id="free_trial_steps">
        <li><a href="http://mit-sbc.org/" >SBC</a> (sbc@mit.edu)</li>
        <li><a href="http://traders.mit.edu/">Traders@MIT</a> (traders@mit.edu)</li>
        <li><a href="http://swe.mit.edu/">MIT SWE</a> (swe-exec@mit.edu)</li>
    </ul>
    <div class="button_wrapper_with_margins centered">
        <a href="javascript:void(0)" class="button close_dialog_link">Ok</a>
        <img class='ajax_form_submit_loader' src='{{ STATIC_URL }}images/loaders/s_ajax.gif'>
    </div>
</div>