<div class="dialog_content_wrapper">
    <h3>The Umeqo Free Trial is reserved for employers that partner with campus organizations to host campus events.</h3>
    <p>You can follow the steps below to get access -</p>
    <ul id="free_trial_steps">
        <li><strong>Plan a campus event</strong> (competition, info session, etc) for MIT students.</li>
        <li><strong>Reach out to a campus organization</strong> to help you host the event.</li>
        <li><strong>Have the organization use Umeqo</strong> to manage RSVPs and check-ins.</li>
        <li>After the event, you will be provided you with credentials to Umeqo.</li>
    </ul>
    <p>Just a few of the campus organizations whose primary function is to help employers plan campus events are SBC (sbc@mit.edu), Traders@MIT (traders@mit.edu), and MIT SWE (swe-exec@mit.edu).</p>
    <div class="button_wrapper_with_margins">
        <a href="javascript:void(0)" class="button close_dialog_link">Ok</a>
        <img id='ajax_form_submit_loader' src='{{ STATIC_URL }}images/loaders/s_ajax.gif'>
    </div>
</div>