<div class="dialog_content_wrapper centered">
    <h3>Are you sure you want to delete the card ending with {{customer.active_card.last4}}?</h3>
    <p>You can always add another payment method afterwards.</p>
    <div class="centered button_wrapper_with_margins">
        <a href="#" class="button close_dialog_link">Cancel</a>
        <a href="#" type="submit" class="caution" id="payment_info_forget_confirmation_link">Forget Info</a>
        <img class='ajax_form_submit_loader' src='{{ STATIC_URL }}images/loaders/s_ajax.gif'>
    </div>
</div>