<div class="dialog_content_wrapper">
    <p class="info">A Card Security Code (CSC) is a security feature of debit and credit cards that helps fight credit card fraud. The following graphic illustrates where to find the CSC code on your credit card.</p>
    <table>
        <tr>
            <th>
                Visa, MasterCard & Discover
            </th>
            <th>
                American Express
            </th>
        </tr>
        <tr>
            <td>
                <img src="{{STATIC_URL}}images/subscription/card_security_code_dialog/visa_mastercard_discover.gif">
            </td>
            <td>
                <img src="{{STATIC_URL}}images/subscription/card_security_code_dialog/amex.gif">
            </td>
        </tr>
    </table>
   
    <div class="button_wrapper_with_margins centered">
        <a href="#" class="button close_dialog_link">Ok</a>
    </div>
</div>