{% extends "email_base.html" %}

{% block email_body %}
Dear {{name}}:

This is a receipt for your Umeqo subscription. This is only a receipt, no
payment is due. If you have any questions, please contact us anytime at
support@github.com. Thank you for your business!

-------------------------------------------------
GITHUB RECEIPT - 21 Apr 2012 - 02:24AM

User: Dpetters
Plan: Micro
Amount: USD $7.00*


GitHub, Inc.
548 4th St.
San Francisco, CA 94107

* EU customers: prices exclude VAT
-------------------------------------------------
{% endblock %}