{% extends "base.html" %}

{% block title %}
Subscription Cancellation |
{% endblock %}

{% block metadata %}
{% load compress %}
{% compress css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/subscription/subscription_cancel.css" />
{% endcompress %}

{% compress js %}
<script src="{{STATIC_URL}}js/subscription/subscription_cancel.js"></script>
{% endcompress %}
{% endblock %}

{% block content_area %}
<div class="simple_block no_top_margin">
    <h1>Subscription Cancellation</h1>

    <h3>This is important! Please read before cancelling.</h3>
    <ul>
        <li>If you only want to change your current billing cycle (currently per {{customer.subscription.plan.interval}}), you can do so <a href="{% url subscription_billing_cycle_change %}">here</a>.</li>
        <li>If you cancel now, you will retain access to the features listed below until {{current_period_end}}, at which point you will be downgraded to Umeqo Basic. </li>
        <li>You will not be refunded any money for any time remaining.</li>
    </ul>
    <p>By cancelling your {{customer.subscription.plan.name}} you choose to lose access to the following features -</p>
    <ul id="lost_features">
         {% include feature_template %}
    </ul>
    <div class="button_wrapper_with_margins">
        <a href="{% url employer_account %}?tab=subscription" class="button">Keep {{customer.subscription.plan.name}}</a>
        <form id="subscription_cancel_confirm_form" action="" method="POST">
             {% csrf_token %}
             <button id="subscription_cancel_confirm" class="button">Cancel My Subscription</button>
        </form>
    </div>
</div>
{% endblock %}
