<li>Partial Profiles of All Students
    <span
    title="Find the Right Candidates"
    class="learn_more"
    data-content="Filter by a variety of attributes and search resumes by keywords, skills, etc.<br><br>Partial profiles exclude students' full resumes but let you see snippets from them when searching.<br><br>To view a student's full resume choose Umeqo Premium or unlock the student by getting him/her to RSVP to, or attend one of your events."
    >?</span>
</li>
<li>Full Profiles of All RSVPs & Attendees
 <span
    title="Don't want to pay for Premium?"
    class="learn_more"
    data-content="Create an event or deadline and view the profile or resume of all RSVPs and Attendees at any time."
    >?</span>
</li>
<li>All Event Management Tools
 <span
    title="Plan and Promote Remotely"
    class="learn_more"
    data-content="Create a dedicated page for your event on Umeqo and have news of it be spread across the campus and social networks."
    >?</span>
</li>
<li>Unlimited Student Invitations
 <span
    title="Send Personal Invitations"
    class="learn_more"
    data-content="Increase the chances of a student attending your event by sending them a personalized invitation."
    >?</span>
</li>
<li>Up to 3 Accounts
<span
    title="Work Together"
    class="learn_more"
    data-content="Allow up to three people in your company to login using their own email and password."
    >?</span>
</li>