<div class="dialog_content_wrapper">
    <h3>Once your request is processed, you will receive an email from us.</h3>
    <p>
    {% ifequal action "subscribe" %}
        You free 3 day trial will begin upon your receipt of the email, which will include your credentials and an invoice for the amount of ${{cost}}. 
    {% endifequal %}
    </p>
    {% if form.new_master %}
    <p><strong>Note:</strong>You are the master account for {{user.recruiter.employer}}.</h3>
    <p>Therefore you need to Before you end your subscription, there are firms out there that need you! Note that -</h3>
    {% endif %}
    <form id="subscription_form" method='POST'>
        {% csrf_token %}
        <table class="form_table">
            <tr>
                <th>{{form.name.label_tag}}</th>
                <td class="input_cell">
                    <div class="errorspace">{{form.name.errors}}</div>
                    {{form.name}}
                </td>
                <td rowspan="2">
                    <div id="email_contacts">
                        <h3>Email Contact</h3>
                        <p><b>All Inquries:</b> contact@umeqo.com</p>
                    </div>
                </td>
            </tr>
            <tr>
                <th>{{form.email.label_tag}}</th>
                <td class="input_cell" colspan="2">
                    <div class="errorspace">{{form.email.errors}}</div>
                    {{form.email}}
                </td>
            </tr>
            {% if form.new_master %}
            <tr>
                <td>
                    <div class="errorspace">{{ form.recruiters.errors }}</div>
                    {{ form.recruiters.label_tag }}
                    {{ form.recruiters }}
                </td>
            </tr>
            {% endif %}
            <tr>
                <td colspan="3">
                    <div class="errorspace">{{form.body.errors}}</div>
                    {{form.body.label_tag}}
                    {{form.body}}
                </td>
            </tr>
            <tr>
                <td colspan="3" class="centered error_section error">
                    {{form.non_field_errors}}
                </td>
            </tr>
            <tr>
                <td class="button_cell" colspan="3">
                    <a href="javascript:void(0)" class="button close_dialog_link">Cancel</a>
                    <input class="button" type="submit" value="Submit">
                    <img id='ajax_form_submit_loader' src='{{ STATIC_URL }}images/loaders/s_ajax.gif'>
                </td>
            </tr>
        </table>
    </form>
</div>