<li><strong>Full Access</strong> to All Students
<span
    title="Profiles, Resumes & Portfolios"
    class="learn_more"
    data-content="In addition to profiles and resumes, you will get access to portfolios, which consist of GitHub profiles and/or links to external portfolios."
    >?</span>
</li>
<li><strong>Unlimited</strong> Custom Resume Books
<span
    title="No More Hard-Copy Resume Books"
    class="learn_more"
    data-content="Download or email as many custom resume books as you like. They never get out of date - each time you re-deliver, only the newest versions of resumes are included."
    >?</span>
</li>
<li><strong>One-Click</strong> Download of All Resumes
 <span
    title="All It Takes is One Click"
    class="learn_more"
    data-content="Want to search through resumes using your in-house system? One click, and you can do just that."
    >?</span>
</li>
<li><strong>Unlimited</strong> Accounts
<span
    title="Don't Do All The Work Yourself"
    class="learn_more"
    data-content="Do your co-workers need interns? Have them find potential candidates themselves! After all, they know what they want best."
    >?</span>
</li>