<li>Partial Access to All Students
    <span
    title="Partial, but Super Useful"
    class="learn_more"
    data-content="Search resumes and filter by the most important attributes to find the perfect candidates."
    >?</span>
</li>
<li>All Event Management Tools
 <span
    title="Plan and Promote Remotely"
    class="learn_more"
    data-content="Create your event or deadline using Umeqo and have news of it be spread across the whole campus through social networks and word-of-mouth."
    >?</span>
</li>
<li>Full Access to RSVPs & Attendees
 <span
    title="Participation Counts"
    class="learn_more"
    data-content="Don't want to pay for Premium? Simply create an event or deadline and have full access to all RSVPs and Attendees forever!"
    >?</span>
</li>
<li>Unlimited Student Invitations
 <span
    title="Send Personal Invitations"
    class="learn_more"
    data-content="There's no better way to get a student to RSVP or attend than sending them a personalized invitation."
    >?</span>
</li>
<li>Up to 3 Accounts
<span
    title="Joint Effort"
    class="learn_more"
    data-content="Allow up to three people in your company to login using their own email and password."
    >?</span>
</li>