{% extends "base.html" %}

{% block title %}
Subscription Choices |
{% endblock %}

{% block metadata %}
{% load compress %}
{% compress css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/subscription/subscription_list.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/subscription/free_subscription_info_dialog.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/subscription/subscription_transaction_dialog.css" />
{% endcompress %}
<script>
    var FREE_SUBSCRIPTION_INFO_DIALOG_URL = "{% url free_subscription_info_dialog %}";
    var SUBSCRIPTION_TRANSACTION_URL = "{% url subscription_transaction_dialog %}";
</script>
{% compress js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/subscription/free_subscription_info_dialog.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/subscription/subscription_transaction_dialog.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/subscription/subscription_list.js"></script>
{% endcompress %}
{% endblock %}

{% block content_area %}    
    <h1>Umeqo Subscription Choices</h1>
    <div>
        <div id="subscription_notes" class="left_side_container">
            <img src="{{ STATIC_URL }}images/icons/umeqo_bubble2.png" />
            <h2>What is Umeqo?</h2>
            <p>Umeqo is a new recruiting resource that makes discovering and connecting with students easier than ever. Currently available only at MIT, it empowers recruiters to easily filter and search student profiles, create custom resume books, and manage both public and private events.</p>
            <img src="{{ STATIC_URL }}images/icons/user-business.png" />
            <h2>Who else is using Umeqo?</h2>
            <p>Hundreds of students (soon-to-be the entire campus!), a dozen top firms, and campus organizations are all using Umeqo to exchange information and help bring about a better recruiting experience for all.</p>
            <img src="{{ STATIC_URL }}images/icons/wall.png" />
            <h2>Safety and Security</h2>
            <p><strong>We understand that your data is sensitive.</strong> <br> That is why we take extra care to never collect any statistics about what you do on the site. Your activity will stay completely anonymous to students.</p>
        </div>
        
        <div class="grid col3">
            <section class="first">
                <header>
                    <hgroup class="top">
                        <h1>Event Subscription</h1>
                    </hgroup>
                    <hgroup class="price">
                        <h2>
                            <span class="style1">
                            {% if free_subscription_text %}
                                {{ free_subscription_text }}
                            {% else %}
                                Free!
                            {% endif %}
                            </span>
                        </h2>
                    </hgroup>
                </header>
                <footer>
                    <ul>
                        <li>Access to Event RSVPs and Check-Ins</li>
                        <li>Unlimited Custom Resume Book</li>
                        <li>Email or Download Resume Books</li>
                        <li>Shared Recruiter Account</li>
                        <li>No Event Management Tools</li>
                        <li>No Student Invitation Functionality</li>
                        <li class="last">
                            <a href="javascript:void(0)" 
                            class="btn open_free_subscription_info_dialog_link">Learn More</a>
                        </li>
                    </ul>
                </footer>
            </section>
            <section class="last on">
                <header>
                    <hgroup class="top">
                        <h1>Annual Subscription</h1>
                    </hgroup>
                    <hgroup class="price">
                        <h2>
                            <span class="style1">
                                {% if paid_subscription_text %}
                                    {{ paid_subscription_text }}
                                {% else %}
                                    Contact Us For Pricing
                                {% endif %}
                            </span>
                        </h2>
                    </hgroup>
                </header>
                <footer>
                    <ul>
                        <li>Access to <strong>All</strong> Students</li>
                        <li><strong>Unlimited</strong> Resume Books</li>
                        <li><strong>Email or Download</strong> Resume Books</li>
                        <li><strong>Individualized</strong> Recruiter Accounts</li>
                        <li><strong>All</strong> Event Management Tools</li>
                        <li><strong>Unlimited</strong> Student Invitation</li>
                        <li class="last">
                            <a href="javascript:void(0)" 
                            data-action="{% if paid_subscription_action %}{{paid_subscription_action}}{% else %}subscribe{% endif %}" 
                            data-title="{{transaction_dialog_title}}"
                            data-subscription-type="annual" 
                            class="btn open_transaction_dialog_link {{paid_subscription_class}}">
                            {% if paid_subscription_button_text %}
                                {{paid_subscription_button_text}}
                            {% else %}
                                Contact Us
                            {% endif %}
                            </a>
                        </li>
                    </ul>
                </footer>
            </section>
        </div>
    </div>

    <div>
        <h1 class="center">Umeqo Features At a Glance</h1>
        <div class="feature no-margin-bottom">
            <h3><img class="fugue-icon" alt="icon" src="{{ STATIC_URL }}images/icons/magnifier-zoom-16.png" /> Search, Filter, Find</h3>
            <p>Umeqo presents not only a student’s resume, but also info applicable to your firm, such as event attendance.  Potential candidates can be added to custom resume books that can be emailed and/or downloaded.</p>
        </div>
        <div class="feature no-margin-bottom">
            <h3><img class="fugue-icon" alt="icon" src="{{ STATIC_URL }}images/icons/calendar-day-16.png" /> Effectively Plan Events</h3>
            <p>Umeqo not only handles check-ins, but also presents you with an overview of both major campus activities and events hosted by other companies, allowing you to pick an optimal time for your event.</p>
        </div>
        <div class="feature no-margin-bottom">
            <h3><img class="fugue-icon" alt="icon" src="{{ STATIC_URL }}images/icons/bank.png" /> Learn About the Campus</h3>
            <p>With 435+ campus organizations documented, you will be able to click on those that any student is involved in to learn more about them.</p>
        </div>
        <div class="feature last no-margin-bottom">
            <h3><img class="fugue-icon" alt="icon" src="{{ STATIC_URL }}images/icons/medal.png" /> Discover Promising Candidates</h3>
            <p>Umeqo allows you to annotate students’ profiles, making it easy for you to remember promising candidates and share notes with colleagues.</p>
        </div>
    </div>
{% endblock %}