<li><strong>Full Profiles</strong> of All Students
<span
    title="Find the Right Candidates"
    class="learn_more"
    data-content="View any student's profile or resume anytime."
    >?</span>
</li>
<li><strong>Unlimited</strong> Custom Resume Books
<span
    title="Modern-Day Resume Books"
    class="learn_more"
    data-content="Download or email as many custom resume books as you like. They never get out of date! Each time you re-deliver, only the newest versions of resumes are included."
    >?</span>
</li>
<li><strong>One-Click</strong> Download of All Resumes
 <span
    title="Flexible Access to All Resumes"
    class="learn_more"
    data-content="Want to search through all the resumes using your in-house system? One click, and you can do just that!"
    >?</span>
</li>
<li><strong>Unlimited</strong> Accounts
<span
    title="Work Together"
    class="learn_more"
    data-content="Allow up to three people in your company to login using their own email and password."
    >?</span>
</li>