{% extends "base.html" %}

{% block title %}
Change Subscription |
{% endblock %}

{% block metadata %}
{% load compress %}
{% compress css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/subscription/subscription_change.css" />
{% endcompress %}

{% compress js %}
    <script src="{{ STATIC_URL }}js/subscription/subscription_change.js"></script>
{% endcompress %}
{% endblock %}

{% block content_area %}
{{block.super}}
<div class="left_side_container">
    {% include "employer_side_nav.html" %}
</div>
<h1>Change Subscription</h1>
<form id="change_account_request_form" method="POST" action="">
    <h3>Current Subscription</h3>
    <div></div>
    <h3>Other Subscriptions</h3>
    
    <div>
        <input class="button" type='submit' value='Checkout'>
    </div>
</form>
{% endblock %}