#browse_students_block {
    border-left: none;
    border-right: none;
    border-bottom: none;
}
#browse_students_block .main_block_header {
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
}
#event_details {
    width: 600px;
}
#event_details th {
    width: 80px;
    text-align: right;
    padding: 6px 5px;
    vertical-align: top;
    color: #777;
}
#event_details td {
    padding: 6px 3px;
}
#photo {
    float: left;
    display: inline-block;
    width: 150px;
    height: 150px;
    background-color: #EEE;
}
#event_side {
    float: right;
    text-align: center;
    width: 150px;
}
#event_side span {
    line-height: 30px;
    font-weight: bold;
    display: inline-block;
    padding: 0 8px;
    background-color: #EEE;
    border-radius: 2px;
    -moz-border-radius: 2px;
}
#not-attending-button {
    display: block;
    font-size: 12px;
    margin-top: 3px;
}
.like_iframe {
    margin-top: 5px;
}
.google-button {
    display: inline-block;
    margin: 0 0 5px;
}
