.event_list {
    list-style: none;
    border-top: 1px solid #DDD;
    margin-bottom: 10px;
}
.event_list li {
    clear: both;
    padding: 5px;
    background-color: #F6F6F6;
    border-bottom: 1px solid #DDD;
    position: relative;
}
/* THIS IS IMPORTANT SO THAT .edit DOESN'T OVERFLOW INTO NEXT <li> IF IT IS TALLER THAN .details */
.event_list li::after {
    clear: both;
    content: ".";
    height: 0px;
    visibility: hidden;
    display: block;
}
.event_list .name {
    font-size: 16px;
}
.event_list .datetime {
    display: inline-block;
    font-size: 12px;
    float: right;
    color: #555;
}
.event_list .datetime strong {
    color: #000;
}
.event_list .datetime em {
    font-style: normal;
    font-weight: 600;
}
.event_list .name .type {
    font-size: 11px;
    background-color: #666;
    color: #FFF;
    display: inline-block;
    padding: 2px 4px;
    vertical-align: top;
    border-radius: 2px;
    -moz-border-radius: 2px;
    text-shadow: #000 0 -1px 0;
}
.event_list .details {
    margin-top: 3px;
    color: #666;
}

.editable_event_list .details {
    margin-right: 100px;
}
.event_list .edit {
    position: absolute;
    right: 2px;
    bottom: 2px;
}
#content_area .event_list .edit a {
    text-align: right;
    display: inline-block;
    padding: 1px 3px;
    color: #BBB;
}
#content_area .event_list li:hover .edit a {
    color: #6E97B9;
}
.event_list .edit a:hover {
    background-color: #EEE;
}