#checkin_form {
    display: inline-block;
}
#checkins {
    list-style: none;
    padding-top: 10px;
    width: 400px;
}
#checkins li {
    font-size: 20px;
    padding: 7px 4px 7px 8px;
    color: #666;
    border-left: 6px solid #CCC;
    background-color: #FAFAFA;
    margin-top: 2px;
}
#checkins li .email {
    font-size: 16px;
    color: #999;
}
#checkins li .email::before {
    content: '[';
}
#checkins li .email::after {
    content: ']';
}
#checkin_status {
    margin-top: 5px;
    height: 2px;
    width: 828px;
    background-color: #46c0d6;
}
#checkin_status.success {
    background-color: #5bcb33;
}
#checkin_status.error {
    background-color: #cc0000;
}
#checkin_error {
    font-size: 20px;
    padding-top: 5px;
    color: #cc0000;
}
#close_box {
    position: absolute;
    right: 5px;
    bottom: 5px;
    text-align: right;
}
#close_box:hover {
    cursor: pointer;
}
#close_box:hover #close_dialogue {
    background-color: #FAFAFA;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
}
#close_dialogue {
    margin-bottom: 5px;
    padding: 5px;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
}
#close_button, #get_raffle_winner_link {
    display: block;
    padding: 4px 8px;
    background-color: #EEE;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    font-size: 18px;
    text-align: center;
}
#get_raffle_winner_link {
    color: green;
    margin-bottom: 5px;
    background: #EEFFCC;
}
.event_host_logo img {
    max-width: 269px;
}
.main_block_content p {
	margin: 0 0 10px;
}
.main_block_content ol,
.main_block_content ul {
	margin: 5px 0 5px 20px;
}
.main_block_content ul li {
	color: #666;
	margin-bottom: 10px;
}
div.attending_employer {
    height: 74px;
    line-height: 74px;
    width: 157px;
}
#attending_employers .ef-logo {
    max-width: 159px;
}
.checkin_field {
    display: inline-block;
}
.checkin_field label {
    float: left;
    font-size: 2em;
    color: #555;
    font-weight: 600;
}
.checkin_field input {
    float: left;
    clear: left;
}
#enter_info {
    display: inline-block;
    font-size: 30px;
    line-height: 50px;
    vertical-align: bottom;
    margin: 0 0 0 10px;
}
.placeholder {
    color: #888 !important;
}