.responses .event_rsvp:hover {
    cursor: default;
}
.responses .event_rsvp.hoverable:hover {
    color: #FFF;
    background-color: #557389;
    border: 1px solid #EEE;
    border-bottom: 2px solid #BBB;
    cursor: pointer;
}
