.actions {
    position:absolute;
    right:0px;
    text-align:center;
    margin-top:10px;
    margin-bottom:8px;
}
.actions .gray_button{
    margin-bottom:7px;
    height:30px;
    line-height: 29px;
    width:140px;
    display:block;
}
#event_admin_main .commands {
    margin: -20px -4px 0 0;
}
#event_admin_main .commands a{
    margin-left:5px;
}
.event_title {
    margin-bottom: 10px;
    margin-right: 180px;
}
.event_title .private_token, .event_title .type {
    font-size: 16px;
    margin-left: 10px;
    vertical-align: top;
    display: inline-block;
    padding: 2px 5px 3px 6px;
    border-radius: 3px;
}
.datetime {
    font-size: 16px;
    font-weight: bold;
    color: #666;
}
#event.past .edit_event_link, #event.cancelled .edit_event_link, #event.archived .edit_event_link{
    display:none !important;
}
#event.past .cancel_event_link, #event.cancelled .cancel_event_link, #event.archived .cancel_event_link{
    display:none !important;
}
#event.past .end_rolling_deadline_link, #event.cancelled .end_rolling_deadline_link, #event.archived .end_rolling_deadline_link{
    display:none !important;
}
#event.cancelled #add_to_google_calendar, #event.past #add_to_google_calendar{
    display:none !important;
}
#event.cancelled .drop_resume{
    display:none !important;
}
#event.cancelled .rsvp_yes, #event.past .rsvp_yes{
    display:none !important;
}
#event.cancelled .rsvp_choices, #event.past .rsvp_choices{
    display:none !important;
}
#event.cancelled .not_cancelled_or_past_commands, #event.past .not_cancelled_or_past_commands{
    display:none !important;
}
#event.cancelled .cancelled_warning{
    display:inline !important;
}
.archive_event_link{
    display:none !important;
}
.cancelled .archive_event_link, .past .archive_event_link{
    display:inline !important;
}
.archived_indicator{
    display:none !important;
}
.archived .archived_indicator{
    display:block !important;
}
.cancelled .archive_event_link, .past .archive_event_link{
    display:inline !important;
}
.archived .archive_event_link{
    display:none !important;
}
#event_external_buttons {
    padding: 17px 0 0;
    min-height:19px;
}
.external_button {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
#facebook_button{
    position:relative;
    bottom:2px;
}
#event_description, #event_attending_employers {
    width: 670px;
    float: left;
}
.event_host_logo img {
    max-width: 262px;
}
.main_block_content p {
    margin: 0 0 10px;
}
.main_block_content ol,
.main_block_content ul {
    margin: 5px 0 5px 20px;
}
.main_block_content ul li {
    color: #666;
    margin-bottom: 10px;
}
#event_side {
    width: 280px;
    margin-left: 700px;
}
#attending-span {
    line-height: 30px;
    font-weight: bold;
    display: inline-block;
    padding: 0 8px;
    background-color: #EEE;
    border-radius: 2px;
    -moz-border-radius: 2px;
    width: 100px;
}
#add_to_google_calendar{
    display:block;
}
#add_to_google_calendar span{
    margin-left:5px;
    position:relative;
    bottom:3px;
}
#event_attending_employers .ef-logo {
    max-height: 78px;
}
#event_audience {
    margin-bottom: 10px;
    color: #666;
}
#event_audience .label {
    font-size: 14px;
    font-weight: bold;
    color: #222;
}
.google-button {
    display: inline-block;
    margin: 8px 0 5px;
    float: right;
}
#event_where #event_location {
    display:inline;
}
#event_checkin_main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #FFF;
    z-index: 500;
    opacity: 0;
}
#event_checkin_header {
    padding: 10px 8px;
    background: #EEE;
    border-bottom: 2px solid #CCC;
}
#event_checkin_header h2 {
    margin: 0;
    margin-right: 250px;
    font-size: 24px;
    color: #888;
}
#event_checkin_count {
    text-align: center;
}
#event_checkin_header span {
    font-size: 20px;
    color: #AAA;
    float: right;
}
#event_checkin_header span img {
    margin: -1px 0 -17px -2px;
    height:40px;
}
#event_checkin_main p {
    font-size: 20px;
    padding: 10px 0;
}
#event_checkin_content {
    padding: 15px;
}
#event_checkin_main h1 {
    margin: -7px 0 10px;
    font-size: 60px;
    letter-spacing: -2px;
    color: #444;
}
#event_checkin_main input {
    font-size: 30px;
    width: 400px;
    border-radius: 3px;
    padding: 5px;
}
#email_input_autofill {
    list-style: none;
    width: 410px;
}
#email_input_autofill li {
    display: block;
    padding: 8px 5px;
    font-size: 25px;
    border-left: 1px solid #888;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
    color: #666;
}
#email_input_autofill li:hover {
    cursor: pointer;
}
#email_input_autofill .selected {
    background-color: #6E97B9;
    color: #FFF;
}
#event_who .main_block_content {
    padding-top: 0px;
}
#event_who .event_company {
    margin-bottom: 10px;
}
#event_who .event_company_name {
    font-family: 'Lato', 'Arial', serif;
    font-size: 20px;
    line-height: 18px;
    margin-bottom: 10px;
}
.employer_industries div{
    margin-bottom: 3px;
}