.side_nav{
	margin-top:18px;
}
#event_search_form {
    margin: 0 0 9px 3px;
    position: relative;
}
#event_list_empty {
    padding: 10px;
    text-align: center;
    color: #666;
    border-bottom: 1px solid #DDD;
}