div.attending_employer{
    display:inline-block;
    font-size:18px;
    margin-top:3px;
    text-align:center;
    vertical-align:middle;
    background:#FAFAFA;
    border:1px solid #DDD;
}
#attending_employers .ef-logo{
    vertical-align:middle;
    margin-bottom:3px;
}
#attending_employers .ef-name{
    display:inline-block;
    vertical-align:middle;
    line-height:64px;
    height:64px;
    width:137px;
}
#and_more{
    width:139px;
    display:inline-block;
}
#and_more p{
    margin-left:20px;
    margin-top:12px;
    margin-bottom:12px;
    font-size:18px;
}