#event_actions .gray_button{
    margin-bottom:7px;
    height:30px;
    line-height: 29px;
    width:134px;
    display:block;
}
.post_quick_registration_event_action_button:hover{
    cursor:default;
}
#event_actions .dropdown ul{
    left:-1px;
    top:30px;
    min-width:140px;
}