/*
 Developers : Dmitrij Petters,
 All code is property of original developers.
 Copyright 2011. All Rights Reserved.
 */

#password_reset_block {
    width:500px;
    margin-left: auto;
    margin-right: auto;
    border: none;
}
#password_reset_block p {
    padding: 10px 0;
}
#password_reset_block .form_table{
    margin-left: auto;
    margin-right: auto;    
}
#password_reset_form #id_email {
    width:220px;
}
