#password_reset_confirm_block {
    width:500px;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}
#password_reset_confirm_block .form_table{
    margin-left:auto;
    margin-right:auto;
}
