#password_reset_block {
    border: 0;
    text-align: center;
}
#password_reset_form {
    display: inline-block;
}
#password_reset_form th {
    padding-top: 5px;
}
#password_reset_form .errorspace {
    height: auto;
}
#password_reset_form .form_table .info {
    padding-top: 5px;
}
#password_reset_form input[type=submit] {
    margin-top: 10px;
}