.account_request_dialog .dialog_content_wrapper{
    padding: 8px 25px 14px;
}
.account_request_dialog .form_table{
    width:100%;
}
#account_request_form #id_message_body{
    width:340px;
    height:65px;
}
#account_request_form #body_th{
    vertical-align:top;
    padding-top:20px;
}
.account_request_dialog #account_request_form #id_employer_name{
    width:308px;
}
.account_request_dialog #account_request_form select{
    width:318px;
}
#account_request_form input[type=submit]{
    width:100px;
}