#purchase_info, #payment_info{
    margin:8px 10px 15px 10px;    
}
#purchase_info{
    float:left;
    width:320px;
}
#payment_info{
    border-left:1px solid #CCC;
    margin-left:320px;
}
#charge_amount{
    font-weight:bold;
    font-size:14px;
    margin-top:30px;
}
#currency{
    text-align:center;
    color:#666;
    font-size:11px;
}
#submit_div{
    margin-top:20px;
    margin-left:19px;
}
