#current_payment_method, #new_payment_method{
    margin:8px 10px 15px 10px;    
}
#current_payment_method{
    float:left;
    width:320px;
}
#new_payment_method{
    border-left:1px solid #CCC;
    margin-left:320px;
}