.transaction_dialog .dialog_content_wrapper{
    padding: 14px 25px;
}
.transaction_dialog .form_table{
    width:100%;
}
#subscription_form #id_message_body{
    width:340px;
    height:65px;
}
#subscription_form #body_th{
    vertical-align:top;
    padding-top:20px;
}
.transaction_dialog #subscription_form #id_employer_name{
    width:308px;
}
.transaction_dialog #subscription_form select{
    width:318px;
}
#subscription_form input[type=submit]{
    width:100px;
}