<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" style="margin: 0; padding: 0; overflow-y: scroll; font-size: 13px; font-family: Arial, sans-serif; color: #303030">
<head style="margin: 0; padding: 0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" style="margin: 0; padding: 0" />
<meta name="robots" content="none" style="margin: 0; padding: 0" />
<title style="margin: 0; padding: 0"></title>





</head>
<body style="margin: 0; padding: 0; font-size: 13px; font-family: Arial, sans-serif; color: #303030">
<table cellspacing="0" cellpadding="0" border="0" style="margin: 0; padding: 0; border-spacing: 0">
<tbody style="margin: 0; padding: 0">
<tr width="100%" style="margin: 0; padding: 0">
<td id="background" valign="top" align="left" style="margin: 0; padding: 0; background: #F0F0F0">
<table id="email_content" style="margin: 0; padding: 10px 8px; border-spacing: 0; border: none; width: 100%">
<tbody style="margin: 0; padding: 0">
<tr width="100%" height="40" style="margin: 0; padding: 0">
<td id="email_header" valign="top" align="left" style="margin: 0; padding: 20px 20px 10px; background: #577592">
<img height="40" width="125" src="http://umeqo.com/static/images/logo.png" title="Umeqo" style="margin: 0; padding: 0; border: none; font-weight:bold;font-size:18px;color:#fff" />
</td>
</tr>
<tr width="100%" style="margin: 0; padding: 0">
<td id="email_body" valign="top" align="left" style="margin: 0; padding: 0 20px 10px; background: #fff">
<h2 style="margin: 0.83em 0; padding: 0; font-size: 20px; text-shadow: 1px 1px #FFF; color: #444">
June Newsletter
</h2>
<p style="margin: 1em 0; padding: 0; font-size: 12px; line-height: 17px; color: #555">Our monthly newsletters highlights a few of the upcoming events and deadlines happening on your campus, exciting new features, and some of the best companies looking to hire. This month we are proud to present 1 event and 1 deadline:</p>
<!--
-->
<h3 style="margin: 0; padding: 10px 0 5px; color: #555">Upcoming Events</h3>
<ul class="event_list" style="margin: 0; padding: 0; list-style: none; border-top: 1px solid #DDD; margin-top: 3px">
<li data-event-id="7" data-is-deadline="False" data-rsvp-url="/events/rsvp/7" data-resume_drop-url="/events/drop/7" class="event_snippet" style="margin: 0; padding: 7px 5px 3px; clear: both; background-color: #F6F6F6; border-bottom: 1px solid #DDD; position: relative; min-height: 30px">
<table style="margin: 0; padding: 0; border-spacing: 0; width: 100%">
<tbody style="margin: 0; padding: 0">
<tr style="margin: 0; padding: 0">
<td class="event_title" colspan="2" style="margin: 0; padding: 0; font-size: 16px; width: 560px">
<span class="type" style="margin: 0; padding: 2px 4px; color: #FFF; text-shadow: #000 0 1px 0; background-color: #666; font-size: 11px; display: inline-block; vertical-align: top; border-radius: 2px; -moz-border-radius: 2px">Info Session</span> <a target="_blank" href="http://localhost:8000/events/7/the-boo/" style="margin: 0; padding: 0; color: #6889A8; outline: none">All-Star Event</a>
</td>
<td class="location_and_host" rowspan="2" style="margin: 0; padding: 2px 0 10px 0; width: 188px; font-size: 12px; color: #555; text-align: right; vertical-align: top">
<span class="location_wrapper" style="margin: 0; padding: 0; position: relative; bottom: 3px">
<strong style="margin: 0; padding: 0">Location:</strong> <span class="location" data-latitude="None" data-longitude="None" style="margin: 0; padding: 0">blah blah b</span>
</span>
<div class="hosted_by" style="margin: 0; padding: 0">
<span style="margin: 0; padding: 0">
                            Hosted by 
    
           Umeqo
    

                        </span>
</div>
</td>
</tr>
<tr style="margin: 0; padding: 0">
<td colspan="2" style="margin: 0; padding: 0">
<div class="datetime" style="margin: 0; padding: 0; margin-bottom: 4px; color: #555">
<span class="range" style="margin: 0; padding: 0">
<strong style="margin: 0; padding: 0">Mon September 12</strong>, 2011
        
            <em style="margin: 0; padding: 0">03:30 PM</em> - <strong style="margin: 0; padding: 0">Thu, October 9</strong>, 2014 <em style="margin: 0; padding: 0">04:30 PM</em>
</span>
                                &nbsp;
                            
                            <span class="cancelled_warning" style="margin: 0; padding: 0; color: #D00; font-weight: bold; display: none">Cancelled!</span>
</div>
</td>
</tr>
<tr style="margin: 0; padding: 0">
<td style="margin: 0; padding: 0">
<div style="margin: 0; padding: 0">A well-rounded academic background with coursework in finance or economics is recommended, although successful analysts come from all different backgrounds</div>
</td>
<td colspan="2" class="actions" style="margin: 0; padding: 0; text-align: right; vertical-align: bottom">
<a target="_blank" href="http://localhost:8000/events/7/the-boo/?rsvp=true" class="rsvp_yes" style="margin: 0; padding: 1px 3px; color: #6E97B9; outline: none; text-align: right; display: inline-block">RSVP Attending</a>
<a target="_blank" href="http://localhost:8000/events/7/the-boo/?drop=true" class="drop_resume" style="margin: 0; padding: 1px 3px; color: #6E97B9; outline: none; text-align: right; display: inline-block">Drop Resume</a>
</td>
</tr>
</tbody>
</table>
</li>
</ul>
<h3 style="margin: 0; padding: 10px 0 5px; color: #555">Upcoming Deadlines</h3>
<ul class="event_list" style="margin: 0; padding: 0; list-style: none; border-top: 1px solid #DDD; margin-top: 3px">
<li data-event-id="15" data-is-deadline="True" data-rsvp-url="/events/rsvp/15" class="event_snippet" style="margin: 0; padding: 7px 5px 3px; clear: both; background-color: #F6F6F6; border-bottom: 1px solid #DDD; position: relative; min-height: 30px">
<table style="margin: 0; padding: 0; border-spacing: 0; width: 100%">
<tbody style="margin: 0; padding: 0">
<tr style="margin: 0; padding: 0">
<td class="event_title" colspan="2" style="margin: 0; padding: 0; font-size: 16px; width: 560px">
<span class="type" style="margin: 0; padding: 2px 4px; color: #FFF; text-shadow: #000 0 1px 0; background-color: #666; font-size: 11px; display: inline-block; vertical-align: top; border-radius: 2px; -moz-border-radius: 2px">Hard Deadline</span> <a target="_blank" href="http://localhost:8000/events/15/investment-banking-and-sales-trading-summer-analys/" style="margin: 0; padding: 0; color: #6889A8; outline: none">Investment Banking and Sales &amp; Trading Summer Analyst Application Deadline Duh Cmon T</a>
</td>
<td class="location_and_host" rowspan="2" style="margin: 0; padding: 2px 0 10px 0; width: 188px; font-size: 12px; color: #555; text-align: right; vertical-align: top">
<div class="hosted_by" style="margin: 0; padding: 0">
<span style="margin: 0; padding: 0">
                            Hosted by 
    
           Umeqo
    

                        </span>
</div>
</td>
</tr>
<tr style="margin: 0; padding: 0">
<td colspan="2" style="margin: 0; padding: 0">
<div class="datetime" style="margin: 0; padding: 0; margin-bottom: 4px; color: #555">
<span class="range" style="margin: 0; padding: 0">
<strong style="margin: 0; padding: 0">Sat, December 6</strong>, 2014 <em style="margin: 0; padding: 0">02:30 PM</em>
</span>
                                &nbsp;
                            
                            <span class="cancelled_warning" style="margin: 0; padding: 0; color: #D00; font-weight: bold; display: none">Cancelled!</span>
</div>
</td>
</tr>
<tr style="margin: 0; padding: 0">
<td style="margin: 0; padding: 0">
<div style="margin: 0; padding: 0">A well-rounded academic background with coursework in finance or economics is recommended, although successful analysts come from all different backgrounds. Candidates should be highly proficient in Excel and Word. We are seeking juniors who demonstrate academic strength (minimum GPA of 3.2), strong teamwork, communication skills, and a high energy level. ...</div>
</td>
<td colspan="2" class="actions" style="margin: 0; padding: 0; text-align: right; vertical-align: bottom">
<a target="_blank" href="http://localhost:8000/events/15/investment-banking-and-sales-trading-summer-analys/?rsvp=true" class="rsvp_yes" style="margin: 0; padding: 1px 3px; color: #6E97B9; outline: none; text-align: right; display: inline-block">RSVP Participating</a>
</td>
</tr>
</tbody>
</table>
</li>
</ul>
<br style="margin: 0; padding: 0" />
<div id="email_footer" style="margin: 0; padding: 0">
<p id="email_copyright" style="margin: 0; padding: 0; font-size: 11px; line-height: 17px; color: #aaa; float: right">&copy; 2012 Umeqo. All Rights Reserved.</p>
<p style="margin: 0; padding: 0; font-size: 11px; line-height: 17px; color: #aaa">Not rendering correctly? View this newsletter as a web page <a href="http://localhost:8000/newsletter/2012/June/" style="margin: 0; padding: 0; color: #aaa; outline: none; font-size: 11px">here</a>.</p>
<p style="margin: 0; padding: 0; font-size: 11px; line-height: 17px; color: #aaa">Opt out of this newsletter anytime by <a href="http://localhost:8000/student/account/?tab=preferences" style="margin: 0; padding: 0; color: #aaa; outline: none; font-size: 11px">changing your email preferences</a>.</p>
</div>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</body>
</html>