{% extends "base.html" %}

{% block title %}
About |
{% endblock %}

{% block metadata %}
{% load compress %}
{% compress css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/about.css" />
{% endcompress %}
{% endblock %}

{% block content_area %}
<h1>About Umeqo</h1>
<div class="right_side_container">
     <h2>Questions? <a class="open_contact_us_dialog_link" href="#">Contact Us!</a></h2>
</div>
<div id="au-about" class="grande">
    <h3>What is Umeqo?</h3>
    <p>Umeqo is a new faster and smarter way for recruiters to find potential student candidates. Our mission is to make campus recruiting simpler and less time consuming for all three parties involved - recruiters, career offices, and students.</p>  
    <h3>Why was Umeqo created?</h3>
    <p>Umeqo was originally built by a group of students from <a href="http://mit.edu/">MIT</a> who experienced firsthand the deficiencies with the way campus recruiting was done and decided to do something about it.</p>
    <p>The Umeqo team is now actively working alongside career offices, recruiters, and students to build the fast, smart, and easy-to-use recruiting platform that they deserve.</p>
    <h3>Can I use it?</h3>
    <p>Umeqo is now open to students from <strong>all universities</strong>! Students can <strong><a href="{% url student_registration %}">signup here</a></strong>.</p>
    <p>If you are an employer, you can learn about the plans we have available <a href="{% url subscriptions %}">here</a>.</p>
</div>
{% endblock %}
