{% extends "base.html" %}

{% block title %}
About |
{% endblock %}

{% block metadata %}
{% load compress %}
{% compress css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/about.css" />
{% endcompress %}
{% endblock %}

{% block content_area %}
<h1>About Umeqo</h1>
<div class="right_side_container">
     <h2>Questions? <a class="open_contact_us_dialog_link" href="javascript:void(0)">Contact Us!</a></h2>
    <div id="au-numbers">
        <h2>Umeqo by the numbers</h2>
        <p><strong>Team Size:</strong> 3 MIT students</p>
        <p><strong>Time in Development:</strong> 1 year</p>
        <p><strong>Campus Orgs Documented:</strong> {{campus_orgs|length}}</p>
        <p><strong>Courses Documented:</strong> {{courses|length}}</p>
        <p><strong>MIT Locations Indexed:</strong> {{locations|length}}</p>
    </div>
</div>
<div id="au-about" class="grande">
    <h3>What is Umeqo?</h3>
    <p>Umeqo is a recruiting resource meant to help students and employers discover one another. By streamlining the familiar paradigms of resumes and events, we are looking to save both parties time and effort.</p>  
    <h3>Why was Umeqo created?</h3>
    <p>Umeqo was created by three current MIT undergraduates (<a href="https://www.facebook.com/dpetters">Dmitrij Petters</a>, <a href="http://www.linkedin.com/pub/zachary-dearing/25/1b8/b76">Zac Dearing</a>, and <a href="http://www.linkedin.com/pub/joshua-ma/26/595/a34">Josh Ma</a>) to fix the pains of recruiting at MIT.  We were frustrated about missing recruiting events because we didn’t hear about them and having to drop our resumes in a gazillion different places. Building on our experiences helping employers recruit, and thus developed Umeqo to solve these problems.</p>
    <h3>What lies ahead?</h3>
    <p>With the Beta released to students, campus organizations, and employers, we are busy garnening feedback, adding new features, and tweaking things here and there. With student and recruiter support, we hope that Umeqo becomes the de-facto standard event management and student discovery tool at MIT.</p>
</div>
{% endblock %}
