{% extends 'tutorial_base.html' %}

{% block tutorial_title %}
Browsing Attendees and RSVPs
{% endblock %}

{% block instructions %}
<p class="header"><span class="num">Step 1:</span> From your homepage, click on the event or deadline whose RSVPs and attendees you wish to browse.</p>
<p>All of your upcoming and past events and deadlines are at the bottom, with past ones dimmed out.</p>
<img src="{{STATIC_URL}}images/tutorials/browsing_attendees_and_rsvps/1.png">
<p class="header"><span class="num">Step 2:</span> You can either click a "View All" link or click on the students one by one.</p>
<img src="{{STATIC_URL}}images/tutorials/browsing_attendees_and_rsvps/2.png">
<img src="{{STATIC_URL}}images/tutorials/browsing_attendees_and_rsvps/3.png">
<p class="header" id="filter"><span class="num">Step 3:</span> Switch students at anytime by choosing the appropriate one in the "Choose Student List" section.</p>
<img src="{{STATIC_URL}}images/tutorials/browsing_attendees_and_rsvps/4.png">
{% endblock %}

{% block things_to_note %}
<p>1. If you <a href="#filter">filter by an attribute</a> which a student has not yet filled out, that student will not appear in the results. e.g. If you filter for students with an SAT of 2000 or above, any student who hasn't specified his/her SAT will not appear in the results.</p>
<p>2. If you have a free trial subscription, then you will only be able to <a href="{% url tutorial slug='browsing-attendees-rsvps' %}">search and browse your events' RSVPs and attendees</a>.</p>
{% endblock %}

{% block tips_and_tricks %}
<p>1. The easiest way to share your observations and notes about students is to <a href="#comment">comment</a> on their profiles and then {% if user.recruiter %}<a href="{% url employer_account %}?action=new_recruiter_credentials">create credentials</a>{% else %}create credentials{% endif %} for your fellow co-workers. All users from your firm will see each other's comments and any students that one stars will also appear starred to everybody else.</p>
{% endblock %}