<html>
    <head>
        <title>Update Browser | Umeqo</title>
    </head>
    <body>
        <h2>We're sorry.</h2>
        <h4>But your browser configuration is not currently supported. Below is a list of possible culprits - </h4>
        <ul>
            <li>Internet Explorer 6-8 (or anything below that) are not supported. We are working hard to bring Umeqo to these browsers.</li>
            <li>Javascript must be enabled.</li>
        </ul>
        <h4>We suggest switching/upgrading to the latest version of <a href="http://www.google.com/chrome/">Chrome</a> or <a href="http://www.mozilla.org/en-US/firefox/new/">Firefox</a>.</h4>
    </body>
