<html>
    <head>
        <title>Update Browser | Umeqo</title>
    </head>
    <body>
        <h2>Umeqo does not currently support your browser configuration.</h2>
        <h4>Below is a list of possible culprits - </h4>
        <ul>
            <li>Internet Explorer 6-7 (or anything below that) are not supported.</li>
            <li>Javascript must be enabled.</li>
        </ul>
        <h4>To use Umeqo, please upgrade to the latest version of <a href="http://www.google.com/chrome/">Chrome</a> or <a href="http://www.mozilla.org/en-US/firefox/new/">Firefox</a>.</h4>
    </body>
</html>