<!--
 Developers : Dmitrij Petters,
 All code is property of original developers.
 Copyright 2011. All Rights Reserved.
-->
<div class="dialog_info_section">
    <p>Ask us questions, let us know how we can improve, or even report bugs. We'll get back to you ASAP.</p>
</div>

<form id="contact_form" method='POST' action="/contact-us-dialog/">
	{% csrf_token %}
	
	<div class ="errorspace"></div>
	<div>
		{{contact_form.name.label_tag}}
		{{contact_form.name}}
	</div>

	<div class ="errorspace"></div>
	<div>
		{{contact_form.email.label_tag}}
		{{contact_form.email}}
	</div>

	<div class ="errorspace"></div>
	<div id="id_body_wrapper">
		{{contact_form.body.label_tag}}
		{{contact_form.body}}
	</div>

	<div class="error_section error">
	</div>

	<div class="button_wrapper_with_margins">
		<input id="contact_form_submit_button" class="button" type='submit' value='Submit'>
		<img id='ajax_form_submit_loader' style="display:none" src='{{ STATIC_URL }}images/page_elements/loaders/small_ajax_loader.gif'>
	</div>
</form>