{% load logos %}

<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/core/course_info_dialog.css"/>

<div class="dialog_content_wrapper">
    
    {% show_course_thumbnail course '200x200' %}
    
    {% if course.admin %}
        <p><strong>Administrator: </strong> {{course.admin}}</p>
    {% endif %}
    {% if course.email %}
        <p><strong>E-mail: </strong> {{course.email}}</p>
    {% endif %}
    {% if course.website %}
        <p><strong>Website: </strong> <a href="{{course.website}}" target="_blank">{{course.website}}</a></p>
    {% endif %}
    {% if course.description %}
        <p><strong>Description: </strong> {{course.description}}</p>
    {% endif %}
</div>