<div class="dialog_content_wrapper">
    {% if course.thumbnail %}
    <a href="{{MEDIA_URL}}{{course.image}}" target="_blank"><img class="course_image" src="{{MEDIA_URL}}{{course.thumbnail}}" /></a>
    {% endif %}
    <p><strong>Administrator: </strong> {{course.admin}}</p>
    <p><strong>E-mail: </strong> {{course.email}}</p>
    <p><strong>Website: </strong> <a href="{{course.website}}" target="_blank">{{course.website}}</a></p>
    <p><strong>Description: </strong> {{course.description}}</p>
</div>