{% extends "help_center.html" %}

{% block title %}
FAQ |
{% endblock %}

{% block metadata %}
{{block.super}}
<script>
    var FAQ_URL = "{% url faq %}";
</script>
{% load compress %}
    {% compress css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/faq.css" />
    {% endcompress %}
    {% compress js %}
        <script src="{{ STATIC_URL}}js/faq.js"></script>
    {% endcompress %}
{% endblock %}

{% block help_content %}
    <a id="top"></a>
    <h1>FAQ</h1>
    {% if not topics %}
        <p>There are no topics yet.</p>
    {% endif %}
    {% for topic in topics %}
        <a href="#{{topic.slug}}"><h2 class="help_header">{{topic.name}}</h2></a>
        <ul class="help_content help_list">
        {% for question in topic.questions %}
             <li><a class="question_link" data-id="{{question.id}}" href="#{{question.slug}}">{{question.question}}</a></li>
        {% endfor %}
        </ul>
    {% endfor %}
    
    {% for topic in topics %}
        <a id="{{topic.slug}}"></a>
        <h2 class="help_header">{{topic.name}}</h2>
            {% for question in topic.questions %}
                <div class="help-content">
                    <a id="{{question.slug}}"></a>
                    <img class="faq-question-icon" src="{{ STATIC_URL }}images/icons/question.png" /><h3 class="faq-question">{{question.question}}</h3>
                    <p>{{question.answer|safe}}</p>
                    <p class="link_to_top"><a href="#top">Back to top</a></p>
                </div>
            {% endfor %}
    {% endfor %}
{% endblock %}
