{% extends "base.html" %}

{% block title %}
Help |
{% endblock %}

{% block metadata %}
{{block.super}}
{% load compress %}
{% compress css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/help/help.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/help/help_center.css" />
{% endcompress %}
{% compress js %}
    <script src="{{ STATIC_URL }}js/help/help.js"></script>
{% endcompress %}
{% endblock %}

{% block content_area %}
<div class="left_side_container">
    <div class="side_nav">
        <h3>Help</h3>
        <a href="{% url help_center %}">Help Center</a>
        <a href="{% url faq %}">FAQ</a>
    </div>
</div>

<div id="help_content" class="simple_block no_top_padding with_side_nav">
    {% block help_content %}
    <div id="extra_help" class="right_side_container grande">
        <img src="{{ STATIC_URL }}images/icons/twg_retina/help_48.png" />
        <div>
            <h2>Didn't find an answer?</h2>
            <p>Feel free to <a href="javascript:void(0)" class="open_contact_us_dialog_link">contact us!</a></p>
       </div>
    </div>
    <h1>Help Center</h1>
    <div id="getting_started_div">
        <h2 class="help_header"><u>Tutorials</u></h2>
        {% if user.is_anonymous %}
            <p id="tutorial_notice">View:  <a id="recruiter_toggle_link" href="#">Recruiters</a><span style="display:none" id="recruiter_toggle_span">Recruiters</span>,  <a id="student_toggle_link" href="#">Students</a><span style="display:none" id="student_toggle_span">Students</span>,  <a id="campus_org_toggle_link" href="#">Campus Organizations</a><span style="display:none" id="campus_org_toggle_span">Campus Organizations</span></p>
        {% endif %}
        {% if user.is_anonymous or user.recruiter %}
        {% if user.is_anonymous %}
            <div style="display:none" id="anonymous_recruiter_tutorials">
                <h3>Student Discovery</h3>
                {% if recruiter_student_discovery_tutorials %}
                    <ul class="tutorial_list">
                    {% for tutorial in recruiter_student_discovery_tutorials %}
                        <li><a href="{{tutorial.get_absolute_url}}">{{tutorial.name}}</a></li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>Coming Soon</p>
                {% endif %}
                
                <h3>Events & Deadlines</h3>
                {% if recruiter_event_and_deadline_tutorials %}
                    <ul class="tutorial_list">
                    {% for tutorial in recruiter_event_and_deadline_tutorials %}
                        <li><a href="{{tutorial.get_absolute_url}}">{{tutorial.name}}</a></li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>Coming Soon</p>
                {% endif %}

                <h3>Account Management</h3>
                {% if recruiter_account_management_tutorials %}
                    <ul class="tutorial_list">
                    {% for tutorial in recruiter_account_management_tutorials %}
                        <li><a href="{{tutorial.get_absolute_url}}">{{tutorial.name}}</a></li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>Coming Soon</p>
                {% endif %}

                <h3>Subscriptions</h3>
                {% if recruiter_subscription_tutorials %}
                    <ul class="tutorial_list">
                    {% for tutorial in recruiter_subscription_tutorials %}
                        <li><a href="{{tutorial.get_absolute_url}}">{{tutorial.name}}</a></li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>Coming Soon</p>
                {% endif %}
            </div>
        {% else %}
            <h3>Student Discovery</h3>
            {% if recruiter_student_discovery_tutorials %}
                <ul class="tutorial_list">
                {% for tutorial in recruiter_student_discovery_tutorials %}
                    <li><a href="{{tutorial.get_absolute_url}}">{{tutorial.name}}</a></li>
                {% endfor %}
                </ul>
            {% else %}
                <p>Coming Soon</p>
            {% endif %}
            
            <h3>Events & Deadlines</h3>
            {% if recruiter_event_and_deadline_tutorials %}
                <ul class="tutorial_list">
                {% for tutorial in recruiter_event_and_deadline_tutorials %}
                    <li><a href="{{tutorial.get_absolute_url}}">{{tutorial.name}}</a></li>
                {% endfor %}
                </ul>
            {% else %}
                <p>Coming Soon</p>
            {% endif %}

            <h3>Account Management</h3>
            {% if recruiter_account_management_tutorials %}
                <ul class="tutorial_list">
                {% for tutorial in recruiter_account_management_tutorials %}
                    <li><a href="{{tutorial.get_absolute_url}}">{{tutorial.name}}</a></li>
                {% endfor %}
                </ul>
            {% else %}
                <p>Coming Soon</p>
            {% endif %}

            <h3>Subscriptions</h3>
            {% if recruiter_subscription_tutorials %}
                <ul class="tutorial_list">
                {% for tutorial in recruiter_subscription_tutorials %}
                    <li><a href="{{tutorial.get_absolute_url}}">{{tutorial.name}}</a></li>
                {% endfor %}
                </ul>
            {% else %}
                <p>Coming Soon</p>
            {% endif %}
        {% endif %}
        {% endif %}

        {% if user.is_anonymous or user.student %}
        {% if user.is_anonymous %}
            <div style="display:none" id="anonymous_student_tutorials">
                <p>Coming Soon</p>
            </div>
        {% else %} 
            <p>Coming Soon</p>
        {% endif %}
        {% endif %}
        
        {% if user.is_anonymous or user.campusorg %}
        {% if user.is_anonymous %}
            <div style="display:none" id="anonymous_campus_org_tutorials">
                <h3>Events & Deadlines</h3>
                {% if campus_org_event_and_deadline_tutorials %}
                    <ul class="tutorial_list">
                    {% for tutorial in campus_org_event_and_deadline_tutorials %}
                        <li><a href="{{tutorial.get_absolute_url}}">{{tutorial.name}}</a></li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>Coming Soon</p>
                {% endif %}
                <h3>Account Management</h3>
                {% if campus_org_account_management_tutorials %}
                    <ul class="tutorial_list">
                    {% for tutorial in campus_org_account_management_tutorials %}
                        <li><a href="{{tutorial.get_absolute_url}}">{{tutorial.name}}</a></li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>Coming Soon</p>
                {% endif %}
            </div>
        {% else %} 
            <h3>Events & Deadlines</h3>
            {% if campus_org_event_and_deadline_tutorials %}
                <ul class="tutorial_list">
                {% for tutorial in campus_org_event_and_deadline_tutorials %}
                    <li><a href="{{tutorial.get_absolute_url}}">{{tutorial.name}}</a></li>
                {% endfor %}
                </ul>
            {% else %}
                <p>Coming Soon</p>
            {% endif %}
            <h3>Account Management</h3>
            {% if campus_org_account_management_tutorials %}
                <ul class="tutorial_list">
                {% for tutorial in campus_org_account_management_tutorials %}
                    <li><a href="{{tutorial.get_absolute_url}}">{{tutorial.name}}</a></li>
                {% endfor %}
                </ul>
            {% else %}
                <p>Coming Soon</p>
            {% endif %}
        {% endif %}
        {% endif %}
        {% if user.is_staff %}
            <p>You are logged in as an admin. Please login as a regular user to see the tutorials.</p>
        {% endif %}
    </div>
    <div class="simple_block no_top_padding">
        <h2 class="help_header"><u>Top {{top_questions|length}} Questions</u></h2>
        {% if top_questions %}
            <ul class="help_content help_list">
                {% for question in top_questions %}
                    <li><a href="{% url faq %}#{{question.slug}}">{{question.question}}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>There are no questions yet.</p>
        {% endif %}
        <p id="view_all_faqs"><a href="{% url faq %}">View all FAQs &raquo;</a></p>
    </div>
    {% endblock %}
</div>
{% endblock %}