{% extends "base.html" %}

{% block title %}
{{user.email}} | 
{% endblock %}

{% block metadata %}
{{block.super}}
{% load compress %}
{% load filters %}

{% compress css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/core/home_anonymous.css" />
{% endcompress %}
{% compress js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/events/event_directions.js"></script>
{% endcompress %}
{% endblock %}

{% block content_area %}
    <div class="left_side_container">
        {% block left_side_container %}
        
        {% endblock %}
    </div>
    
    <div class="main_block with_side_nav no_top_margin">
        <div class="main_block_header">
            <img class="main_block_header_icon" src="{{ STATIC_URL }}images/icons/fugue/24/home.png" />
            <span class="main_block_header_title">Welcome {% if user.first_name %}{{user.first_name}}{% else %}{{user.email|split:"@"|first}}{% endif %}!</span>
        </div>
        <div class="main_block_content">
            <p><strong>Thank you for beta testing Umeqo!</strong> Get started with one of the following -</p>
            <div id="featured_content">
                <a href="{% url help_center %}"><div id="tutorials"><img src="{{ STATIC_URL }}images/icons/twg_retina/video_64.png" /><span>Watch tutorials</span></div></a>
            {% block featured_content %}
            {% endblock %}
            </div>
            <p>Also, please <a href="javascript:void(0)" class="open_contact_us_dialog_link">report any bugs</a> you find - there's a "Contact Us" link at the bottom of every page.</p>
        </div>
    </div>
    {% block content %}
    {% endblock %}
{% endblock %}
