<!DOCTYPE html>
<html>
    <head>
        <title>Umeqo</title>
        <link href="{{STATIC_URL}}css/landing.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="center">
            <h1>Umeqo</h1>
            <div class="col">
                <p>Umeqo is an innovative recruiting resource for students and employers to discover one another by leveraging the familiar paradigms of resumes and events.  The platform empowers employers to easily filter and search student profiles, reach out to candidates, and post and manage campus events.</p>
                <p>Within minutes, students can upload their resume, create their profile, and find and RSVP to company events.</p>
            </div>
            <div class="col">
                <p>We're still working hard on crafting the site! Interested? Sign up below and we'll let you know the moment it's ready.</p>
            </div>
        </div>
    </body>
</html>