<!DOCTYPE html>
<html>
    <head>
        <title>Umeqo</title>
        <link href="{{STATIC_URL}}css/landing.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        {% if posted %}
        <div class="message">
            Thanks for your interest! We'll let you know when the beta opens.
        </div>
        {% endif %}
        <div class="center">
            <h1>Umeqo</h1>
            <div class="col">
                <p>Umeqo is an innovative recruiting resource for students and employers to discover one another by leveraging the familiar paradigms of resumes and events.</p>
                <p>The platform empowers employers to easily filter and search student profiles, create resume books, reach out to candidates, and post and manage campus events.</p>
                <p>Within minutes, students can upload their resume, create their profile, and find and RSVP to company events.</p>
            </div>
            <div class="col">
                <p><strong>We're working hard to craft the ultimate experience.</strong></p>
                <p>Interested? Submit your email below and we'll let you know the moment it's ready.</p>
                <p>
                    <form action="" method="POST">
                        {{form.email}}
                        <input type="submit" value="submit"/>
                    </form>
                <p>
            </div>
        </div>
    </body>
</html>