<!DOCTYPE html>
<html>
    <head>
		<link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico" type="image/x-icon" />
        <title>Umeqo</title>
        <link href="{{STATIC_URL}}css/landing_page.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        {% if posted %}
                <div class="message">
                    Thank you for your interest! We'll let you know when the beta opens.
                </div>
        {% endif %}
        <div class="center">
            <h1>Umeqo</h1>
            <br />
            <h3>Coming to MIT Fall 2011</h3>
            <div class="col">
                <p><strong>We're working hard to craft the ultimate experience.</strong></p>
                <p>Interested? Submit your email below and we'll let you know the moment it's ready.</p>
                <p>
                    <form action="" method="POST">
                        {{form.email}}
                        <input type="submit" value="submit"/>
                    </form>
                <p>
            </div>
            <div class="col">
                <p>Umeqo is an innovative recruiting resource for students and employers to discover one another by leveraging the familiar paradigms of resumes and events.</p>
                <p>The platform empowers employers to easily filter and search student profiles, create resume books, reach out to candidates, and post and manage campus events.</p>
                <p>Within minutes, students can create their easy-to-maintain profile, find and RSVP to company events, and subscribe to employers for future event updates.</p>
            </div>
            <div class="footer">
                <a href="mailto:umeqo@mit.edu">umeqo@mit.edu</a>
            </div>
        </div>
    </body>
</html>
