<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
        <meta property="og:title" content="Umeqo - Recruiting Made Simple" />
        <meta property="og:url" content="http://umeqo.com" />
        <meta property="og:image" content="http://umeqo.com/static/images/fb_link_image.png" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="Umeqo is an innovative recruiting resource for students and employers to discover one another." />
        <meta property="og:site_name" content="Umeqo" /> 
        <meta property="fb:app_id" content="119497238132973" />
        <link rel="icon" href="/favicon.ico" />
        <title>Umeqo</title>
        <link href='http://fonts.googleapis.com/css?family=Rokkitt' rel='stylesheet' type='text/css'>
        {% load compress %}
        {% compress css %}
            <link href="{{STATIC_URL}}css/landing_page.css" rel="stylesheet" type="text/css" />
        {% endcompress %}
        <!--[if lt IE 8]>
            <link href="{{STATIC_URL}}css/landing_page_lt_ie8.css" rel="stylesheet" type="text/css" />
        <![endif]-->
        <!--[if lte IE 8]>
            <script src="{{ STATIC_URL }}js/unsupported_browser.js" type="text/javascript"></script>
        <![endif]-->
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-22946783-1']);
          _gaq.push(['_trackPageview']);
        
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js"></script>
        {% compress js %}
            <script src="{{STATIC_URL}}js/landing_page.js"></script>
        {% endcompress %}
    </head>
    <body>
        {% if email_error %}
            <div class="message">
                The email you've submitted has already been recorded. Thank you for your interest!
            </div>
        {% else %}{% if form_error %}
            <div class="message error">
                Please check that you've filled out your first name, last name, and email.
            </div>
        {% endif %}{% endif %}
        {% if posted %}
            <div class="message">
                Thank you for your interest! You will be included in the next round of invitations.
            </div>
        {% endif %}
        {% if deactivated %}
            <div class="message">
                Thank you for trying out Umeqo!
            </div>
        {% endif %}
        {% if loggedout %}
            <div class="message">
                You have been logged out.
            </div>
        {% endif %}
        <div class="center">
            <h1>Umeqo</h1>
            <h3 class="tagline"><em>[you-ME-co]</em>, noun. <strong>Recruiting Made Simple</strong>.</h3>
            <p id="innovative">Umeqo is a new recruiting resource for <strong>students</strong> and <strong>employers</strong> to discover one another.</p>
            <div id="lotsaforms" class="row">
                <div class="col">
                    <div id="login_module" class="module">
                        <h2>Already have an account?</h2>
                        <form action="{% url login %}" method="POST">
                            {% csrf_token %}
                            {% for field in login_form %}
                                <p>{{field.label_tag}}{{field}}</p>
                            {% endfor %}
                            <input type="submit" value="login"/> 
                        </form>
                        <div class="clearfix"></div>
                        <div id="invite_code">
                          <h2>Need an account?</h2>
                          <p><a href="{% url student_registration %}" class="black_button">Create one now!</a></p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="fb-like">
                        <iframe src="http://www.facebook.com/plugins/like.php?app_id=119497238132973&amp;href=umeqo.com&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:380px; height:35px;" allowTransparency="true"></iframe>
                    </div>
                </div>
                <div class="col">
                    <p id="working">Featured Event</p>
                    <div id="promotion">
                      <h2>Getting Jobs in Algorithmic Trading</h2>
                      {% if featured_event.employer %}
                      <a href="{{ featured_event.event.get_absolute_url }}"><img id="logo" src="{{ MEDIA_URL }}{{featured_event.employer.logo}}" /></a>
                      {% endif %}
                      {% if featured_event.campus_org %}
                      <a href="{{ featured_event.campus_org.get_absolute_url }}"><img id="logo" src="{{ MEDIA_URL }}{{featured_event.campus_org.image}}" /></a>
                      {% endif %}
                      <p>You are invited join Traders@MIT, Brennan Hughes and Rob Khoury, founders of World Wide Financial Recruiting Services, LLC in a candid discussion about getting a job in algorithmic trading.</p>
                      <p>The event starts at 6:00pm on Monday, Oct 17th in 4-159. {% if featured_event %}You can RSVP on the <a href="{{ featured_event.event.get_absolute_url }}">official Umeqo event page</a>!{% endif %}</p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div id="innovations" class="row">
                <h2>What’s so innovative?</h2>
                <div class="col">
                    <p class="deets top">
                        <span class="img"><img src="{{ STATIC_URL }}images/landing/event.png" /></span>
                        <span>Streamlined Events.</span> Add events to Google Calendar with a click of a button, view and print location maps - never again be misinformed of what to bring and what to wear.
                    </p>
                    <p class="deets bottom">
                        <span class="img"><img src="{{ STATIC_URL }}images/landing/email.png" /></span>
                        <span>Event Invites.</span> Receive invites to both public and private events from employers interested in you.
                    </p>
                </div>
                <div class="col">
                    <p class="deets top">
                        <span class="img"><img src="{{ STATIC_URL }}images/landing/notifications.png" /></span>
                        <span>Automatic Notifications.</span> Subscribe to employers you’re interested in and get notified when they post new events and deadlines.
                    </p>
                    <p class="deets bottom">
                        <span class="img"><img src="{{ STATIC_URL }}images/landing/maintainprofile.png" /></span>
                        <span>Easy-to-Maintain Profile.</span> Fill in just a few fields to be discovered by employers. Umeqo indexes your resume and makes your profile searchable so employers can easily find you.
                    </p>
                </div>
            </div>
            <div class="footer">
                <a href="mailto:contact@umeqo.com">contact@umeqo.com</a>
            </div>
        </div>
        <script type="text/javascript">
        var _sf_async_config={uid:28685,domain:"umeqo.com"};
        (function(){
          function loadChartbeat() {
            window._sf_endpt=(new Date()).getTime();
            var e = document.createElement('script');
            e.setAttribute('language', 'javascript');
            e.setAttribute('type', 'text/javascript');
            e.setAttribute('src',
               (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
               "js/chartbeat.js");
            document.body.appendChild(e);
          }
          var oldonload = window.onload;
          window.onload = (typeof window.onload != 'function') ?
             loadChartbeat : function() { oldonload(); loadChartbeat(); };
        })();
        
        </script>
    </body>
</html>
