{% extends "base.html" %}

{% block title %}
Terms of Service |
{% endblock %}

{% block metadata %}
{% load compress %}
{% compress css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/core/terms_of_service.css" />
{% endcompress %}
{% endblock %}

{% block content_area %}
<div id="terms_block" class="simple_block no_top_margin">
    {% if user.is_authenticated %}
        <a class="back_to_link" href="{% url student_registration %}" tabindex="-1">&laquo; Back to Sign Up</a>
    {% endif %}
    <h1 id="terms_title">Umeqo Terms of Service</h1>
    <h2 id="last_revision">Last Revision: January 20th, 2012</h2>
    {% if not agreed %}
    <h2 id="scroll_to_bottom">Please scroll to bottom to accept.</h2>
    {% endif %}
    <div id="terms_text">
        {% include 'terms_of_service_text.html' %}
    </div>
    {% if not agreed %}
        <form id="terms_of_service_form" method="POST" action="">
        {% csrf_token %}
            <table class="form_table grande">
                <tr>
                    <th></th>
                        <td>
                        <input class="dark_button" type='submit' value='Accept Terms'>
                    </td>
                </tr>
            </table>
        </form>
    {% endif %}
</div>
{% endblock %}
