{% extends "base.html" %}

{% block title %}
Terms of Service |
{% endblock %}

{% block metadata %}
{% load compress %}
{% compress css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/core/terms_of_service.css" />
{% endcompress %}
{% endblock %}

{% block content_area %}
<div id="terms_block" class="simple_block no_top_margin">
    {% if user.is_authenticated %}
        <a class="back_to_link" href="{% url home %}" tabindex="-1">&laquo; Back to Home</a>
    {% endif %}
    <h1 id="terms_title">Umeqo Terms of Service</h1>
    <h2 id="last_revision">Last Revision: January 20th, 2012</h2>
    <div id="terms_text">
        {% include 'terms_of_service_text.html' %}
    </div>
</div>
{% endblock %}
