{% extends "help_center.html" %}

{% block title %}
Tutorials |
{% endblock %}

{% block metadata %}
{{block.super}}
{% load compress %}
{% compress css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/tutorials.css" />
{% endcompress %}
{% endblock %}

{% block help_content %}
<h1>Tutorials</h1>
<h1 id="coming_soon">Coming Soon</h1>
<!--
    <div>
    <h2>Recruiter Tutorials</h2>
    {% for tutorial in recruiter_tutorials %}
        {% include "tutorial_snippet.html" %}
    {% endfor %}
</div>
<div>
    <h2>Student Tutorials</h2>
    {% for tutorial in student_tutorials %}
        {% include "tutorial_snippet.html" %}
    {% endfor %}
</div>
<div>
    <h2>Campus Organization Tutorials</h2>
    {% for tutorial in campus_organization_tutorials %}
        {% include "tutorial_snippet.html" %}
    {% endfor %}
</div>
-->
{% endblock %}