{% extends "help_center.html" %}

{% block title %}
Tutorials |
{% endblock %}

{% block metadata %}
{{block.super}}
{% load compress %}
{% compress css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/tutorials.css" />
{% endcompress %}
{% endblock %}

{% block help_content %}
<h1>Tutorials</h1>
<div>
    <h2>For Recruiters</h2>
    {% if any_recruiter_tutorials %}
        <div class="tutorials_column">
            <h3>Student Discovery</h3>
            {% for tutorial in recruiter_sd_tutorials %}
                {% include "tutorial_snippet.html" %}
            {% empty %}
                <p>Coming Soon</p>
            {% endfor %}
            <h3>Events</h3>
            {% for tutorial in recruiter_event_tutorials %}
                {% include "tutorial_snippet.html" %}
            {% empty %}
                <p>Coming Soon</p>
            {% endfor %}
        </div>
        <div class="tutorials_column">
            <h3>Account Management</h3>
            {% for tutorial in recruiter_am_tutorials %}
                {% include "tutorial_snippet.html" %}
            {% empty %}
                <p>Coming Soon</p>
            {% endfor %}
            <h3>Subscriptions</h3>
            {% for tutorial in recruiter_subs_tutorials %}
                {% include "tutorial_snippet.html" %}
            {% empty %}
                <p>Coming Soon</p>
            {% endfor %}
        </div>
    {% else %}
        <p>Coming Soon</p>
    {% endif %}
</div>
<div>
    <h2>For Students</h2>
    <p>Coming Soon</p>
</div>
<div>
    <h2>For Campus Organization</h2>
    <p>Coming Soon</p>
</div>
{% endblock %}