{% extends "help_center.html" %}

{% block title %}
Tutorials |
{% endblock %}

{% block metadata %}
{{block.super}}
{% load compress %}
{% compress css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/tutorials.css" />
{% endcompress %}
{% endblock %}

{% block help_content %}
<h1>Umeqo Tutorials</h1>
<div>
    <h2>For Recruiters</h2>
    {% if any_recruiter_tutorials %}
        <div class="left_side_container">
            {% if recruiter_sd_tutorials %}
                <h3>Student Discovery</h3>
                {% for tutorial in recruiter_sd_tutorials %}
                    {% include "tutorial_snippet.html" %}
                {% endfor %}
            {% endif %}
            {% if recruiter_event_tutorials %}
                <h3>Events</h3>
                {% for tutorial in recruiter_event_tutorials %}
                    {% include "tutorial_snippet.html" %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="left_side_container">
            {% if recruiter_am_tutorials %}
                <h3>Events</h3>
                {% for tutorial in recruiter_am_tutorials %}
                    {% include "tutorial_snippet.html" %}
                {% endfor %}
            {% endif %}
            {% if recruiter_subs_tutorials %}
                <h3>Events</h3>
                {% for tutorial in recruiter_subs_tutorials %}
                    {% include "tutorial_snippet.html" %}
                {% endfor %}
            {% endif %}
        </div>
    {% else %}
        <h3>Coming Soon</h3>
    {% endif %}
</div>
<div>
    <h2>For Students</h2>
    <h3>Coming Soon</h3>
</div>
<div>
    <h2>For Campus Organization</h2>
    <h3>Coming Soon</h3>
</div>
{% endblock %}