/*
 Developers : Dmitrij Petters,
 All code is property of original developers.
 Copyright 2011. All Rights Reserved.
 */

#password_reset_form_block {
	width:500px;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
}
#password_reset_form #id_email {
	width:220px;
}