/*
 Developers : Dmitrij Petters,
 All code is property of original developers.
 Copyright 2011. All Rights Reserved.
 */

#password_change_done_block {
	text-align:center;
	padding:20px;
}
#password_change_done_block_title {
	text-shadow: 0 1px 1px #BBBBBB;
}