<p>Hi {% if name %}{{name}}{% else %}there{% endif %},</p>

<p>Thanks for checking into the {{event}}!</p>

<p>Please be aware that until you register, {% if campus_org_event %}employers{% else %}{{event.owner.recruiter.employer}}{% endif %} will only be able to see your name and email. Nothing else.</p>

<p>With an Umeqo account, employers will be able to see your resume and profile details. They'll also be able to add you to their resume books, add you to their favorites, save comments, and more. Register at any time by visiting <a href="http://{{current_site.domain}}{% url student_registration %}">the registration page</a>.</p>

<p> - The Umeqo Team</p>
