{% extends "email_base.html" %}

{% block email_body %}
    <h2 style="margin-top:0">Event Check-In Follow-Up</h2>
    
    <p>Hi {{name}},</p>
        
    <p>Thank you for checking into the <em>"{{event}}"</em> event! Please be aware that until you <a href="http://{{current_site.domain}}{% url student_profile %}">fill out your profile</a>, {% if campus_org_event %}the employers that attended the event{% else %}{{event.owner.recruiter.employer}}{% endif %} will only be able to see your name and email. Nothing else.</p>

    <p>If you fill out your profile, {% if campus_org_event %}they{% else %}{{event.owner.recruiter.employer}}{% endif %} will not only be able to view your resume and profile details, but also add you to custom resume books and invite you to future events! You, on the other hand, will be able to subscribe to the employers you are interested in to receive new event/deadline notifications, among other things.</p>
    <p style="margin-top:15px;">
        <a href="http://{{current_site.domain}}{% url student_profile %}" style="border-radius:3px;background:#41B554;border:1px solid #348941;color:#fff;display:inline-block;font-weight:700;line-height:20px;margin:0;padding:6px 15px;text-decoration:none" target="_blank">
        Create Your Profile
        </a>
    </p>
    <p>You can also use this link to fill out your profile: http://{{current_site.domain}}{% url student_profile %}</p>

{% endblock %}