<p>{% if name %}Dear {{name}}{% else %}Hi there{% endif %},</p>

<p>Thanks for checking into the <em>"{{event}}"</em> event!</p>

<p>Please be aware that until you <a href="http://{{current_site.domain}}{% url student_registration %}">register</a>, {% if campus_org_event %}the employers that attended the event{% else %}{{event.owner.recruiter.employer}}{% endif %} will only be able to see your name and email. Nothing else.</p>

<p>If you sign up for a Umeqo account, {% if campus_org_event %}they{% else %}{{event.owner.recruiter.employer}}{% endif %} will not only be able to access your resume and profile details, but also add you to custom resume books, star you, and invite you to future events!</p>
    
<p>You, on the other hand, will be able to subscribe to the employers you are interested in to receive new event/deadline notifications, among other things.<p>

<p>You can register at any time by visiting <a href="http://{{current_site.domain}}{% url student_registration %}">the registration page</a>.</p>

<p>Happy Recruiting!</p>

<p> - The Umeqo Team</p>