<span class="range">
    {% if not event.is_deadline %}
        <strong>{{event.start_datetime|date:"D F j"}}</strong>, {{event.start_datetime|date:"Y"}}
        {% if event.start_datetime.day == event.end_datetime.day and event.start_datetime.month == event.end_datetime.month and event.start_datetime.year == event.end_datetime.year  %}
            from <em>{{event.start_datetime|date:"h:i A"}}</em> - <em>{{event.end_datetime|date:"h:i A"}}</em>
        {% else %}
            <em>{{event.start_datetime|date:"h:i A"}}</em> - <strong>{{event.end_datetime|date:"D, F j"}}</strong>, {{event.end_datetime|date:"Y"}} <em>{{event.end_datetime|date:"h:i A"}}</em>
        {% endif %}
    {% else %}
        <strong>{{event.end_datetime|date:"D, F j"}}</strong>, {{event.end_datetime|date:"Y"}} <em>{{event.end_datetime|date:"h:i A"}}</em>
    {% endif %}
</span>