{% extends "base.html" %}

{% block title %}
Events & Deadlines |
{% endblock %}

{% block metadata %}
{{block.super}}
{% load compress %}
{% compress css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/events/events_list.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/events/event_snippet.css" />
{% endcompress %}
<script>
    var SEARCH_URL = "{% url event_search %}";
</script>
{% compress js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/events/events_list.js"></script>
<script src="{{ STATIC_URL }}js/events/event_directions.js"></script>
<script src="{{ STATIC_URL }}js/events/event_snippet_directions.js"></script>
{% endcompress %}
{% endblock %}

{% block content_area %}
<div class="left_side_container">
    {% block left_side_container %}{% endblock %}
</div>
<h1 class="inline">Events & Deadlines</h1>
<a class="back_to_link" href="{% url home %}">&laquo; Back to Home</a>
<div id="employers_block" class="main_block with_side_nav no_top_margin">
    <div class="main_block_content">
        <form id="event_search_form" action="">
            <label for="event_search_query">Filter Events:</label><input type="text" id="event_search_query" name="q" value="{{query}}"/>
            <noscript><input type="submit" value="Filter" /></noscript>
        </form>
        <ul id="main_event_list" class="event_list">
        {% for event in events %}
            {% include "event_snippet.html" %}
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
