<!--
Developers : Joshua Ma,
All code is property of original developers.
Copyright 2011. All Rights Reserved.
-->
{% extends "base.html" %}

{% block title %}
| {{event.name}}
{% endblock %}

{% block metadata %}
<!--open graph, FB meta tags -->
<meta property="og:title" content="{{event.name}} | Umeqo" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{page_url}}" />
<meta property="og:site_name" content="Umeqo" />
<meta property="fb:admins" content="502728220" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/events/event_page.css" />
{% endblock %}

{% block content_area %}
<div id="browse_students_block" class="main_block">
    <div class="main_block_header">
        <img class="main_block_header_icon" src="{{ STATIC_URL }}images/icons/calendar.png" />
        <span class="main_block_header_title">{{event.name}}</span>
    </div>
    <div class="main_block_content">
        <div id="photo"></div>
        <table id="event_details">
            <tr>
                <th>Time</th>
                <td>
                {% if event.start_datetime %}
                <span class="start">{{event.start_datetime|date:"D n/j/y P"}}</span> - 
                {% endif %}
                <span class="end">
                    {% ifequal event.start_datetime.day event.end_datetime.day %}
                    {% ifequal event.start_datetime.month event.end_datetime.month %}
                    {% ifequal event.start_datetime.year event.end_datetime.year %}
                        {{event.end_datetime|date:"P"}}
                    {% endifequal %}{% endifequal %}
                    {% else %}
                        {{event.end_datetime|date:"D n/j/y P"}}
                    {% endifequal %}
                </span>
                </td>
            </tr>
            <tr>
                <th>Place</th>
                <td>{{event.location}}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{event.description}}</td>
            </tr>
            <tr>
                <th>Created by</th>
                <td>{{event.employer.company_name}}</td>
            </tr>
            <tr>
                <th>RSVP</th>
                <td>
                    <a href="#" class="button">Attending</a>
                    <a href="#" class="button">Maybe</a>
                    <a href="#" class="button">No</a>
                    <div class="like_iframe">
                        <iframe src="http://www.facebook.com/plugins/like.php?href={{page_url|urlencode}}&amp;send=true&amp;layout=standard&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>
                    </div>
                </td>
            </tr>
        </table>
        <!--time/date, location, RSVP, add to google, print, map-->
    </div>
</div>
{% endblock %}