<div class="edit">
	{% if not archived %}
		{% if not event.cancelled and not past %}
		    <a title="Edit {% if event.is_deadline %}deadline{% else %}event{% endif %} details" href="{% url event_edit id=event.id %}">Edit</a>
		    {% if event.is_rolling_deadline %}
		        <a title="End the rolling deadline" href="{% url rolling_deadline_end id=event.id %}" class="end_rolling_deadline_link">End</a>
		    {% endif %}
		    <a title="Cancel the {% if event.is_deadline %}deadline{% else %}event{% endif %}" href="{% url event_cancel id=event.id %}" class="cancel_event_link">Cancel</a>
		{% else %}
			<a title="Archive {% if event.is_deadline %}deadline{% else %}event{% endif %} " href="{% url event_archive id=event.id %}" class="archive_event_link">Archive</a>
		{% endif %}
	{% endif %}
</div>