<li data-event-id="{{event.id}}" data-is-deadline="{{event.is_deadline}}" data-rsvp-url="{% url event_rsvp event_id=event.id %}" {% if event.is_drop %}data-resume_drop-url="{% url event_drop event_id=event.id %}"{% endif %} class="event_snippet{% if event.cancelled %} cancelled{% endif %}{% if past %} past{% endif %}">
    <div class="event_title">
        <span class="type">{{event.type}}</span> {% if not event.is_public %}<span class="private_token">Private</span> {% endif %}<a href="{% if email %}http://{{current_site.domain}}{% endif %}{{event.get_absolute_url}}">{{event.name}}</a>
        <div class="upper_right_div">
        {% if event.location %}
            <span class="location_wrapper">
                <strong>Location:</strong> {% include "event_location.html" %}
            </span>
        {% endif %}
            <div class="hosted_by">
                <span>
                    Hosted by {% include "event_hosted_by.html" with email=email %}
                </span>
            </div>
            {% if user.student or email %}
                {% include 'event_actions.html' %}
            {% endif %}
        </div>
    </div>

    {% include 'event_admin_actions.html' %}
    <div class="details commands">
        {% if event.cancelled or not event.is_rolling_deadline %}
            <div class="datetime">
                {% if not event.is_rolling_deadline %}
                    {% include "event_datetime.html" %}
                    &nbsp;
                {% endif %}
                <span class="cancelled_warning">Cancelled!</span>
            </div>
        {% endif %}
        {% if event.description %}
            <div>{{event.description|striptags|safe|truncatewords:50}}</div>
        {% endif %}
    </div>
</li>