<li{% ifequal event.upcoming 0 %} class="outdated"{% endifequal %}>
    <div class="name">
        <span class="type">{{event.type}}</span> {% if not event.is_public %}<span class="private_token">Private</span> {% endif %}<a href="{{event.get_absolute_url}}">{{event.name}}</a>
        <div class="datetime">
            {% if event.start_datetime %}
            <span class="start"><strong>{{event.start_datetime|date:"D F j"}}</strong>, {{event.start_datetime|date:"Y"}}
            {% endif %}
            <span class="end">
                {% ifequal event.start_datetime.day event.end_datetime.day %}
                {% ifequal event.start_datetime.month event.end_datetime.month %}
                {% ifequal event.start_datetime.year event.end_datetime.year %}
                    from <em>{{event.start_datetime|date:"h:i A"}}</em></span> -
                    <em>{{event.end_datetime|date:"h:i A"}}</em>
                {% endifequal %}{% endifequal %}
                {% else %}
                    {% if event.start_datetime %}<em>{{event.start_datetime|date:"h:i A"}}</em></span> - {% endif %}
                    <strong>{{event.end_datetime|date:"D, F j"}}</strong>, {{event.end_datetime|date:"Y"}} <em>{{event.end_datetime|date:"h:i A"}}</em>
                {% endifequal %}
            </span>
        </div>
    </div>
    {% if edit %}
    <div class="edit">
        <a href="{% url event_edit id=event.id %}">Edit</a>
        <a href="{% url event_delete id=event.id %}" class="delete-event-link">Delete</a>
    </div>
    {% endif %}
    <div class="details">
        {% if event.location %}
        <div>
            <strong>Location:</strong>
            <span class="location">{{event.location}}</span>
        </div>
        {% endif %}
        {% if event.description %}
        <div>{{event.description|striptags|safe|truncatewords:50}}</div>
        {% endif %}
    </div>
</li>
