{% extends "base.html" %}

{% block title %}
{% if edit %}Edit Event{% else %}New Event{% endif %} |
{% endblock %}

{% block metadata %}
{{ block.super }}
<script>
    var CHECK_NAME_AVAILABILITY_URL = "{% url check_event_name_uniqueness %}";
    var GET_LOCATION_GUESS_URL = "{% url get_location_guess %}";
    var GET_LOCATION_SUGGESTIONS_URL = "{% url get_location_suggestions %}";
    
    var MEDIUM_AJAX_LOADER = "{% include 'medium_ajax_loader.html' %}";
    
    {% if edit %}
        var EDIT_FORM = true;
    {% else %}
        var EDIT_FORM = false;
    {% endif %}
    
    var EVENT_SCHEDULE_URL = "{% url event_schedule %}";
</script>

{% load compress %}
{% compress css %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}lib/jquery_multiselect/jquery_multiselect.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/events/event_form.css" />
{% endcompress %}
{% compress js %}
<script src="{{ STATIC_URL }}lib/jquery_multiselect/jquery_multiselect_min.js"></script>
<script src="{{ STATIC_URL }}js/events/event_form.js"></script>
{% endcompress %}
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

<!--datetime_field media-->
{{form.media}}
{% endblock %}

{% block content_area %}
<div>
    <h1 id="event_form_header">
    {% if edit %}
        Edit Event
    {% else %}
        New Event
    {% endif %}
    </h1>
    {% if edit %}
        <a id="view_event_button" href="{% url event_page id=event.id, slug=event.slug %}" tabindex="-1" class="dark_button">View Event</a>
    {% endif %}
    <a class="back_to_link" href="{% url home %}#events" tabindex="-1">&laquo; Back to Events</a>
</div>
<form id="event_form" method="POST" action="">
    {% csrf_token %}
    <div class="right_side_container">
        <div id="event_datetime_block" class="side_block">
            <div class="side_block_header">
                <span class="no_icon side_block_header_title">Date &amp; Time</span>
            </div>
            <div class="side_block_content">
                <div id="start_datetime_wrapper">
                    {{form.start_datetime.label_tag}}
                    <div>
                        <div class="errorspace">{{form.start_datetime.error}}</div>
                        {{form.start_datetime}}
                    </div>
                </div>
                <div id="end_datetime_wrapper">
                    {{form.end_datetime.label_tag}}
                    <div>
                        <div class="errorspace">{{form.end_datetime.error}}</div>
                        {{form.end_datetime}}
                    </div>
                </div>
                <div id="event_scheduler_day">
                    Showing schedule for <input type="text" name="event_scheduler_day_text" id="event_scheduler_day_text" class="datefield" />:
                    <div id="event_scheduler_nav">
                        <a id="event_scheduler_nav_back" class="active" href="#">&laquo;</a>
                        <a id="event_scheduler_nav_forward" class="active" href="#">&raquo;</a>
                    </div>
                </div>
                <div id="event_scheduler">
                    <table tabindex="-1">
                        {% for hour in hours %}
                        <tr>
                            <th rowspan="2">{{hour}}</th>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div id="event_additional_info_block" class="side_block">
            <div class="side_block_header">
                <span class="no_icon side_block_header_title">Additional Info (optional)</span>
            </div>
            <div class="side_block_content">
                {{form.audience.label_tag}}
                <div>
                    <div class="errorspace">{{form.audience.error}}</div>
                    {{form.audience}}
                </div>
                <div class="errorspace">{{form.rsvp_message.errors}}</div>
                {{form.rsvp_message.label_tag}}
                {{form.rsvp_message}}
            </div>
        </div>
    </div>
    <div id="event_form_left_col">
        <div id="event_name_section">
            <span class="div_form_above_field_label">Title</span>
            <div class="errorspace"></div>
            <br>
            {{form.name}}
        </div>
        <div id="event_type_section">
            <span class="div_form_above_field_label">Type</span>
            <div class="errorspace"></div>
            <br>
            {{form.type}}
            {{form.is_public}}
        </div>
        <div id="event_location_section">
            <span class="div_form_above_field_label">Location</span>
            <div class="errorspace"></div>
            <br>
            {{form.location}}
            {{form.latitude}}
            {{form.longitude}}
            <div id="map" tabindex="-1"></div>
            <div id="location_suggestions">
            </div>
        </div>
        <div id="event_description_section">
            <span class="div_form_above_field_label">Description</span>
            <div class="errorspace"></div>
            {{form.description}}
        </div>
    </div>
    <div class="button_wrapper_with_margins">
        <input class="button" tabindex="8" type='submit' value='{% if edit %}Save Changes{% else %}Create Event{% endif %}'>
    </div>
</form>
{% endblock %}
