{% extends "base.html" %}

{% block title %}
Events |
{% endblock %}

{% block metadata %}
{{block.super}}
{% load compress %}
{% compress css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/events/event_snippet.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/events/events_list.css" />
{% endcompress %}
<script>
var SEARCH_URL = "{% url event_search %}";
</script>
{% compress js %}
    <script type="text/javascript" src="{{ STATIC_URL }}javascript/events/events_list.js"></script>
{% endcompress %}
{% endblock %}

{% block content_area %}
<div id="events_list_block" class="main_block">
    <div class="main_block_header">
        <img class="main_block_header_icon" src="{{ STATIC_URL }}images/icons/calendar.png" />
        <span class="main_block_header_title">Deadlines and Events Listing</span>
    </div>
    <div class="main_block_content">
        <form id="event_search_form" action="">
            <label for="event_search_query">Filter Events:</label><input type="text" id="event_search_query" name="q" value="{{query}}"/>
            <noscript><input type="submit" value="Filter" /></noscript>
        </form>
        <ul id="main_event_list" class="event_list">
        {% for event in events %}
            {% include "event_snippet.html" %}
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
