{% extends "base.html" %}

{% block title %}
{% if edit %}Edit Event{% else %}New Event{% endif %} |
{% endblock %}

{% block metadata %}
{{ block.super }}
{% load text_snippet %}
<script>
    var CHECK_NAME_AVAILABILITY_URL = "{% url check_event_name_uniqueness %}";
    var EVENTS_CHECK_SHORT_SLUG_UNIQUENESS_URL = "{% url events_check_short_slug_uniqueness %}";
    var GET_LOCATION_GUESS_URL = "{% url get_location_guess %}";
    var GET_LOCATION_SUGGESTIONS_URL = "{% url get_location_suggestions %}";
    
    var MEDIUM_AJAX_LOADER = "{% include 'medium_ajax_loader.html' %}";
    
    var TODAY = "{{today}}";

    {% if user.campusorg %}
        var EVENT = true
        var CAMPUS_ORG_EVENT = true;
        var EMPLOYER_DETAILS_URL = "{% url employer_logo %}";
        var EMPLOYER_NEW_URL = "{% url employer_new %}";
        var CHECK_EMPLOYER_UNIQUENESS_URL = "{% url check_employer_uniqueness %}";
        var EMPLOYER_ALREADY_EXISTS = "{% text_snippet 'employer_already_exists' %}";
        var MAX_INDUSTRIES = "{{max_industries}}";
        var MAX_INDUSTRIES_EXCEEDED = "{% text_snippet 'max_industries_exceeded' %}";
    {% else %}
        var CAMPUS_ORG_EVENT = false;
    {% endif %}
    
    {% if edit %}
        var EDIT_FORM = true;
        var EVENT_ID = "{{event.id}}";
        var LATITUDE = "{{event.latitude}}";
        var LONGITUDE = "{{event.longitude}}";
    {% else %}
        var EDIT_FORM = false;
    {% endif %}
    
    var EVENT_SCHEDULE_URL = "{% url event_schedule %}";
</script>

{% load compress %}
{% compress css %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}lib/jquery_multiselect/jquery_multiselect.css" />
{% if user.campusorg %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/events/event_form_attending_employers.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/employer/employer_new.css" />
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}lib/jquery_multiselect/jquery_multiselect_filter.css" />
{% endif %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/events/event_form.css" />
{% endcompress %}
{% compress js %}
<script src="{{ STATIC_URL }}lib/jquery_multiselect/jquery_multiselect_min.js"></script>
{% if user.campusorg %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/employer/employer_new.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}lib/jquery_multiselect/jquery_multiselect_filter_min.js"></script>
{% endif %}
<script src="{{ STATIC_URL }}js/events/event_form.js"></script>
{% endcompress %}
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

<!--datetime_field media-->
{{form.media}}
{% endblock %}

{% block content_area %}
<div>
    <h1 id="event_form_header" class="inline">
    {% if edit %}
        Edit Event
    {% else %}
        New Event
    {% endif %}
    </h1>
    {% if edit %}
    <a class="back_to_link" href="{% url event_page id=event.id, slug=event.slug %}" tabindex="-1">&laquo; Back to Event</a>
    {% else %}
    <a class="back_to_link" href="{% url home %}#events" tabindex="-1">&laquo; Back to Events</a>    
    {% endif %}
</div>
<form id="event_form" method="POST" action="">
    {% csrf_token %}
    <div class="right_side_container">
        <div id="event_datetime_block" class="side_block">
            <div class="side_block_header">
                <span class="no_icon side_block_header_title">Date &amp; Time</span>
            </div>
            <div class="side_block_content">
                <div id="start_datetime_wrapper">
                    {{form.start_datetime.label_tag}}
                    <div id="datetime_field_wrapper">
                        <div class="errorspace">{{form.start_datetime.errors}}</div>
                        {{form.start_datetime}}
                    </div>
                </div>
                <div id="end_datetime_wrapper">
                    {{form.end_datetime.label_tag}}
                    <div  id="datetime_field_wrapper">
                        <div class="errorspace">{{form.end_datetime.errors}}</div>
                        {{form.end_datetime}}
                    </div>
                </div>
                <div id="event_scheduler_day">
                    <label for="event_scheduler_day_text">Event schedule for</label><input type="text" name="event_scheduler_day_text" id="event_scheduler_day_text" class="datefield_no_bind" value="{{event_scheduler_date}}">
                    <a href="#" id="event_scheduler_today">Today</a>
                    <div id="event_scheduler_nav">
                        <a id="event_scheduler_nav_back" class="active" href="#">&laquo;</a>
                        <a id="event_scheduler_nav_forward" class="active" href="#">&raquo;</a>
                    </div>
                </div>
                <div id="event_scheduler">
                    <table tabindex="-1">
                        {% for hour in hours %}
                        <tr>
                            <th rowspan="2">{{hour}}</th>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div id="event_additional_info_block" class="side_block">
            <div class="side_block_header">
                <span class="no_icon side_block_header_title">Additional Info (optional)</span>
            </div>
            <div class="side_block_content">
                {{form.audience.label_tag}}
                <div>
                    <div class="errorspace">{{form.audience.errors}}</div>
                    {{form.audience}}
                </div>
                <div class="errorspace">{{form.rsvp_message.errors}}</div>
                {{form.rsvp_message.label_tag}}
                {{form.rsvp_message}}
            </div>
        </div>
    </div>
    <div id="event_form_left_col">
        <div class="event_field_section">
            <span class="div_form_above_field_label">Title</span>
            <div class="errorspace">{{form.name.errors}}</div>
            <br>
            {{form.name}}
        </div>
        <div class="event_field_section">
            <span class="div_form_above_field_label">Type</span>
            <div class="errorspace">{{form.type.errors}}</div>
            <br>
            {{form.type}}
            {{form.is_public}}
        </div>
        <div id="short_url_field_section" class="event_field_section">
            <span class="div_form_above_field_label">Short URL</span>
            <div class="errorspace">{{form.short_slug.errors}}</div>
            <br>
            <span id="event_short_url">http://{{current_site}}/{% if user.campusorg %}{{user.campusorg.slug}}{% else %}{{user.recruiter.employer.slug}}{% endif %}/{{form.short_slug}}</span>
        </div>
        <div class="event_field_section">
            <span class="div_form_above_field_label">Resume Drop</span>
            <div class="errorspace">{{form.is_drop.errors}}</div>
            <br>
            {{form.is_drop}}
            <p id="resume_drop_info">(enabling this feature allows students to drop their resume without RSVP-ing)</p>
        </div>
        {% if user.campusorg %}
        <div class="event_field_section">
            <span class="div_form_above_field_label">Attending Employers</span>
            <div class="errorspace">{{form.attending_employers.errors}}</div>
            <br>
            {{form.attending_employers}}
            <span id="create_employer_span">Don't see the employer you need? <a href="#" class="create_employer_link">Create it!</a></span>
            <div id="attending_employers">
            {% if edit %}
                {% for employer in attending_employers.all %}
                    {% include "employer_logo.html" %}
                {% endfor %}
            {% endif %}
            </div>
            <p id="include_and_more">{{form.include_and_more}} Display <strong>"and more..."</strong> beneath the company logos.</p>
        </div>
        {% endif %}
        <div id="event_location_section">
            <span class="div_form_above_field_label">Location</span>
            <div class="errorspace">{{form.location.errors}}</div>
            <br>
            {{form.location}}
            {{form.latitude}}
            {{form.longitude}}
            <div id="map" tabindex="-1"></div>
            <div id="location_suggestions">
            </div>
        </div>
        <div class="event_field_section">
            <span class="div_form_above_field_label">Description</span>
            <div class="errorspace">{{form.description.errors}}</div>
            {{form.description}}
        </div>
    </div>
    <div class="button_wrapper_with_margins centered">
        <input class="button" tabindex="8" type='submit' value='{% if edit %}Save Changes{% else %}Create Event{% endif %}'>
    </div>
</form>
{% endblock %}
