<div id="event_checkin_main" class="hid">
    <div id="event_checkin_header">
        <span>(powered by <img src="{{ STATIC_URL }}images/logo_small_inverted.png" alt="Umeqo" />)</span>
        <h2>{{event.name}}</h2> 
    </div>
    <div id="event_checkin_content">
        <h1>Event Check-in</h1>
        <form id="checkin_form" action="">
            <div class="checkin_field">
                <label for="email_input">Email:</label>
                <input id="email_input" type="text" name="email" placeholder="email@example.com"/>
            </div>
            <div class="checkin_field">
                <label for="name_input">Name (if not an Umeqo account):</label>
                <input id="name_input" type="text" name="name" placeholder="First Last"/>
            </div>
            <div id="enter_info">(Press <strong>ENTER</strong> to submit.)</div>
            <input id="is_registered_input" type="hidden" name="is_registered_input" value="false" />
            <ul id="email_input_autofill"></ul>
        </form>
        <div id="checkin_status"></div>
        <div id="checkin_error" class="hid"></div>
        <ul id="checkins"></ul>
        <ul class="hid">
            <li id="checkins_li_template">
                <span class="name">First Last</span>
                <span class="email">email@mit.edu</span>
            </li>
        </ul>
    </div>
    <div id="close_box">
        <div id="close_dialogue">
            To exit, moving your mouse here<br />for 5 sec will reveal the exit button.<br />
            Click to hide this message.
        </div>
        <p id="event_checkin_count"><span id="event_checkin_count_num">{{checkins|length}}</span> Check-Ins</p>
        <a href="#" id="get_raffle_winner_link">raffle winner!</a>
        {% comment %}NOTE: Using event_page_redirect so the URL is different, otherwise adding a hashtag doesn't reload the page.{% endcomment %}
        <a href="{% url event_page_redirect id=event.id %}#checkin" id="close_button">exit check-in mode</a>
    </div>
</div>
