<li class="{% if event.cancelled %}cancelled{% endif %} {% if past %}past{% endif %}">
    <div class="event_title">
        <span class="type">{{event.type}}</span> {% if not event.is_public %}<span class="private_token">Private</span> {% endif %}<a href="{{event.get_absolute_url}}">{{event.name}}</a>
        <div class="upper_right_div">
        {% if event.location %}
            <span class="location_wrapper">
                <strong>Location:</strong> {% include "event_location.html" %}
            </span>
        {% endif %}
            <div class="hosted_by">
                <span>
                    Hosted by {% include "event_hosted_by.html" %}
                </span>
            </div>
        </div>
    </div>

    {% if user.recruiter and event.owner.recruiter.employer == user.recruiter.employer or user.campusorg and event.owner == user %}
        {% include 'event_snippet_commands.html' %}
        <div class="details commands">
    {% else %}
        <div class="details">
    {% endif %}
        {% if event.cancelled or not event.is_rolling_deadline %}
            <div class="datetime">
                {% if not event.is_rolling_deadline %}
                    {% include "event_datetime.html" %}
                    &nbsp;
                {% endif %}
                <span class="cancelled_warning">Cancelled!</span>
            </div>
        {% endif %}
        {% if event.description %}
            <div>{{event.description|striptags|safe|truncatewords:50}}</div>
        {% endif %}
    </div>
</li>