{% extends "base.html" %}

{% block title %}
{{event.name}} |
{% endblock %}

{% block meta %}
<meta property="og:title" content="{{event.name}}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{page_url}}" />
<meta property="og:image" content="{{current_site}}{{MEDIA_URL}}{{event.owner.recruiter.employer.logo}}" />
<meta property="og:site_name" content="Umeqo" />
<meta property="fb:admins" content="502728220" />
{% endblock %}

{% block metadata %}
{% load compress %}
{% load text_snippet %}
{% compress css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/events/event_page.css" />
    {% if user.recruiter %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/events/event_page_recruiter.css" />
    {% endif %}
    {% if campus_org_event %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/events/event_attending_employees.css" />
    {% endif %}
{% endcompress %}
<script type="text/javascript" src="http://tile.cloudmade.com/wml/latest/web-maps-lite.js"></script>
<script type="text/javascript">
    var EVENT_RSVP_URL = "{% url event_rsvp event_id=event.id %}";
    var EVENT_UNRSVP_URL = "{% url event_unrsvp event_id=event.id %}";
    var EVENT_DROP_URL = "{% url event_drop event_id=event.id %}";
    var EVENT_UNDROP_URL = "{% url event_undrop event_id=event.id %}";
    var CHECKIN_URL = "{% url event_checkin event_id=event.id %}";
    var GET_LOCATION_GUESS_URL = "{% url get_location_guess %}";
    {% if not user.authenticated or not user.student %}
        var DROP_RESUME_TOOLTIP = "{% text_snippet 'drop_resume_tooltip' %}";
        var RSVP_YES_TOOLTIP = "{% text_snippet 'rsvp_yes_tooltip' %}";
    {% endif %}
    var EVENT_IS_PUBLIC = {% if event.is_public %}true{% else %}false{% endif %};
    var EVENT_LATITUDE = {% if event.latitude %}"{{ event.latitude }}"{% else %}false{% endif %};
    var EVENT_LONGITUDE = {% if event.longitude %}"{{ event.longitude }}"{% else %}false{% endif %};
</script>
{% compress js %}
    <script src="{{ STATIC_URL }}js/events/event_page.js"></script>
{% endcompress %}    
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
{% endblock %}

{% block above_header_area %}
{% include "events_checkin.html" with event=event %}
{% endblock %}

{% block content_area %}
<div id="event_page_block" class="simple_block no_top_padding">
    {% if can_edit %}
    <div id="event_admin">
        <h1>{% if is_deadline %}Deadline{% else %}Event{% endif %} Admin (visible only to you) <a href="{% url event_edit id=event.id %}" class="dark_button">Edit Event</a></h1>
        <div id="event_admin_side">
            <table id="event_numbers">
                <tr>
                    <td class="number">{{rsvps|length}}</td>
                    <td class="number_label">{% if is_deadline %}Participating{% else %}Attending{% endif %}</td>
                </tr>
                <tr>
                    <td class="number">{{event.view_count}}</td>
                    <td class="number_label">pageview{{event.view_count|pluralize}}</td>
                </tr>
                {% if campus_org_event %}
                <tr>
                    <td class="number">{{resume_drops}}</td>
                    <td class="number_label">resume drop{{resume_drops|pluralize}}</td>
                </tr>
                {% endif %}
            </table>
            {% if not is_deadline %}
                <div id="event_checkin">
                    <h3>Check-in Mode</h3>
                    <a id="event_checkin_link" href="javascript:void(0)">
                        <span class="text">Enable</span>
                        <span class="filler"></span>
                    </a>
                </div>
            {% endif %}
        </div>
        <div id="event_admin_main">
             <div id="event_tabs">
                {% if event.is_public %}
                    <h2 class="current">RSVP'd {% if is_deadline %}Participating{% else %}Attending{% endif %}</h2>
                {% else %}
                    <h2 class="current">Invited</h2>
                    <h2>{% if is_deadline %}Participating{% else %}Attending{% endif %}</h2>
                    <h2>Not {% if is_deadline %}Participating{% else %}Attending{% endif %}</h2>
                {% endif %}
                {% if not is_deadline %}
                    <h2>Checked-in</h2>
                    <h2>All</h2>
                {% endif %}
            </div>
            {% if not event.is_public %}
                <div id="event_invites" class="responses">
                    {% for student in invitees %}
                        {% include "events_response_token.html" with student=student %}
                    {% empty %}
                    <div id="event_response_empty">
                        There are no invites yet. Visit the <a href="{% url employer_students %}">student filtering page</a> to find and invite students.
                    </div>
                    {% endfor %}
                </div>
            {% endif %}
            <div id="event_rsvps" class="{% if not event.is_public %}hid {% endif %}responses">
                {% for student in rsvps %}
                    {% include "events_response_token.html" with student=student %}
                {% empty %}
                <div id="event_response_empty">
                    Nobody has RSVP'd <strong>{% if is_deadline %}Participating{% else %}Attending{% endif %}</strong> yet.{% if not campus_org_event %} Visit the <a href="{% url employer_students %}">student filtering page</a> to find and invite students.{% endif %}
                </div>
                {% endfor %}
            </div>
            {% if not event.is_public %}
                <div id="event_no_rsvps" class="hid responses">
                    {% for student in no_rsvps %}
                        {% include "events_response_token.html" with student=student %}
                    {% empty %}
                    <div id="event_response_empty">
                        Nobody has RSVP'd <strong>Not {% if is_deadline %}Participating{% else %}Attending{% endif %}</strong> yet.
                    </div>
                    {% endfor %}
                </div>
            {% endif %}
            <div id="event_checkins" class="hid responses">
                {% for student in checkins %}
                    {% include "events_response_token.html" with student=student %}
                {% empty %}
                <div id="event_response_empty">There are no check-ins yet.</div>
                {% endfor %}
            </div>
            <div id="event_all" class="hid responses">
                {% for student in all_responses %}
                    {% include "events_response_token.html" with student=student %}
                {% empty %}
                <div id="event_response_empty">There are no check-ins or RSVPs yet.</div>
                {% endfor %}
            </div>
            <p>*Grayed out students do not have an Umeqo account.</p>
        </div>
        <div class="clearfix"></div>
    </div>
    {% endif %}
    <div id="event_actions">
        <div id="rsvp_div" class="{% if event.is_public %}public{% else %}private{% endif %}">
            {% if is_past %}
                <a href="javascript:void(0)" id="rsvp-yes-button" class="button" disabled="disabled" title="RSVP disabled.">{% if is_deadline %}Deadline{% else %}Event{% endif %} already passed!</a>
            {% else %}
                {% if can_rsvp or can_edit %}
                        {% if event.is_public %}
                            <div class="no-response{% if not responded %} hid{% endif %}">
                                <span id="attending-span">{% if is_deadline %}Participating{% else %}Attending{% endif %}</span>
                                <a href="{% url event_unrsvp event_id=event.id %}" id="remove-rsvp-button">RSVP: Not {% if is_deadline %}Participating{% else %}Attending{% endif %}</a>
                            </div>
                            <div class="response{% if responded %} hid{% endif %}">
                                <a href="{% url event_rsvp event_id=event.id %}" id="rsvp-yes-button" class="button" {% if not can_rsvp %}disabled="disabled" {% endif %}>RSVP: {% if is_deadline %}Participating{% else %}Attending{% endif %}</a>
                            </div>
                        {% else %}
                            <strong>RSVP:</strong>
                            {% spaceless %}
                                <a href="{% url event_rsvp event_id=event.id %}" id="rsvp-yes-button" class="left-group button{% if attending %} selected{% endif %}"{% if can_edit %}disabled="disabled"{% endif %}>{% if is_deadline %}Participating{% else %}Attending{% endif %}</a>
                                <a href="{% url event_rsvp event_id=event.id %}" id="rsvp-no-button" class="right-group button{% if responded and not attending %} selected{% endif %}" {% if can_edit %}disabled="disabled"{% endif %}>Not {% if is_deadline %}Participating{% else %}Attending{% endif %}</a>
                            {% endspaceless %}
                            <strong class="no-response{% if not responded %} hid{% endif %}"><a href="{% url event_unrsvp event_id=event.id %}" id="remove-rsvp-button">Undo RSVP and Resume Drop</a></strong>
                        {% endif %}
                {% else %}
                    <a href="/login/" id="rsvp-yes-button" class="button" disabled="disabled" title="RSVP requires login.">
                        Login to RSVP
                    </a>
                {% endif %}
            {% endif %}
        </div>
        {% if not is_past %}
        <a title="Add to Google Calendar" class="google-button" href="http://www.google.com/calendar/event?action=TEMPLATE&text={{event.name|urlencode}}{% if not event.start_datetime %}%20({{event.end_datetime|date:"g:i A"}}){% endif %}&dates={% if event.start_datetime %}{{event.start_datetime|date:"Ymd\THis\Z"}}/{{event.end_datetime|date:"Ymd\THis"}}{% else %}{{event.end_datetime|date:"Ymd"}}/{{event.end_datetime|date:"Ymd"}}{% endif %}&sprop=www.{{DOMAIN}}&sprop=name:Umeqo&location={{event.location|urlencode}}">
            <img src="http://buttons.googlesyndication.com/fusion/add.gif" alt="Add to Google"/>
        </a>
        {% endif %}
    </div>
    <h1 id="event_title">{{event.name}}{% if not event.is_public %}<span class="private_token">Private</span>{% endif %}</h1>
    <div id="event_time">
        {% if event.start_datetime %}
        <span class="start">{{event.start_datetime|date:"D, F j"}}
        {% endif %}
        <span class="end">
            {% ifequal event.start_datetime.day event.end_datetime.day %}
            {% ifequal event.start_datetime.month event.end_datetime.month %}
            {% ifequal event.start_datetime.year event.end_datetime.year %}
                from {{event.start_datetime|date:"h:i A"}}</span> -
                {{event.end_datetime|date:"h:i A"}}
            {% endifequal %}{% endifequal %}
            {% else %}
                {% if event.start_datetime %}</span> - {% endif %}
                {{event.end_datetime|date:"D, F j h:i A"}}
            {% endifequal %}
        </span>
    </div>
    {% if event.is_public %}
        <div id="event_external_buttons">
            <div class="external_button">
                <g:plusone size="medium"></g:plusone>
            </div>
            <div class="external_button">
                <a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="umeqo">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
            </div>
            <div class="external_button">
                <fb:like href="" send="true" layout="button_count" width="100" show_faces="false" font=""></fb:like>
            </div>
        </div>
    {% endif %}

    {% if event.is_drop %}
        {% if user.is_authenticated %}
          {% if dropped_resume %}
              <a id="event_resume_undrop" class="button" {% if not user.student %}disabled="disabled"{% endif %} href="javascript:void(0)">Undo Drop Resume</a>
          {% else %}
              <a id="event_resume_drop" class="button" {% if not user.student %}disabled="disabled"{% endif %} href="javascript:void(0)">Drop Resume</a>
          {% endif %}
        {% else %}
            <a id="event_resume_drop" class="button" disabled="disabled" href="javascript:void(0)">Login to drop your resume</a>
        {% endif %}
    {% endif %}
    <div id="event_description" class="main_block">
        <div class="main_block_header">
            <span class="main_block_header_title">{% if is_deadline %}Deadline{% else %}Event{% endif %} Details</span>
        </div>
        <div class="main_block_content">
            {% if audience %}
            <div id="event_audience">
                <span class="label">Audience:</span>
                {% for a in audience %}
                    {{a}}{% if not forloop.last %},{% endif %}
                {% endfor %}
                </ul>
                <div class="clearfix"></div>
            </div>
            {% endif %}
            {% if event.description %}{{event.description|safe}}{% else %}No description provided.{% endif %}
        </div>
    </div>
    {% if campus_org_event %}
    <div id="event_attending_employers" class="main_block">
        <div class="main_block_header">
            <span class="main_block_header_title">Attending Employers</span>
        </div>
        <div id="attending_employers" class="main_block_content">
            {% for employer in attending_employers.all %}
                {% include "employer.html" %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <div id="event_side">
        {% if event.location %}
        <div id="event_where" class="main_block">
            <div class="main_block_header">
                <span class="main_block_header_title">Where</span>
            </div>
            <div class="main_block_content">
                <h3>{{ event.location }}</h3>
                {% if event.latitude and event.longitude %}
                  <div id="map" style="width: 260px; height: 250px"></div>
                {% endif %}
            </div>
        </div>
        {% endif %}
        <div id="event_who" class="main_block">
            <div class="main_block_header">
                <span class="main_block_header_title">Hosted by</span>
            </div>
            <div class="main_block_content">
                <div class="event_company">
                    <div class="event_host_logo">
                        {% if campus_org_event %}
                            <img src="{{MEDIA_URL}}{{event.owner.campusorg.image}}" />                        
                        {% else %}
                            <img src="{{MEDIA_URL}}{{event.owner.recruiter.employer.logo}}" />
                        {% endif %}
                    </div>
                    <div class="event_company_name">
                      {% if campus_org_event %}{{event.owner.campusorg}}{% else %}{{ recruiter.name }}{% endif %}
                        <a href="{% if not can_edit%}{% url employers_list %}?id={{event.owner.recruiter.employer.id}}{% else %}#{% endif %}" class="employer">
                            {{event.owner.recruiter.employer}}
                        </a>
                    </div>
                    <div class="industries">
                        {% for industry in event.owner.recruiter.employer.industries.all %}
                            <div>{{ industry }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({appId: '119497238132973', status: true, cookie: true,
             xfbml: true});
  };
  (function() {
    var e = document.createElement('script'); e.async = true;
    e.src = document.location.protocol +
      '//connect.facebook.net/en_US/all.js';
    document.getElementById('fb-root').appendChild(e);
  }());
</script>
<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
{% endblock %}
