{% if not event.cancelled %}
    {% if is_past  %}
        {% if event.is_deadline %}
        <div class="gray_button deadline_passed_indicator" disabled="disabled">Deadline has passed</div>
        {% else %}
            {% if user.student %}
                {% if attended %}
                    <div class="gray_button" disabled="disabled">You Attended</div> 
                {% else %}
                    <div class="gray_button" disabled="disabled">You didn't attend</div> 
                {% endif %}
            {% else %}
                <div class="gray_button" disabled="disabled">Event Passed</div> 
            {% endif %}
        {% endif %}
    {% endif %}
    {% if not is_past %}
        {% if event.is_public %}
            {% if user.is_anonymous %}
                <div data-action="rsvp" id="rsvp_button" data-event-id="{{event.id}}" data-title="RSVP {% if is_deadline %}Participating{% else %}Attending{% endif %}" class="student_quick_registration_link gray_button">RSVP {% if is_deadline %}Participating{% else %}Attending{% endif %}</div>                    
            {% else %}
                {% if user.student %}
                    {% if responded %}
                        {% if attending %}
                            <div id="rsvp_no" class="attending gray_button">{% if is_deadline %}Participating{% else %}Attending{% endif %}</div>
                        {% else %}
                            <div id="rsvp_yes" class="not_attending gray_button">{% if is_deadline %}Not Participating{% else %}Not Attending{% endif %}</div>
                        {% endif %}
                    {% else %}
                        <div id="rsvp_yes" class="gray_button">RSVP {% if is_deadline %}Participating{% else %}Attending{% endif %}</div>
                    {% endif %}
                {% else %}
                    <div class="gray_button" disabled="disabled">RSVP {% if is_deadline %}Participating{% else %}Attending{% endif %}</div>
                {% endif %}
            {% endif %}
        {% else %}
            {% if user.student %}
                {% if responded %}
                    {% if attending %}
                        <div id="rsvp_no" class="attending gray_button">{% if is_deadline %}Participating{% else %}Attending{% endif %}</div>
                    {% else %}
                        <div id="rsvp_yes" class="not_attending gray_button">Not {% if is_deadline %}Participating{% else %}Attending{% endif %}</div>
                    {% endif %}
                {% else %}
                    <div class="dropdown gray_button">
                        <span>RSVP</span>
                        <img src="{{ STATIC_URL }}images/icons/dropdown_png.png"/>
                        <ul>
                            <li id="rsvp_yes">{% if is_deadline %}Participating{% else %}Attending{% endif %}</li>
                            <li id="rsvp_no">Not {% if is_deadline %}Participating{% else %}Attending{% endif %}</li>
                        </ul>
                    </div>
                {% endif %}
            {% else %}
                <div id="rsvp_choices" class="gray_button dropdown" disabled="disabled">
                     <span>RSVP</span>
                    <img src="{{ STATIC_URL }}images/icons/dropdown_png.png"/>
                </div>
            {% endif %}
        {% endif %}
    {% endif %}
    {% if event.is_drop %}
        {% if user.is_anonymous %}
            <div data-title="Drop Resume" id="drop_resume_button" data-action="drop" data-event-id="{{event.id}}" class="gray_button student_quick_registration_link">Drop Resume</div>
        {% else %}                        
            {% if dropped_resume %}
                <div id="undrop_resume" class="resume_dropped gray_button" >Resume Dropped</div>
            {% else %}
                <div id="drop_resume" class="gray_button" {% if not user.student %}disabled="disabled"{% endif %}>Drop Resume</div>
            {% endif %}
        {% endif %}
    {% endif %}
{% endif %}
{% if user.recruiter or user.campusorg %}
    <div class="gray_button archived_indicator" disabled="disabled">Archived</div>
{% endif %} 
{% if not is_past and not event.cancelled and not event.is_rolling_deadline %}<a target="_blank" id="add_to_google_calendar" href="{{ event|google_calendarize }}"><img src="{{ STATIC_URL }}images/icons/calendar-plus.png" /><span>Google Calendar</span></a>{% endif %}