{% if students %}
    {% for student in students|slice:":9" %}
        {% include "events_response_token.html" with student=student %}
    {% endfor %}
    {% if students|slice:"9:" %}
        <div class="rest_of_responses">
            {% for student in students|slice:"9:" %}
                {% include "events_response_token.html" with student=student %}
            {% endfor %}
        </div>
        <a href="#" class="expand_responses show">Show {{students|length|add:"-9"}} More&thinsp;&#x25bc;</a>
        <a href="#" class="expand_responses hide">Hide&thinsp;&#x25B2;</a>
    {% endif %}
{% endif %}
