<div class="dialog_content_wrapper">
    <h3>Are you sure you want to end this rolling deadline?</h3>
    <p>This action cannot be undone.</p>
    
    <form id="rolling_deadline_end_form" method='POST' action="{% url event_cancel id=event.id %}">
        {% csrf_token %}
        <table class="form_table">
            <tr>
                <td class="button_cell">
                    <a href="javascript:void(0)" class="button close_dialog_link">No, keep it</a>
                    <a href="#" id="rolling_deadline_end_confirm_link" class="caution">Yes, end it</a>
                    <img class='ajax_form_submit_loader' src='{{ STATIC_URL }}images/loaders/s_ajax.gif'>
                </td>
            </tr>
        </table>
    </form>
</div>