{% extends "base.html" %}

{% block title %}
Home |
{% endblock %}

{% block metadata %}
{{block.super}}
{% load compress %}
{% compress css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/employer/employer_home.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/events/event_snippet.css" />
{% endcompress %}
{% compress js %}
<script type="text/javascript" src="{{ STATIC_URL }}javascript/employer/employer_home.js"></script>
{% endcompress %}
{% endblock %}

{% block content_area %}
<div class="left_side_container">
    {% include "employer_side_nav.html" %}
</div>

<div class="main_block no_top_margin">
    <div class="main_block_header">
        <img class="main_block_header_icon" src="{{ STATIC_URL }}images/icons/umeqo_bubble2.png" />
        <span class="main_block_header_title">Welcome!</span>
    </div>
    <div class="main_block_content">
        <div class="simple_block">
            <p>
                This is probably your first time here, so let us tell you a little bit about Umeqo.
            </p>
        </div>
    </div>
</div>

<div class="main_block">
    <div class="main_block_header">
        <img class="main_block_header_icon" src="{{ STATIC_URL }}images/icons/magnifier.png" />
        <span class="main_block_header_title">Browse Students</span>
        <div class="main_block_header_content">
            <form id="search_form" method="post" action="/employer/students/">
                {% csrf_token %}
                {{search_form.query}}
                <input id="search_form_submit_button" class="button" type="submit" value="Search"/>
                <a href="{% url employer_students %}" class="button">Browse Students</a>
            </form>
        </div>
    </div>
    <div class="main_block_content">
        <div class="simple_block">
            <p>
                Search for students above, or let us find them for you by providing your company's default filtering parameters.
            </p>
            <br>
            <p>
                <a href="{% url employer_students_default_filtering %}"><strong>Setup Automatic Filtering</strong></a>
            </p>
        </div>
    </div>
</div>
<div id="events_and_deadlines_block" class="main_block">
    <div class="main_block_header" id="events">
        <img class="main_block_header_icon" src="{{ STATIC_URL }}images/icons/calendar.png"/>
        <span class="main_block_header_title">Your Events and Deadlines</span>
        <div class="main_block_header_content">
            <a href="{% url event_new %}" class="button">New Event</a>
        </div>
    </div>
    <div class="main_block_content">
        {% for event in your_events %}
        {% ifchanged event.upcoming %}
        {% if not forloop.first %}</ul>{% endif %}
        <h3>{% cycle "Upcoming" "Past" %}</h3>
        <ul class="event_list editable_event_list">
        {% endifchanged %}
            {% include "event_snippet.html" with edit='True' %}
        {% endfor %}
        </ul>
        <div id="no_events_block" class="simple_block" {% if your_events %}style="display:none"{% endif %}>
            <p>
                You can post your company's events and deadlines for students to view and add to their calendars.
            </p>
            <p>
                You currently don't have any upcoming events/deadlines; <a href="{% url event_new %}"><strong>create one now</strong></a>.
            </p>
        </div>
    </div>
</div>
{% endblock %}
