{% extends "account_base.html" %}

{% block metadata %}
{{block.super}}
{% load compress %}
{% compress css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/employer/employer_account.css" />
{% endcompress %}
<script>
CANCEL_SUBSCRIPTION_URL = "{% url cancel_subscription %}";
</script>
{% compress js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/employer/employer_account.js"></script>
{% if user.recruiter.is_master %}
<script type="text/javascript" src="{{ STATIC_URL }}js/subscription/subscription_cancel.js"></script>
{% endif %}
{% endcompress %}
{% endblock %}

{% block content_area %}
<div class="left_side_container">
    {% include "employer_side_nav.html" %}
</div>
{{block.super}}
{% endblock %}

{% block account_settings_tab_declarations %}
     <li><a href="#tabs-3" id="subscription_link">Subscriptions</a></li>
     {% if user.recruiter.is_master %}
     <li><a href="#tabs-4" id="billing_link">Billing</a></li>
     {% endif %}
{% endblock %}
            
{% block preferences %}
<form id="preferences_form" method="POST" action="{% url employer_account_preferences %}">
{% csrf_token %}
    <table id="notification_preferences_table" class="form_table">
        <tbody>  
        <tr>
           <th>Events</th>
           <th>Email</th>
       </tr>
       <tr>
          <td>RSVP to Public Event</td>
          <td class="checkbox email_checkbox">
              {{preferences_form.email_on_rsvp_to_public_event}}
          </td>
       </tr>
       <tr>
          <td>RSVP to Private Event</td>
          <td class="checkbox email_checkbox">
              {{preferences_form.email_on_rsvp_to_private_event}}
          </td>
       </tr>
           </tbody>              
    </table>
    <h3>Search &amp; Filtering Preferences</h3>
    <p class="sub_header_message">The values chosen here will be set as defaults on the student Search and Filtering page.</p>
    <table id="search_and_filtering_table" class="form_table">
        <tbody>
            <tr>
                <th class="no_top_border">{{preferences_form.default_student_results_per_page.label_tag}}</th>
                <td class="no_top_border">
                    {{preferences_form.default_student_results_per_page}}
                </td>
            </tr>
            <tr>
                <th>{{preferences_form.default_student_result_ordering.label_tag}}</th>
                <td>
                    {{preferences_form.default_student_result_ordering}}
                </td>
            </tr>
{% endblock %}

{% block account_settings_tab_definitions %}
    <div id="tabs-3" class="clearfix">
        <h3 class="no_top_margin">Your Subscription</h3>
        <div class="right_side_container">
            <a href="/employer/subscriptions/{{request.recruiter.employer.size}}" class="button">Cancel</a>
            <a href="/employer/subscriptions/{{request.recruiter.employer.size}}" class="button">Extend</a>
            <a href="{% url subscription_detail object_id=user_subscription.subscription.id %}" class="button">Upgrade</a>
        </div>
        <div id="current_recruiter_info">
            <h2>{{user_subscription.subscription.name}}</h2>
            <h4>Expires on: {{user_subscription.expires}}</h4>
        </div>
        <h3>Manage Other Accounts</h3>
        <p class="sub_header_message">Because you are are the master account for {{user.recruiter.employer}}, you can manage other recruiter accounts.</p>
        {% if master %}
            {% if other_recruiters %}
                {% for recruiter in other_recruiters %}
                    <div class="recruiter_account_li">
                        <span class="recruter_status">{{recruiter.user.first_name}} {{recruiter.user.last_name}}</span> <span>({{recruiter.user.username}})</span> <span>Subscription:{{recruiter.get_subscription}}</span> <span class="recruter_status">{% if recruiter.get_subscription.active %}{{recruiter.get_subscription.days_left}}{% endif %}<span>
                    </div>
                {% endfor %}
            {% endif %}
        {% else %}
            {{master.first_name}} {{master.last_name}} ({{master.username}}) manages the account for {{user.recruiter.employer.}}
        {% endif %}
    </div>
    {% if user.recruiter.is_master %}
        <div id="tabs-4" class="clearfix">
            <h3 class="no_top_margin">Stored Information</h3>
            <h3>Payment History</h3>
            <div id="past_payments">
                <table>
                    <tbody>
                         <tr>
                             <th>Date</th>
                             <th>Card</th>
                             <th>Payment</th>
                             <th>Amount</th>
                         </tr>
                        {% if past_payments %}
                            {% for p in past_payments %}
                            <tr class={% if p.successful %}"successful_payment"{% else %}"failed_payment"{% endif %}>
                                <td class="date">{{p.date}}</td>
                                <td>{{p.card}}</td>
                                <td>
                                    <div>
                                        <a href="/account/receipt/1459174374">Download Receipt</a>
                                    </div>
                                </td>
                                <td>{{p.amount}}</td>
                            </tr>
                            {% endfor %}
                        {% else %}
                            <td id="no_past_payments" colspan="4">You have no past payments.</td>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}