<!--
Developers : Dmitrij Petters,
All code is property of original developers.
Copyright 2011. All Rights Reserved.
-->

{% extends "base.html" %}

{% block title %}
| Events
{% endblock %}

{% block metadata %}
{{block.super}}
<link rel="stylesheet" href="{{ STATIC_URL }}css/events/event_snippet.css" />
{% endblock %}

{% block content_area %}
<div class="main_block">
    <div class="main_block_header">
        <img class="main_block_header_icon" src="{{ STATIC_URL }}images/icons/calendar.png"/>
        <span class="main_block_header_title">Your Events</span>
    </div>
    <div class="main_block_content">
        <ul class="event_list editable_event_list">
        {% for event in upcoming_events %}
           <li>
           {% include "event_snippet.html" with edit="True"%}
           </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
