{% extends "base.html" %}

{% block title %}
Home |
{% endblock %}

{% block metadata %}
{{block.super}}
{% load compress %}
{% compress css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/employer/employer_home.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/events/event_snippet.css" />
{% endcompress %}
{% compress js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/employer/employer_home.js"></script>
{% endcompress %}
{% endblock %}

{% block content_area %}
<div class="left_side_container">
    {% include "employer_side_nav.html" %}
</div>

<div class="main_block no_top_margin with_side_nav">
    <div class="main_block_header">
        <img class="main_block_header_icon" src="{{ STATIC_URL }}images/icons/umeqo_bubble2.png" />
        <span class="main_block_header_title">Welcome!</span>
    </div>
    <div class="main_block_content">
        <div id="welcome_block">
            <p><strong>Thank you for beta testing Umeqo!</strong> Explore the site and check out some of the features:</p>
            <table id="welcome_table">
                <tr>
                    <td>
                        <a href="{% url events_list %}"><img src="{{ STATIC_URL }}images/home/launch.png" /></a>
                    </td>
                    <td>
                        <p><a href="{% url events_list %}">Browse and search</a> the events that employers have posted.</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{% url employers_list %}"><img src="{{ STATIC_URL }}images/home/employers.png" /></a>
                    </td>
                    <td>
                        <p><a href="{% url employers_list %}">Filter through employers</a> on Umeqo - watch this list grow! Subscribe to the ones you're interested in, and we'll send you notifications when they create new events and their events will appear below.</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{% url student_profile %}"><img src="{{ STATIC_URL }}images/home/profile.png" /></a>
                    </td>
                    <td>
                        <p><a href="{% url student_profile %}">Edit your profile details</a> and preview yourself as employers would. The more you fill out, the more likely you'll be seen.</p>
                    </td>
                </tr>
            </table>
            <p>Again, please remember this is just a beta and there may (read: definitely) be things that are broken. Please do <a href="#" class="open_contact_us_dialog_link">report bugs</a> you see - there's a "Contact Us" link at the bottom of every page.</p>
        </div>
    </div>
</div>

<div class="main_block with_side_nav">
    <div class="main_block_header">
        <img class="main_block_header_icon" src="{{ STATIC_URL }}images/icons/magnifier.png" />
        <span class="main_block_header_title">Browse Students</span>
        <div class="main_block_header_content">
            <form id="search_form" method="post" action="/employer/students/">
                {% csrf_token %}
                {{search_form.query}}
                <input id="search_form_submit_button" class="button" type="submit" value="Search"/>
                <a href="{% url employer_students %}" class="button">Browse Students</a>
            </form>
        </div>
    </div>
    <div class="main_block_content">
        <div class="simple_block centered">
            <p>
                Search for students above, or let us find them for you by providing your company's default filtering parameters.
            </p>
            <br>
            <p>
                <a href="{% url employer_students_default_filtering %}"><strong>Setup Automatic Filtering</strong></a>
            </p>
        </div>
    </div>
</div>
<div class="main_block with_side_nav">
    <div class="main_block_header" id="events">
        <img class="main_block_header_icon" src="{{ STATIC_URL }}images/icons/calendar.png"/>
        <span class="main_block_header_title">Your Events and Deadlines</span>
        <div class="main_block_header_content">
            <a href="{% url event_new %}" class="button">New Event</a>
        </div>
    </div>
    <div class="main_block_content">
        {% for event in your_events %}
        {% ifchanged event.upcoming %}
        {% if not forloop.first %}</ul>{% endif %}
        <h3 id="events_header">{% cycle "Upcoming" "Past" %}</h3>
        <ul class="event_list editable_event_list">
        {% endifchanged %}
            {% include "event_snippet.html" with edit='True' %}
        {% endfor %}
        </ul>
        <div id="no_events_block" class="simple_block centered" {% if your_events %}style="display:none"{% endif %}>
            <p>
                You can post your company's events and deadlines for students to view and add to their calendars.
            </p>
            <p>
                You currently don't have any upcoming events/deadlines; <a href="{% url event_new %}"><strong>create one now</strong></a>.
            </p>
        </div>
    </div>
</div>
{% endblock %}
