{% extends "home_base.html" %}

{% block metadata %}
{{block.super}}
{% load compress %}
{% load text_snippet %}

{% compress css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/employer/employer_home.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/events/event_snippet.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/events/rolling_deadline_end_dialog.css" />
{% endcompress %}

<script>
    var EVENT_ARCHIVED = "{% text_snippet 'event_archived' %}";
    var DEADLINE_ARCHIVED = "{% text_snippet 'deadline_archived' %}";
    var EVENT_CANCELLED = "{% text_snippet 'event_cancelled' %}";
    var DEADLINE_CANCELLED = "{% text_snippet 'deadline_cancelled' %}";
    var ROLLING_DEADLINE_ENDED = "{% text_snippet 'rolling_deadline_ended' %}";
</script>
{% compress js %}
<script src="{{ STATIC_URL }}js/employer/employer_home.js"></script>
<script src="{{ STATIC_URL }}js/events/event_archive.js"></script>
<script src="{{ STATIC_URL }}js/events/event_cancel_dialog.js"></script>
<script src="{{ STATIC_URL }}js/events/rolling_deadline_end_dialog.js"></script>
{% endcompress %}
{% endblock %}

{% block left_side_container %}
    {% include "employer_side_nav.html" %}
    <div id="statistics_block">
        <h3>Your Statistics</h3>
        <p><strong>Student Subscribers:</strong> {{subscribers}}</p>
    </div>
{% endblock %}

{% block featured_content %}
<a href="{% url employer_students %}"><div id="students"><img src="{{ STATIC_URL }}images/icons/twg_retina/magnifier_64.png" /><span>Browse students</span></div></a>
<a href="{% url event_new %}"><div id="events"><img src="{{ STATIC_URL }}images/icons/twg_retina/calendar_64.png" /><span>Create events<br> & deadlines</span></div></a>
<a href="{% url employer_profile %}"><div id="profile"><img src="{{ STATIC_URL }}images/icons/twg_retina/man_64.png" /><span>Update profile</span></div></a>
{% endblock %}

{% block content %}
<div class="main_block with_side_nav">
    <div class="main_block_header">
        <img class="main_block_header_icon" src="{{ STATIC_URL }}images/icons/magnifier.png" />
        <span class="main_block_header_title">Browse Students</span>
        <div class="main_block_header_content">
            <form id="search_form" action="{% url employer_students %}">
                {{search_form.query}}
                <input id="search_form_submit_button" class="button" type="submit" value="Search"/>
                <a href="{% url employer_students %}" class="button">Browse Students</a>
            </form>
        </div>
    </div>
</div>
<div id="upcoming_events" class="main_block with_side_nav">
    <div class="main_block_header">
        <img class="main_block_header_icon" src="{{ STATIC_URL }}images/icons/calendar.png"/>
        <span class="main_block_header_title">Upcoming Events and Deadlines</span>
        <div class="main_block_header_content">
            <a href="{% url event_new %}" class="button">Create New</a>
        </div>
    </div>
    <div class="main_block_content">
        {% include "upcoming_events_list.html" %}
        <div id="no_events_block" class="simple_block centered" {% if events_exist %}style="display:none"{% endif %}>
            <p>
                You can post your company's events and deadlines for students to view and add to their calendars.
            </p>
            <p>
                You don't have any upcoming events or deadlines. <a href="{% url event_new %}">Create one now!</a>.
            </p>
        </div>
    </div>
</div>
{% endblock %}