<div class="industries">
    {% for industry in employer.industries.all %}
        <div>{{industry}}</div>
    {% endfor %}
</div>
<h1>{{employer.name}}</h1>
{% if subbed %}
    <a id="employer_unsubscribe" href="#" class="button warning-button">Unsubscribe</a>
{% else %}
    <a id="employer_subscribe" href="#" class="button">Subscribe</a>
{% endif %}
<div class="description">{{employer.description}}</div>
<h2>Events</h2>
<ul class="event_list editable_event_list">
{% for event in events %}
    {% include "event_snippet.html" %}
{% empty %}
    <li>This employer has no listed events.</li>
{% endfor %}
</ul>
{% if isnotajax %}
    <input id="isnotajax" value="true" type="hidden" />
{% else %}
    <input id="isnotajax" value="false" type="hidden" />
{% endif %}
<input type="hidden" id="loaded_employer_id" value="{{employer.id}}" />
