{% extends "base.html" %}

{% block title %}
    Resume Book History |
{% endblock %}

{% block metadata %}
    {{block.super}}
    {% load compress %}
    {% compress css %}
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/employer/employer_resume_book_history.css" />
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/employer/employer_resume_book_deliver.css" />
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}lib/jquery_multiselect/jquery_multiselect_filter.css" />
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}lib/jquery_multiselect/jquery_multiselect.css" />
    {% endcompress %}
    <script>
        var EMAIL_DELIVERY_TYPE = "{{ email_delivery_type }}";
        var RESUME_BOOK_CREATE_URL = "{% url employer_resume_book_create %}";
        var RESUME_BOOK_DELIVER_URL = "{% url employer_resume_book_deliver %}";
        var RESUME_BOOK_DOWNLOAD_URL = "{% url employer_resume_book_download %}";
        var RESUME_BOOK_DELIVERED_URL = "{% url employer_resume_book_delivered %}";
        var EMPLOYER_RESUME_BOOK_DELETE_URL = "{% url employer_resume_book_delete %}"
    </script>
    {% compress js %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/employer/employer_resume_book_history.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}lib/jquery_autoresize/jquery_autoresize.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}lib/jquery_multiselect/jquery_multiselect_min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}lib/jquery_multiselect/jquery_multiselect_filter_min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/employer/employer_resume_book_deliver.js"></script>
    {% endcompress %}
{% endblock %}

{% block content_area %}
<div class="left_side_container">
    {% include "employer_side_nav.html" %}
</div>

<h1>Resume Book History</h1>
<div class="main_block no_header with_side_nav">
    <div class="main_block_content resume_book_list">
        <ul id="resume_book_list">
            {% for resume_book in resume_books %}
                {% if resume_book.students.visible|length > 0 %}
                    <li>
                        <div class="right_side_container">
                            <a class="button button-umeqo-blue resume_book_deliver_link" data-resume-book-id="{{resume_book.id}}" href="#">Re-Deliver</a>
                            <p><a class="delete_resume_book_link caution" data-resume-book-id="{{resume_book.id}}" href="#">Delete</a></p>
                        </div>
                        <div class="details">
                            <h2 class="resume_book_name">{{ resume_book.name }}</h2>
                            <p><strong>Last Delivery Date/Time:</strong> {{resume_book.last_updated|date:"D, F j"}}, {{resume_book.last_updated|date:"Y"}} <em>{{resume_book.last_updated|date:"h:i A"}}</em></p>
                            <p><strong>Size:</strong> <a href="{% url employer_students %}?isl={{resume_book.id}}">{{resume_book.students.visible|length}} students</a></p>
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
            <li {% if resume_books %}style="display:none"{% endif %} id="no_resume_books">You have not created any resume books yet. Visit the <a href="{% url employer_students %}">student filtering page</a> to create one.</li>
        </ul>
    </div>
</div>
{% endblock %}
