{% extends "account_settings_base.html" %}

{% block metadata %}
{{block.super}}
<link rel="stylesheet" href="{{ STATIC_URL }}css/employer/employer_account_settings.css" />
<script type="text/javascript" src="{{ STATIC_URL }}javascript/employer/employer_account_settings.js"></script>
{% endblock %}

{% block account_settings_tab_declarations %}
     <li><a href="#tabs-3" id="subscription_and_billing_link">Subscription &amp; Billing</a></li>
{% endblock %}
            
{% block account_settings_tab_definitions %}
    <div id="tabs-3" class="clearfix">
    </div>
{% endblock %}

{% block notifications_table_rows %}
   <tr>
       <th>Events</th>
       <th>Email</th>
   </tr>
   <tr>
      <td>RSVP to Public Event</td>
      <td class="checkbox">
          {{preferences_form.email_on_rsvp_to_public_event}}
      </td>
   </tr>
   <tr>
      <td>RSVP to Private Event</td>
      <td class="checkbox">
          {{preferences_form.email_on_rsvp_to_private_event}}
      </td>
   </tr>
{% endblock %}

{% block preferences_left_side %}
    <h3>Search &amp; Filtering Preferences</h3>
    <p class="sub_header_message">The values chosen here will be set as defaults on the student search and filtering page.</p>
    <table id="search_and_filtering_table">
        <tbody>
            <tr>
                <th class="no_top_border">{{preferences_form.default_student_results_per_page.label_tag}}</th>
                <td class="no_top_border">
                    {{preferences_form.default_student_results_per_page}}
                </td>
            </tr>
            <tr>
                <th>{{preferences_form.default_student_result_ordering.label_tag}}</th>
                <td>
                    {{preferences_form.default_student_result_ordering}}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
