{% extends "base.html" %}

{% block title %}
Setup Automatic Filtering |
{% endblock %}

{% block metadata %}
<!-- JQuery MultiSelect Widget -->
<script type="text/javascript" src="{{ STATIC_URL }}lib/jquery_multiselect/jquery_multiselect_min.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}lib/jquery_multiselect/jquery_multiselect.css" />

<!-- JQuery MultiSelect Widget Filtering Plugin -->
<script type="text/javascript" src="{{ STATIC_URL }}lib/jquery_multiselect/jquery_multiselect_filter_min.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}lib/jquery_multiselect/jquery_multiselect_filter.css" />

<!-- Custom -->
<link rel="stylesheet" href="{{ STATIC_URL }}css/employer/employer_students_default_filtering.css" />
<script type="text/javascript" src="{{ STATIC_URL }}javascript/employer/employer_students_default_filtering.js">
</script>

<!--datetime_field media-->
{{form.media}}
{% endblock %}

{% block content_area %}
<div id="event_form_block" class="main_block no_top_margin">
    <div class="main_block_header">
        <img class="main_block_header_icon" src="{{ STATIC_URL }}images/icons/magnifier.png"/>
        <span class="main_block_header_title">Set Up Default Filtering</span>
    </div>
    <div class="main_block_content">
        <div class="section content">
            <h3>How It Works</h3>
            <p>Here, you'll be able to set default parameters for <a href="{% url employer_students %}">student filtering</a>. Instead of starting filtering from scratch each time, set those parameters here, and they will be pre-set for you. For example, use these settings if you are only interested in students who are juniors and seniors with a GPA over 4.2.</p>
            <p>Additionally, you will get notified each time new students match your default filtering parameters. </p>
            <p>
                To customize how you will be notified,
                <a href="javascript:void(0)">change your preferences</a>.
            </p>
        </div>
        <form id="default_filtering_parameters_form" method="POST" action="">
            {% csrf_token %}
            <div class="section">
                <h3>I'm looking for students who...</h3>
                <table class="form_table">
                    <tr>
                        <th><label for="id_majors">are majoring in:</label></th>
                        <td>{{form.majors}}</td>
                    </tr>
                    <tr>
                        <th><label for="id_industries_of_interest">are interested in:</label></th>
                        <td>{{form.industries_of_interest}}</td>
                    </tr>
                    <tr>
                        <th><label for="id_previous_employers">have worked for:</label></th>
                        <td>{{form.previous_employers}}</td>
                    </tr>
                    <tr>
                        <th><label for="id_languages">know the languages:</label></th>
                        <td>{{form.languages}}</td>
                    </tr>
                    <tr>
                        <th><label for="id_campus_orgs">are involved in:</label></th>
                        <td>{{form.campus_orgs}}</td>
                    </tr>
                    <tr>
                        <th><label for="id_graduation_years">are graduating in:</label></th>
                        <td>{{form.graduation_years}}</td>
                    </tr>
                    <tr>
                        <th><label for="id_school_years">are in the year:</label></th>
                        <td>{{form.school_years}}</td>
                    </tr>
                    <tr>
                        <th><label for="id_looking_for_internship">are looking for an internship:</label></th>
                        <td>{{form.looking_for_internship}}</td>
                    </tr>
                    <tr>
                        <th><label for="id_looking_for_fulltime">are looking for fulltime:</label></th>
                        <td>{{form.looking_for_fulltime}}</td>
                    </tr>
                    <tr>
                        <th><label for="id_older_than_21">are older than 18:</label></th>
                        <td>{{form.older_than_21}}</td>
                    </tr>
                    <tr>
                        <th><label for="id_citizen">are citizens:</label></th>
                        <td>{{form.citizen}}</td>
                    </tr>
                </table>
            </div>
            <div class="section">
                <h3>..and have the following minimums.</h3>
                <div class="errorspace"></div>
                <div>
                    <label for="id_gpa">GPA:</label>
                    {{form.gpa}}
                </div>
                <div class="errorspace"></div>
                <div>
                    <label for="id_sat">SAT:</label>
                    {{form.sat}}
                </div>
                <div class="errorspace"></div>
                <div>
                    <label for="id_act">ACT:</label>
                    {{form.act}}
                </div>
            </div>
            <div>
                <input id="default_filtering_parameters_form_submit_button" class="button" type='submit' value='Save'>
            </div>
        </form>
    </div>
</div>
{% endblock %}