<!--
Developers : Dmitrij Petters,
All code is property of original developers.
Copyright 2011. All Rights Reserved.
-->

{% extends "account_settings_base.html" %}

{% block account_settings_tabs %}
    <ul>
        <li><a href="#tabs-1">Account Overview</a></li>
        <li><a href="#tabs-2">Subscription &amp; Billing</a></li>
        <li><a href="#tabs-3">Preferences</a></li>
    </ul>
    <div id="tabs-1">
        
    </div>
    <div id="tabs-2">
        
    </div>
    <div id="tabs-3">
        <h3>Search Preferences</h3>
        <fieldset>
            
        </fieldset>
        
        <h3>Notification Preferences</h3>
        <fieldset>
            
        </fieldset>
    </div>
{% endblock %}