<div class="dialog_content_wrapper">
    <form id="deliver_resume_book_form" method='POST' action="{% url employer_resume_book_current_email %}">
        {% csrf_token %}
        <table class="form_table">
            <tr>
                <th><label>Delivery Type:</label></th>
                <td id="delivery_types">
                    <div class="errorspace"></div>
                    <img id="book_delivery_type" class="delivery_selection" alt="Book (PDF)" src="{{ STATIC_URL }}images/icons/64-PDF-Document.png">
                    <img id="bundle_delivery_type" alt="Bundle (ZIP)" src="{{ STATIC_URL }}images/icons/64-PDF-Documents.png">
                </td>
            </tr> 
            <tr>
                <th></th>
                <td colspan="2" class="centered">
                   <p id="delivery_selection_text">Combine all resumes into one file</p>
                </td>
            </tr>
            <tr>
                <th>{{deliver_resume_book_form.name.label_tag}}</th>
                <td>
                    {{deliver_resume_book_form.name}}
                </td>
            </tr>
            <tr>
                <th><label>Optional Services:</label></th>
                <td>
                    <div class="errorspace"></div>
                    <p class="optional_service"><input id="email_delivery_type" type="checkbox"> Send as Email</p>
                </td>
            </tr>
            <tr class="email_delivery_type_only_field">
                <th id="id_emails_th">{{deliver_resume_book_form.emails.label_tag}}</th>
                <td>
                    <div class="errorspace"></div>
                    {{deliver_resume_book_form.emails}}
                </td>
            </tr>
            <tr>
                <td colspan="2" class="error_section error centered">
                </td>
            </tr>
            <tr>
                <th></th>
                <td>
                    <input id="deliver_resume_book_form_submit_button" class="button" type='submit' value='Download'>
                    <img id="deliver_resume_book_form_loader" class='ajax_form_submit_loader' src='{{ STATIC_URL }}images/loaders/s_ajax.gif'>
                </td>
            </tr>
        </table>
    </form>
</div>