{% extends "base.html" %}

{% block title %}
Employers |
{% endblock %}

{% block metadata %}
{{block.super}}
<link rel="stylesheet" href="{{ STATIC_URL }}css/employer/employers_list.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/employer/employer_profile_preview.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/events/event_snippet.css" />
<script>
    var EMPLOYERS_LIST_PANE_URL = "{% url employers_list_pane %}";
    var EMPLOYERS_LIST_URL = "{% url employers_list %}"
    var FIRST_EMPLOYER_ID = {{employer.id}};
    var SEARCH_URL = "{% url employers_list_ajax %}";
    var SUBSCRIBE_URL = "{% url employers_subscribe %}";
    var STATIC_URL = "{{ STATIC_URL }}";
</script>
<script src="{{ STATIC_URL }}js/employer/employers_list.js"></script>
{% endblock %}

{% block content_area %}
<h1 class="inline">Employers Listing</h1>
<a class="back_to_link" href="{% url home %}">&laquo; Back to Home</a>
<div id="employers_list_block" class="main_block">
    <div class="main_block_content">
        <div id="employers_list_form_wrapper">
            <form id="employers_list_form">
                <input type="text" name="q" placeholder="Search by name, keyword, etc.." id="employers_filter_name" value="{{ query }}"/>
                <select name="i" id="employers_filter_industry">
                    <option value="">Filter by industry</option>
                    {% for industry in industries %}
                        <option value="{{industry.id}}">{{industry}}</option>
                    {% endfor %}
                </select>
                <input type="checkbox" name="h" value="1" id="employers_filter_has_events" />
                <label class="no_right_padding" for="employers_filter_has_events">Has public events</label>
                <input type="checkbox" name="s" value="1" id="employers_filter_in_subscriptions" />
                <label class="no_right_padding" for="employers_filter_in_subscriptions">Subscribed</label>
                <img class='ajax_form_submit_loader' src='{{ STATIC_URL }}images/loaders/s_ajax.gif'>
            </form>
        </div>
        <div id="employers_listings">
            {% for employer in employers %}
                {% include "employers_list_li.html" %}
            {% endfor %}
        </div>
        <div id="employers_detail">
            {% include "employers_list_pane.html" with employer=employer events=events isnotajax="True" %}
        </div>
    </div>
</div>
{% endblock %}
