<!--
Developers : Dmitrij Petters,
All code is property of original developers.
Copyright 2011. All Rights Reserved.
-->

{% extends "logged_in.html" %}

{% block title %}
| Events
{% endblock %}

{% block info %}
<p class="fright">
    Logged in as <strong>{{user}}</strong>.
    <a href="/logout/?next=/?action=logged-out">Log out</a>
</p>
{% endblock %}

{% block content_area %}

<script type="text/javascript" src="/site_media/javascript/timeout.js">
</script>
<link rel="stylesheet" href="/site_media/css/employer/employer_events.css" />
<script type="text/javascript" src="/site_media/javascript/employer/employer_events.js">
</script>
<script type="text/javascript" src="/site_media/jquery/jquery.multiselect.ui.js">
</script>
<link rel="stylesheet" href="/site_media/css/jquery/ui-multiselect.css" />

<script type="text/javascript" src="/site_media/anytime/anytime.js">
</script>
<link rel="stylesheet" href="/site_media/anytime/anytime.css" />

<h1>Planned Events</h1>
<table id="new_event_list" class="event_list">
    <tr class='dark'>
        <td class="centered" colspan="3">
        {% if upcoming_events|length %}
        <strong class="fleft">You have {{ upcoming_events|length }} planned event{{ upcoming_events|pluralize}}.</strong>
        {% else %}
        <strong class="fleft">You have no planned events</strong>
        {% endif %}
        <span>
            <strong>Current Datetime:</strong> {{date}}
        </span>
        <a href="javascript:void(0)" class="fright" id="new_event_link">Add New Event</a>
        </td>
    </tr>
    {% for event in upcoming_events %}
    <tr id="event_{{event.id}}" class="{% cycle 'odd' 'even' %}">
        <td>
        <strong>{{ event.name }}</strong>
        <br/>
        <span>{{ event.type }}</span>
        <br/>
        <span>{{ event.datetime }}</span>
        <br/>
        </td>
        <td>
        {% if event.location %}
        <span>
            <strong>Location:</strong>{{ event.location }}
        </span>
        <br/>
        {% else %}
        <span>
            <strong>Location:</strong>Not applicable
        </span>
        <br/>
        {% endif %}

        {% if event.duration %}
        <span>
            <strong>Duration:</strong>{{ event.duration }} minutes.
        </span>
        <br/>
        {% else %}
        <span>
            <strong>Duration:</strong>Not applicable
        </span>
        <br/>
        {% endif %}

        {% if event.audience %}
        <span>
            <strong>Audience:</strong>{{ event.audience }}
        </span>
        {% else %}
        <span>
            <strong>Audience:</strong> Open to everyone
        </span>
        {% endif %}
        </td>
        <td class="right">
        <a href="javascript:void(0)" class="edit_event" id="{{event.id}}">Edit</a>
        <br/>
        <a href="javascript:void(0)" class="delete_event" id="{{event.id}}">Delete Permanently</a>
        <br/>
        <a href="javascript:void(0)" class="view_description_link" id="{{event.id}}">View Description</a>
        </td>
    </tr>
    <tr>
        <td class="description" colspan="3">
        <div class="event_description" id="description_{{event.id}}">
            {{event.description|safe}}
        </div>
        </td>
    </tr>
    {% endfor %}
</table>
<br>
<a href="javascript:void(0)" class = "fright" id="view_old_events_link">View Older Events</a>
<br>
<br>
<table id="old_event_list" class="event_list">
    <tr class='dark'>
        <td colspan="3">
        {% if old_events|length %}
        <strong>You have {{ old_events|length }} old event{{ upcoming_events|pluralize}}.</strong>
        {% else %}
        <strong>You have no old events</strong>
        {% endif %}
        <span class="current_time">
            <strong>Current Datetime:</strong> {{date}}
        </span>
        </td>
    </tr>
    {% for event in old_events %}
    <tr id="event_{{event.id}}" class="{% cycle 'odd' 'even' %}">
        <td>
        <strong>{{ event.name }}</strong>
        <br/>
        <span>{{ event.type }}</span>
        <br/>
        <span>{{ event.datetime }}</span>
        <br/>
        </td>
        <td>
        <span>
            <strong>Location:</strong>{{ event.location }}
        </span>
        <br/>
        <span>
            <strong>Duration:</strong>{{ event.duration }} minutes.
        </span>
        <br/>
        {% if event.audience %}
        <span>
            <strong>Audience:</strong>{{ event.audience }}
        </span>
        {% else %}
        <span>
            <strong>Audience:</strong> Open to everyone
        </span>
        {% endif %}
        </td>
        <td class="right">
        <a href="javascript:void(0)" class="edit_event" id="{{event.id}}">Create New Just Like This</a>
        <br/>
        <a href="javascript:void(0)" class="delete_event" id="{{event.id}}">Delete Permanently</a>
        <br/>
        <a href="javascript:void(0)" class="view_description_link" id="{{event.id}}">View Description</a>
        </td>
    </tr>
    <tr>
        <td class="description" colspan="3">
        <div class="event_description" id="description_{{event.id}}">
            {{event.description|safe}}
        </div>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}