{% extends "profile_base.html" %}

{% block metadata %}
{{block.super}}
{{form.media}}
{% load text_snippet %}
{% load compress %}
{% compress css %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/employer/employer_profile.css"/>
{% endcompress %}
<script>
    var NAME_REQUIRED = "{% text_snippet 'employer_name_required' %}";
    var SLUG_REQUIRED = "{% text_snippet 'slug_required' %}";
    var INDUSTRIES_REQUIRED = "{% text_snippet 'industries_required' %}";
    var DESCRIPTION_REQUIRED = "{% text_snippet 'description_required' %}";
    var MAIN_CONTACT_REQUIRED = "{% text_snippet 'main_contact_required' %}";
    var MAIN_CONTACT_EMAIL_REQUIRED = "{% text_snippet 'main_contact_email_required' %}";
    var INVALID_EMAIL = "{% text_snippet 'invalid_email' %}";
    var INVALID_PHONE = "{% text_snippet 'invalid_phone' %}";
    var MAX_INDUSTRIES = "{{industries_max}}";
    var MAX_INDUSTRIES_EXCEEDED = "{% text_snippet 'max_industries_exceeded' %}";
    var SLUG_ALREADY_TAKEN = "{% text_snippet 'slug_already_taken' %}";
    var CHECK_EMPLOYER_CAMPUS_ORG_SLUG_UNIQUENESS_URL = "{% url check_employer_campus_org_slug_uniqueness %}"
</script>
{% compress js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/employer/employer_profile.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/employer/employer_profile_widgets.js"></script>
{% endcompress %}
{% endblock %}

{% block optional_side_nav %}
    <div class="left_side_container">
        {% include "employer_side_nav.html" %}
    </div>
    <form id="profile_form" class="with_side_nav" method="POST" action="" enctype="multipart/form-data">
{% endblock %}

{% block profile_pages %}
<li id="pg1">
    <a href='#' class="ui-accordion-link"></a>
    <div class="main_block clearfix">
        <div class="main_block_header">
            <img class="main_block_header_icon" src="{{ STATIC_URL }}images/icons/user-business.png" />
            <span class="main_block_header_title">Edit Profile</span>
            <div class="main_block_header_content">
                <span>
                    <strong>Public Info</strong>
                </span>
                &raquo;
                <a href="javascript:void(0)" class="navigation" id="1" tabindex="-1">Private Info</a>
            </div>
        </div>
        <table class="form_table">
            <tr>
                <th>{{form.name.label_tag}}</th>
                <td>
                    <div class="errorspace"></div>
                    {{form.name}}
                </td>
                <th>{{form.industries.label_tag}}</th>
                <td>
                    <div class="errorspace"></div>
                    {{form.industries}}
                </td>
            </tr>
            <tr>
                <th>{{form.slug.label_tag}}</th>
                <td>
                    <div class="errorspace"></div>
                    {{form.slug}} (umeqo.com/slug/)
                </td>
                <th>{{form.offered_job_types.label_tag}}</th>
                <td>
                    <div class="errorspace"></div>
                    {{form.offered_job_types}}
                </td>
            </tr>
            <tr>
                <th><label id="logo_label">Logo:</label></th>
                <td>
                    <img id="logo" src="{{MEDIA_URL}}{{request.user.recruiter.employer.logo}}" />
                </td>
                <th class="vertical_align_top">{{form.website.label_tag}}</th>
                <td class="vertical_align_top">
                    <div class="errorspace"></div>
                    {{form.website}}
                </td>
            </tr>
            <tr>
                <th><strong>Note:</strong></th>
                <td colspan="3" class="grande">
                    <span>To change the logo please email us a the new image to contact@umeqo.com.</span>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="errorspace"></div>
                    {{form.description.label_tag}}
                    {{form.description}}
                </td>
            </tr>
            <tr>
                <td colspan="4" class="error_section error">
                </td>
            </tr>
            <tr>
                <td class="button_cell" colspan="4">
                    <input name="formBack0" type="button" class="button" value="Back" alt="Back" disabled="disabled" />
                    <input name="formNext1" type="button" class="open1 button" value="Next" alt="Next" />
                    <input class="button" type='submit' alt="Save Profile" value='Save Profile'>
                    <img id='ajax_form_submit_loader' src="{{ STATIC_URL }}images/loaders/s_ajax.gif">
                </td>
            </tr>
        </table>
    </div>
</li>
<li id="pg2">
    <a href='#' class="ui-accordion-link"></a>
    <div class="main_block clearfix">
        <div class="main_block_header">
            <img class="main_block_header_icon" src="{{ STATIC_URL }}images/icons/user.png" />
            <span class="main_block_header_title">Edit Profile</span>
            <div class="main_block_header_content">
                <a href="javascript:void(0)" class="navigation" id="0" tabindex="-1">Public Info</a>
                &raquo;
                <span>
                    <strong>Private Info</strong>
                </span>
            </div>
        </div>
        <table class="form_table">
            <tr>
                <th>{{form.main_contact.label_tag}}</th>
                <td>
                    <div class="errorspace"></div>
                    {{form.main_contact}}
                </td>
                <td class="profile_form_side_info" rowspan="3">
                    <h3>Tell us how to contact you!</h3>
                    <ul>
                        <li>
                            The information on the left will only be used internally by the Umeqo team.
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>{{form.main_contact_email.label_tag}}</th>
                <td>
                    <div class="errorspace"></div>
                    {{form.main_contact_email}}
                </td>
            </tr>
            <tr>
                <th>{{form.main_contact_phone.label_tag}}</th>
                <td>
                    <div class="errorspace"></div>
                    {{form.main_contact_phone}}
                </td>
            </tr>
            <tr>
                <th></th>
                <td class="error_section error">
                </td>
            </tr>
            <tr>
                <td class="button_cell" colspan="4">
                    <input name="formBack0" type="button" class="open0 button" value="Back" alt="Back"/>
                    <input name="formNext2" type="button" class="open2 button disabled" value="Next" alt="Next" />
                    <input class="button" type='submit' value="Save Profile" alt="Save Profile">
                    <img id='ajax_form_submit_loader' src='{{ STATIC_URL }}images/loaders/s_ajax.gif'>
                </td>                
            </tr>
        </table>

    </div>
</li>
{% endblock %}