{% extends "account_base.html" %}

{% block metadata %}
{{block.super}}
{% load compress %}
{% load text_snippet %}
{% compress css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/employer/employer_account.css" />
{% endcompress %}
<script>
    var CREATE_RECRUITER_URL = "{% url employer_recruiter_new %}";
    var CHECK_EMAIL_AVAILABILITY_URL = "{% url check_email_availability %}";
    var EMAIL_ALREADY_REGISTERED = "{% text_snippet 'email_already_registered' %}";
    var EMPLOYER_OTHER_RECRUITERS_URL = "{% url employer_other_recruiters %}";
    var EMPLOYER_ACCOUNT_DELETE_URL = "{% url employer_account_delete %}";
    
    {% if other_recruiters %}
        var ONLY_RECRUITER = false;
    {% else %}
        var ONLY_RECRUITER = true;
    {% endif %}
</script>
{% compress js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/employer/employer_account.js"></script>
{% endcompress %}
{% endblock %}

{% block content_area %}
<div class="left_side_container">
    {% include "employer_side_nav.html" %}
</div>
{{block.super}}
{% endblock %}

{% block account_settings_tab_declarations %}
     <li><a href="#tabs-3" id="subscription_link">Subscription & Billing</a></li>
{% endblock %}
            
{% block preferences %}
<form id="preferences_form" method="POST" action="{% url employer_account_preferences %}">
{% csrf_token %}
    <h3 class="no_top_margin">Search &amp; Filtering Preferences</h3>
    <p class="sub_header_message">The values chosen here will be set as defaults on the student Search and Filtering page.</p>
    <table id="search_and_filtering_table" class="form_table">
        <tbody>
            <tr>
                <th class="no_top_border">{{preferences_form.default_student_results_per_page.label_tag}}</th>
                <td class="no_top_border">
                    {{preferences_form.default_student_results_per_page}}
                </td>
            </tr>
            <tr>
                <th>{{preferences_form.default_student_result_ordering.label_tag}}</th>
                <td>
                    {{preferences_form.default_student_result_ordering}}
                </td>
            </tr>
{% endblock %}


{% block account_overview %}
    <h3>Create New Account</h3>
    <p class="sub_header_message">Below are the other recruiter accounts for {{user.recruiter.employer}}. If you would like to give another recruiter access, you can <a class="{% if not user.recruiter.employer.subscribed_annually %}must_be_subscribed_annually must_be_subscribed_annually_e{% else %}create_recruiter_link {% endif %}" href="{% if user.recruiter.employer.subscribed_annually %}javascript:void(0){% else %}{% url subscription_list %}{% endif %}">create a new account</a>.</p>
    {% include 'employer_other_recruiters.html' %}
    
    <h3>Delete Your Account</h3>
    <p id="delete_account" class="sub_header_message">By deleting your account you lose your login credentials and resume book history. <a id="delete_account_link" href="javascript:void(0)">Delete Account</a></p>
    <p id="create_credentials" class="sub_header_message">You are the only recruiter for {{user.recruiter.employer}}. Before deleting your account, you need to <a class="{% if not user.recruiter.employer.subscribed_annually %}must_be_subscribed_annually must_be_subscribed_annually_e{% else %}create_recruiter_link {% endif %}" href="{% if user.recruiter.employer.subscribed_annually %}javascript:void(0){% else %}{% url subscription_list %}{% endif %}">create a new set of credentials</a>.</p>
{% endblock %}
                    
{% block account_settings_tab_definitions %}
    <div id="tabs-3" class="clearfix">
        <h3 class="no_top_margin">Your Subscription</h3>
        <div id="subscription_actions" class="right_side_container">
            <a href="{% url subscription_list %}" class="button">{{subscription_button_text}}</a>
        </div>
        <div id="subscription_info">
            {% if subscription %}
                <span id="subscription_name">{{subscription.subscription.name}}</span>
                <span class="{{subscription_class}}">{{subscription_text}}</span>
                <h4 id="subscription_expiration">{% if subscription_class == "grace" or subscription_class == "expired" %}Expired{% else %}Expires{% endif %} on: {{subscription.expires}}</h4>
            {% else %}
                <span id="subscription_name">You are not subscribed</span>
            {% endif %}
        </div>
        <h3>Transaction History</h3>
        <div id="transactions">
            <table>
                <tbody>
                     <tr>
                         <th>Date/Time</th>
                         <th>Person</th>
                         <th>Amount</th>
                         <th>Comment</th>
                     </tr>
                    {% for tr in transactions %}
                        <tr class={% if tr.payment %}"payment"{% else %}"refund"{% endif %}>
                            <td>{{tr.timestamp}}</td>
                            <td>{{tr.person}} ({{tr.email}})</td>
                            <td>{{tr.amount}}</td>
                            <td>{{tr.comment}}</td>
                        </tr>
                    {% empty %}
                        <tr><td id="no_past_payments" colspan="4">You have no past transactions.</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}