<div class="side_nav"> 
    <h3
    {% if not user.recruiter.employer.subscribed %}
        class="must_be_subscribed"
    {% endif %}
    >Students</h3>
    <a
    {% if not user.recruiter.employer.subscribed %}
        class="must_be_subscribed must_be_subscribed_w"
    {% endif %}
    href="{% url employer_students %}">Browse Students</a>
    <a
    {% if not user.recruiter.employer.subscribed %}
        class="must_be_subscribed must_be_subscribed_w"
    {% endif %}
    href="{% url employer_resume_book_history %}">Resume Book History</a>
    
    <h3
    {% if not user.recruiter.employer.subscribed %}
        class="must_be_subscribed_annually"
    {% endif %}
    >Events & Deadlines</h3>
    <a 
    {% if not user.recruiter.employer.subscribed_annually %}
        class="must_be_subscribed_annually must_be_subscribed_annually_w"
    {% endif %}
    href="{% url event_new %}">Create New</a>
    <a 
    {% if not user.recruiter.employer.subscribed %}
        class="must_be_subscribed must_be_subscribed_w"
    {% endif %}
    href="{% url events category="upcoming" %}">Browse</a>
        
    <h3
    {% if not user.recruiter.employer.subscribed %}
        class="must_be_subscribed_annually"
    {% endif %}
    >Profile</h3>
    <a
    {% if not user.recruiter.employer.subscribed %}
        class="must_be_subscribed must_be_subscribed_w"
    {% endif %}
     href="{% url employer_profile_preview slug=request.user.recruiter.employer.slug %}">View Profile</a>
    <a
    {% if not user.recruiter.employer.subscribed %}
        class="must_be_subscribed must_be_subscribed_w"
    {% endif %}
    href="{% url employer_profile %}">Edit Profile</a>
</div>