<div class="dialog_content_wrapper">
    <h3>Create new recruiter credentials by filling out the fields below.</h3>
    <p class="centered">The credentials will be immediately ready for login.</p>
    <form id="create_recruiter_form" method='POST' action="{% url employer_recruiter_new %}">
        {% csrf_token %}
        <table class="form_table">
            {% for field in form %}
                <tr>
                    <th>{{ field.label_tag }}</th>
                    <td>
                        <div class="errorspace">{{ field.errors }}</div>
                        {{ field }}
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="2" class="error_section centered error">
                    {{form.non_field_errors}}
                </td>
            </tr>
            <tr>
                <td class="centered button_cell" colspan="2">
                    <a class="button close_dialog_link">Cancel</a>
                    <input class="button" type='submit' value='Create Credentials'>
                    <img class='ajax_form_submit_loader' src='{{ STATIC_URL }}images/loaders/s_ajax.gif'>
                </td>
            </tr>
        </table>
    </form>
</div>