{% extends "base.html" %}

{% block title %}
| Employers
{% endblock %}

{% block metadata %}
{{block.super}}
<link rel="stylesheet" href="{{ STATIC_URL }}css/employer/employers_list.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/events/event_snippet.css" />
<script>
    var EMPLOYERS_LIST_EL_URL = "{% url employers_list_el %}";
    var EMPLOYERS_LIST_URL = "{% url employers_list %}"
    var FIRST_EMPLOYER_ID = {{employer.id}}
    var employer_ids = [
        {% for employer in employers %}
            "{{employer.id}}",
        {% endfor %}
    ];
</script>
<script src="{{ STATIC_URL }}javascript/employer/employers_list.js"></script>
{% endblock %}

{% block content_area %}
<div id="employers_list_block" class="main_block">
    <div class="main_block_header">
        <span class="main_block_header_title">Employers Listing</span>
        <form id="employers_list_form">
            <input type="text" name="q" id="employers_filter_name" value="{{ query }}"/>
            <select name="i" id="employers_filter_industry">
                <option value="">Filter by industry</option>
                {% for industry in industries %}
                    <option value="{{industry.id}}">{{industry}}</option>
                {% endfor %}
            </select>
        </form>
    </div>
    <div class="main_block_content">
        <div id="employers_listings">
            {% for employer in employers %}
                <div class="employers_listing{% if employer_id == employer.id %} selected{% endif %}">
                    <h2>{{employer.name}}</h2>
                    <div class="description">{{employer.description}}</div>
                </div>
            {% endfor %}
        </div>
        <div id="employers_detail">
            {% include "employers_list_el.html" with employer=employer events=events isnotajax="True" %}
        </div>
    </div>
</div>
{% endblock %}
