{% extends "base.html" %}

{% block title %}
{{employer}} |
{% endblock %}

{% block metadata %}
{{block.super}}
{% load compress %}
{% load text_snippet %}
{% compress css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/employer/employer_profile_preview.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/events/event_cancel_dialog.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/events/rolling_deadline_end_dialog.css" />
{% endcompress %}
{% include "event_snippet_css.html" %}
<script>
    var SUBSCRIBE_TOOLTIP = "{% text_snippet 'subscribe_tooltip' %}";
    var EVENT_ARCHIVED = "{% text_snippet 'event_archived' %}";
    var DEADLINE_ARCHIVED = "{% text_snippet 'deadline_archived' %}";
    var EVENT_CANCELLED = "{% text_snippet 'event_cancelled' %}";
    var DEADLINE_CANCELLED = "{% text_snippet 'deadline_cancelled' %}";
    var ROLLING_DEADLINE_ENDED = "{% text_snippet 'rolling_deadline_ended' %}";
</script>
{% compress js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/employer/employer_profile_preview.js"></script>
<script src="{{ STATIC_URL }}js/events/event_archive.js"></script>
<script src="{{ STATIC_URL }}js/events/event_cancel_dialog.js"></script>
<script src="{{ STATIC_URL }}js/events/rolling_deadline_end_dialog.js"></script>
{% endcompress %}
{% endblock %}

{% block content_area %}
<div class="left_side_container">
    {% include "employer_side_nav.html" %}
</div>
<div class="with_side_nav no_top_margin">
    <p id="visibility_note"><strong>Please Note:</strong> {% include "employer_profile_visibility_note.html" %}
    {% include "employer_details.html" with isnotajax="True" preview="True" %}</p>
</div>
{% endblock %}