<div class="dialog_content_wrapper">
    <div>
        <div id="resume_book_summary" class="clearfix">
            <div id="resume_book_contents_div">
                <p id="resume_book_contents_header">Contents</p>
                <a id="show_current_resume_book_contents_dialog" {% if not user.recruiter.employer.subscribed_annually %}class="must_be_subscribed_rb" href="{% url subscription_list %}"{% else %}href="{% url employer_students %}?isl={{resume_book.id}}{% endif %}">{{resume_book.students.all|length}} students</a>
            </div>
            <div id="resume_book_status_div">
                 <p id="resume_book_status_header">Status</p>
                 <p id="resume_book_status" class="error">Being Created</p>
            </div>
        </div>
    </div>
    <form id="deliver_resume_book_form" method='POST' action="{% url employer_resume_book_current_email %}">
        {% csrf_token %}
        <table class="form_table">
            <tr>
                <th>{{deliver_resume_book_form.delivery_type.label_tag}}</th>
                <td>
                    <div class="errorspace"></div>
                    {{deliver_resume_book_form.delivery_type}}
                </td>
            </tr>
            <tr>
                <th>{{deliver_resume_book_form.name.label_tag}}</th>
                <td>
                    <div class="errorspace"></div>
                    {{deliver_resume_book_form.name}}
                </td>
            </tr>
            <tr class="email_delivery_type_only_field">
                <th id="id_emails_th">{{deliver_resume_book_form.emails.label_tag}}</th>
                <td>
                    <div class="errorspace"></div>
                    {{deliver_resume_book_form.emails}}
                </td>
            </tr>
            <tr>
                <td colspan="2" class="error_section error centered">
                </td>
            </tr>
            <tr>
                <th></th>
                <td>
                    <input id="deliver_resume_book_form_submit_button" class="button" type='submit' value='Download'>
                    <img id='ajax_form_submit_loader' src='{{ STATIC_URL }}images/loaders/s_ajax.gif'>
                </td>
            </tr>
        </table>
    </form>
</div>