{% extends "base.html" %}

{% block title %}
Employer Registration |
{% endblock %}

{% block metadata %}
{{block.super}}
{% load compress %}
{% load text_snippet %}
{% compress css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/employer/employer_registration.css" />
{% endcompress %}
<script>
    SMALL_EMPLOYER_URL = "{% url subscription_list type='small_employer' %}";
    MEDIUM_EMPLOYER_URL = "{% url subscription_list type='medium_employer' %}";
    LARGE_EMPLOYER_URL = "{% url subscription_list type='large_employer' %}";    
    NONPROFIT_URL = "{% url subscription_list type='nonprofit' %}";    
</script>
{% compress js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/employer/employer_registration.js"></script>
{% endcompress %}
{% endblock %}

{% block content_area %}
<h1>Employer Registration</h1>
<div class="right_side_container">
    <div id="er-signup">
        <h2>Select Firm Size to Begin</h2>
        <select name="firm_size" id="firm_size">
            {% for key, value in employer_sizes.items %}
            <option value="{{key}}">{{value}}</option>
            {% endfor %}
        </select>
    </div>
    <div id="er-privacy">
        <h2>Safety and Security</h2>
        <p><strong>We understand that your data is sensitive.</strong> That is why we pledge to never track your activity on the site, and are making all of the recruiter sessions run on a secure connection (https).</p>
    </div>
</div>
<div id="er-overview" class="grande">
    <h2>What is Umeqo?</h2>
    <div><p>Umeqo is an innovative recruiting resource for students and employers to discover one another by leveraging the familiar paradigms of resumes and events. The platform empowers employers to easily filter and search student profiles, create resume books, reach out to candidates, and post and manage campus events. Within minutes, students can create their easy-to-maintain profile, find and RSVP to employer events, and subscribe to employers of their choosing for future event updates.</p></div>
</div>
<div id="er-features">
    <h2>What can I do using Umeqo?</h2>
    <div class="er-feature">
        <img src="{{ STATIC_URL }}images/e-reg/filtering.png" />
        <h3>Search, Filter, Find</h3>       
        <p>{% text_snippet 'search_filter_find' %}</p>
    </div>
    <div class="er-feature">
        <img src="{{ STATIC_URL }}images/e-reg/checkin.png" />
        <h3>Effectively plan events</h3>
        <p>The Umeqo Event Scheduling Assistant presents you with an overview of both major campus activities and events hosted by other companies, allowing you to schedule your event at an optimal time. Umeqo also handles event check-ins, minimizing headaches and the length of those check-in lines.</p>
    </div>
    <div class="er-feature">
        <img src="{{ STATIC_URL }}images/e-reg/learn.png" />
        <h3>Learn about the campus</h3>
        <p>With 400+ campus organizations documented, you will be able to click on those that any student is involved in to learn more about them.</p>
    </div>
    <div class="er-feature">
        <img src="{{ STATIC_URL }}images/e-reg/annotate.png" />
        <h3>Discover promising candidates</h3>
        <p>Umeqo allows you to annotate students’ profiles, making it easy for you to remember promising candidates and share notes with colleagues.</p>
    </div>
</div>
{% endblock %}