<!--
Developers : Dmitrij Petters,
All code is property of original developers.
Copyright 2011. All Rights Reserved.
-->

{% extends "base.html" %}

{% block title %}
| {% if edit %}Edit Event{% else %}New Event{% endif %}
{% endblock %}

{% block metadata %}

<script type="text/javascript">
var CHECK_NAME_AVAILABILITY_URL = "{% url check_event_name_uniqueness %}";
{% if edit %}
var EDIT_FORM = true;
{% else %}
var EDIT_FORM = false;
{% endif %}
</script>

<!-- JQuery Masker Input -->
<script type="text/javascript" src="{{ STATIC_URL }}lib/jquery_masked_input/jquery_masked_input_1.2.2.js">
</script>
<script type="text/javascript" src="{{ STATIC_URL }}lib/jquery_multiselect/jquery_multiselect_min.js">
</script>
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}lib/jquery_multiselect/jquery_multiselect.css" />

<!-- Custom -->
<link rel="stylesheet" href="{{ STATIC_URL }}css/employer/employer_new_event.css" />
<script type="text/javascript" src="{{ STATIC_URL }}javascript/employer/employer_new_event.js">
</script>

<!--datetime_field media-->
{{form.media}}
{% endblock %}

{% block content_area %}
<div id="new_event_form_block" class="main_block solo_block no_top_margin">
    <div class="main_block_header">
        <img class="main_block_header_icon" src="{{ STATIC_URL }}images/icons/calendar.png"/>
        <span class="main_block_header_title">
        {% if edit %}
            Edit Event
        {% else %}
            Create New Event
        {% endif %}
        </span>
    </div>
    <div class="main_block_content">
        <form id="new_event_form" method="POST" action="">
            {% csrf_token %}
            <div class="new_event_form_col">
                <table class="form_table">
                    <tr>
                        <th>{{form.name.label_tag}}</th>
                        <td>
                            <div class="errorspace"></div>
                            {{form.name}}
                        </td>
                    </tr>
                    <tr>
                        <th>{{form.type.label_tag}}</th>
                        <td>
                            <div class="errorspace"></div>
                            {{form.type}}
                        </td>
                    </tr>
                    <tr class="event_only_field">
                        <th>{{form.start_datetime.label_tag}}</th>
                        <td>
                            <div class="errorspace"></div>
                            {{form.start_datetime}}
                        </td>
                    </tr>
                    <tr>
                        <th>{{form.end_datetime.label_tag}}</th>
                        <td>
                            <div class="errorspace"></div>
                            {{form.end_datetime}}
                        </td>
                    </tr>
                    <tr class="event_only_field">
                        <th>{{form.location.label_tag}}</th>
                        <td>
                            <div class="errorspace"></div>
                            {{form.location}}
                        </td>
                    </tr>
                    <tr>
                        <th>{{form.audience.label_tag}}</th>
                        <td>
                            <div class="errorspace"></div>
                            {{form.audience}}
                        </td>
                    </tr>
                    <tr class="event_only_field">
                        <th>{{form.rsvp_message.label_tag}}</th>
                        <td>
                            <div class="errorspace"></div>
                            {{form.rsvp_message}}
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <input id="new_event_form_submit_button" class="button" type='submit' value='{% if edit %}Edit Event{% else %}Create Event{% endif %}'>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="new_event_form_col">
                <div class="errorspace"></div>
                {{form.description.label_tag}}
                {{form.description}}
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
</div>
{% endblock %}
