{% if has_at_least_premium %}
<script src="{{ STATIC_URL }}js/employer/employer_resumes_download.js"></script>
<script>
    var RESUMES_DOWNLOAD_URL = "{% url employer_resumes_download %}";
</script>
{% endif %}          

<div class="side_nav"> 
    <h3>Students</h3>
    <a href="{% url employer_students %}">Browse Students</a>
    <a href="{% url employer_resume_book_history %}">Resume Book History</a>
    <a href="{% if has_at_least_premium %}{% url employer_resumes_download %}{% else %}{% url subscription_change %}{% endif %}" class="{% if not has_at_least_premium %} needs_at_least_premium{% endif %}">Download All Resumes</a>
    
    <h3>Events & Deadlines</h3>
    <a href="{% url event_new %}">Create New</a>
    <a href="{% url events category="upcoming" %}">Browse</a>
        
    <h3>Profile</h3>
    <!-- We check for a slug because if it is missing and a 500 (not setup correctly) is rendered
         and the below url tag is present, a server 500 template gets rendered instead of a
         Umeqo one. -->
    {% if request.user.recruiter.employer.slug %}
    <a href="{% url employer_profile_preview slug=request.user.recruiter.employer.slug %}">View Profile</a>
     {% endif %}
    <a href="{% url employer_profile %}">Edit Profile</a>
</div>