<div id="logo_and_buttons" class="right_side_container">
    <img class="logo" src="{{MEDIA_URL}}{{employer.logo}}" />
    {% if subbed %}
        <div id="unsubscribe" class="gray_button subscribed">Subscribed</div>
    {% else %}
        <div id="subscribe" {% if preview %}disabled="disabled"{% endif %} class="gray_button">Subscribe</div>
    {% endif %}    
</div>

<div id="employer_info">
    <h1 class="employer_name">{{employer.name}}</h1>    
    <div class="industries">
    {% for industry in employer.industries.all %}
        <div>{{industry}}</div>
    {% endfor %}    
    </div>
    
    {% if employer.offered_job_types.all %}
        <p id="offered_job_types">
            <strong>Jobs Available: </strong>    
            {% for offered_job_type in employer.offered_job_types.all %}
                {% if forloop.last %}
                    <span>{{offered_job_type}}</span>
                {% else %}
                    <span>{{offered_job_type}},</span>
                {% endif %}
            {% endfor %}
        {% if employer.careers_website %}
                (see <a href="{{employer.careers_website}}">careers website</a>)
        {% endif %}
        </p>
    {% endif %}
</div>

<div id="employer_description">
    {{employer.description|safe}}
</div>

<h2>Upcoming Events</h2>
<ul class="event_list">
    {% include "upcoming_events_list.html" %}
    {% if not events_exist %}
        <li id="no_upcoming_events_or_deadlines">This employer has no upcoming events or deadlines.</li>
    {% endif %}
</ul>
{% if isnotajax %}
    <input id="isnotajax" value="true" type="hidden" />
{% else %}
    <input id="isnotajax" value="false" type="hidden" />
{% endif %}
<input type="hidden" id="loaded_employer_id" value="{{employer.id}}" />
