{% if employer.logo %}
    <div data-employer-name="{{employer}}" class="attending_employer">
        {{employer.visible}}
        {% if user.student or user.is_anonymous %}
            {% if employer.visible %}
                <a href="{{employer.get_absolute_url}}">
            {% endif %}
        {% endif %}
        <img title="{{employer}}" alt="{{employer}}" src="{{MEDIA_URL}}{{employer.logo}}" />
        {% if user.student or user.is_anonymous %}
            {% if employer.visible %}
                </a>
            {% endif %}
        {% endif %}
    </div>
{% else %}
    <div data-employer-name="{{employer}}" class="no_logo attending_employer">
        <span>{{employer}}</span>
    </div>
{% endif %}