<div class="side_nav"> 
    <h3>Students</h3>
    <a href="{% url employer_students %}">Browse Students</a>
    <a href="{% url employer_resume_book_history %}">Resume Book History</a>
    <a id="download_everything" class="premium_required" href="{% if user.recruiter.employer.has_premium %}#{% else %}/subscriptions/{% endif %}">Download All Resumes</a>
    
    <h3>Events & Deadlines</h3>
    <a href="{% url event_new %}">Create New</a>
    <a href="{% url events category="upcoming" %}">Browse</a>
        
    <h3>Profile</h3>
    <!-- We check for a slug because if it is missing and a 500 (not setup correctly) is rendered
         and the below url tag is present, a server 500 template gets rendered instead of a
         Umeqo one. -->
    {% if request.user.recruiter.employer.slug %}
    <a href="{% url employer_profile_preview slug=request.user.recruiter.employer.slug %}">View Profile</a>
     {% endif %}
    <a href="{% url employer_profile %}">Edit Profile</a>
</div>