<!--
Developers : Dmitrij Petters,
All code is property of original developers.
Copyright 2011. All Rights Reserved.
-->

{% extends "base.html" %}

{% block title %}
| Employer Registration
{% endblock %}

{% block metadata %}
<link rel="stylesheet" href="/site_media/css/employer/employer_registration.css" />
{% endblock %}

{% block content_area %}
<div id="employer_registration_block" class="main_block">
	<div class="main_block_header">
		<img class="main_block_header_icon" src="/site_media/images/icons/business_user_add_png/32x32/business_user_add.png" />
		<span class="main_block_header_title">New Employer Registration</span>
	</div>
	<div class="main_block_content">
		<p class="message_block">
			Registration is quick and easy. Just follow the steps below.
		</p>
		<div id="employer_registration_instructions">
			<h1>Step 1</h1>
			<p>
				<strong>Gather the following information:</strong>
			</p>
			<ul id="necessary_information_list">
				<li>
					Company Name
				</li>
				<li>
					Contact Person's Name
				</li>
				<li>
					Contact Person's Email
				</li>
				<li>
					Contact Person's Phone #
				</li>
			</ul>
			<h1 class="margin_top_25px">Step 2</h1>
			<p>
				<strong>Contact the MIT Sloan Business Club (SBC) by:</strong>
			</p>
			<ul id="contact_choices">
				<li>
					Calling us at (999) 999-9999 or
				</li>
				<li>
					Emailing us at registration@sbconnect.com or
				</li>
				<li>
					Contacting us now by clicking
					<a class="open_contact_us_dialog_link" href="javascript:void(0)">here</a>
				</li>
			</ul>
			<h1 class="margin_top_25px">Step 3</h1>
			<p>
				<strong>You're Done!</strong>
			</p>
			<p>
				Use the credentials we provide you with to access the site!
			</p>
			<p class="abovepad">
				<strong>
				<u>
					Note
				</u>:
				</strong> If you're interested in advertising an event,
				<br>
				internship, or fulltime opportunity,
				<a href="/advertise">click here</a>.
			</p>
			<p class="abovepad">
				<a id="back_to_login_link" href="/">
				<u>
					Back to Login
				</u>
				</a>
			</p>
		</div>
	</div>
</div>
{% endblock %}