<!--
Developers : Dmitrij Petters,
All code is property of original developers.
Copyright 2011. All Rights Reserved.
-->

{% extends "base.html" %}

{% block title %}
| Student Filtering
{% endblock %}

{% block metadata %}
{{block.super}}
<!-- JQuery Multiselect Widget -->
<script type="text/javascript" src="{{ STATIC_URL }}lib/jquery_multiselect/jquery_multiselect_min.js">
</script>
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}lib/jquery_multiselect/jquery_multiselect.css" />

<!-- Filtering plugin for Multiselect Widget -->
<script type="text/javascript" src="{{ STATIC_URL }}lib/jquery_multiselect/jquery_multiselect_filter_min.js">
</script>
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}lib/jquery_multiselect/jquery_multiselect_filter.css" />

<!-- Custom -->
<script type="text/javascript" src="{{ STATIC_URL }}javascript/employer/employer_filtering.js">
</script>
<link rel="stylesheet" href="{{ STATIC_URL }}css/employer/employer_filtering.css" />

<script type="text/javascript">
	var query = null;
	{% if query %}
		query = "{{query}}";
	{% endif %}
</script>
{% endblock %}

{% block content_area %}
<div id="side_block_area" class="left_side_container">
	<div id="student_list_block" class="side_block">
		<div class="side_block_header">
			<img class="side_block_header_icon" src="{{ STATIC_URL }}images/icons/user.png" />
			<span class="side_block_header_title">Choose Student List to Filter</span>
		</div>
		<div class="side_block_content">
			<div id="student_list_section">
				{{student_filtering_form.student_list}}
			</div>
		</div>
	</div>
	<div id="resume_book_block" class="side_block">
		<div class="side_block_header">
			<img class="side_block_header_icon" src="{{ STATIC_URL }}images/icons/book.png" />
			<span class="side_block_header_title">Create Resume Book</span>
		</div>
		<div class="side_block_content">
			{% if cart %}
			<p>
				{{cart|length}} students in cart
			</p>
			{% else %}
			<p>
				Drag student's name here!
			</p>
			{% endif %}
		</div>
	</div>
	<div id="filtering_block" class="side_block">
		<div class="side_block_header">
			<img class="side_block_header_icon" src="{{ STATIC_URL }}images/icons/magnifier.png"/>
			<span class="side_block_header_title">Search & Filter</span>
		</div>
		<div class="side_block_content">
			<div id="search_section">
				{{student_search_form.query}}
				<input id="search_form_submit_button" type="submit" value="Search" class="button" />
			</div>
			<div id="filtering_accordion">
				<h3>
				<a href="#">Academic Info</a>
				</h3>
				<div>
					<div>
						{{student_filtering_form.majors}}
					</div>
					<div>
						{{student_filtering_form.school_years}}
					</div>
					<div>
						{{student_filtering_form.graduation_years}}
					</div>
					<div class="slider_section">
						<div></div>
						<label for="gpa_value">Minimum GPA:</label>
						{{student_filtering_form.gpa}}
					</div>
					<div class="slider_section">
						<div></div>
						<label for="sat_value">Minimum SAT:</label>
						{{student_filtering_form.sat}}
					</div>
					<div class="slider_section">
						<div></div>
						<label for="act_value">Minimum ACT:</label>
						{{student_filtering_form.act}}
					</div>
				</div>
				<h3>
				<a href="#">Work Info</a>
				</h3>
				<div>
					<div>
						{{student_filtering_form.previous_employers}}
					</div>
					<div>
						{{student_filtering_form.industries_of_interest}}
					</div>
					<div class="select_wrapper">
						<label for="looking_for_internship">Looking for internship:</label>
						{{student_filtering_form.looking_for_internship}}
					</div>
					<div class="select_wrapper">
						<label for="looking_for_fulltime">Looking for fulltime:</label>
						{{student_filtering_form.looking_for_fulltime}}
					</div>
				</div>
				<h3>
				<a href="#">Other Info</a>
				</h3>
				<div>
					<div>
						{{student_filtering_form.languages}}
					</div>
					<div>
						{{student_filtering_form.campus_orgs}}
					</div>
					<div class="select_wrapper ">
						<label for="older_than_18">Must be older than 18:</label>
						{{student_filtering_form.older_than_18}}
					</div>
					<div class="select_wrapper ">
						<label for="citizen">Must be a citizen:</label>
						{{student_filtering_form.citizen}}
					</div>
				</div>
				<h3>
				<a href="#">Search Options</a>
				</h3>
				<div>
					<div class="select_wrapper">
						<label for="id_ordering">Order Results By:</label>
						{{student_filtering_form.ordering}}
					</div>
					<div class="select_wrapper">
						<label for="id_results_per_page">Results Per Page:</label>
						{{student_filtering_form.results_per_page}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="results_block" class="big_block">
	<div id="results_block_loader_section">
		<img src='{{ STATIC_URL }}images/page_elements/loaders/results_loader.gif'>
	</div>
	<div id="results_section">
	</div>
</div>
{% endblock %}