{% if employer.logo %}
    <div data-employer-name="{{employer}}" class="attending_employer">
        {% if user.student or user.is_anonymous %}
            {% if employer.visible %}
                <a href="{{employer.get_absolute_url}}">
            {% endif %}
        {% endif %}
        <img title="{{employer}}" alt="{{employer}}" src=
        {% if employer_logo %}
            "{{employer_logo}}"
        {% else %}
            "{{MEDIA_URL}}{{employer.logo}}"
        {% endif %}
        >
        {% if user.student or user.is_anonymous %}
            {% if employer.visible %}
                </a>
            {% endif %}
        {% endif %}
    </div>
{% else %}
    <div data-employer-name="{{employer}}" class="no_logo attending_employer">
        <span>{{employer}}</span>
    </div>
{% endif %}