{% extends "base.html" %}

{% block title %}
Bad Request |
{% endblock %}

{% block content_area %}
{% if user.is_authenticated %}
<div class="left_side_container">
{% if request.user.student %}
    {% include 'student_side_nav.html' %}
{% endif %}
{% if request.user.recruiter %}
    {% include 'employer_side_nav.html' %}
{% endif %}
</div>
{% endif %}
<div class="simple_block grande centered">
     <h1>400 - Bad Request</h1>
     <div class="message_section">
        <p>We're sorry, but your request could not be understood by the server due to malformed syntax.</p>
        <span><small>{% if exception %}<strong>Details:</strong> {{exception}}{% endif %}</small></span>
        <p> Please try again.</p>
     </div>
</div>
{% endblock %}