{% extends "base.html" %}

{% block title %}
Account Settings |
{% endblock %}

{% block metadata %}
    {{block.super}}
    {% load text_snippet %}
    {% load compress %}
    {% compress css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/account_base.css" />
    {% endcompress %}
    <script type="text/javascript">
        var PASSWORDS_DONT_MATCH = "{% text_snippet 'passwords_dont_match' %}";
        var PASSWORD_MIN_LENGTH="{{password_min_length}}";
    </script>
    {% compress js %}
        <script src="{{ STATIC_URL }}js/account_base.js"></script>
    {% endcompress %}
{% endblock %}

{% block content_area %}
<div id="account_settings_block" class="main_block no_top_margin with_side_nav">
    <div class="main_block_header">
        <img class="main_block_header_icon" src="{{ STATIC_URL }}images/icons/switch.png"/>
        <span class="main_block_header_title">Account Settings</span>
    </div>
    <div class="main_block_content">
        <div id="preferences_form_tabs">
            <ul>
                <li><a href="#tabs-1">Account Overview</a></li>
                <li {% if user.recruiter and not user.recruiter.employer.subscribed %}class="must_be_subscribed must_be_subscribed_w"{% endif %} id="preferences_tab"><a {% if user.recruiter and not user.recruiter.employer.subscribed %}{% else %}href="#tabs-2"{% endif %}>Preferences</a></li>
                {% block account_settings_tab_declarations %}
                {% endblock %}
            </ul>
            <div id="tabs-1">
                <div id="account_overview">
                    <h3 class="no_top_margin">Basic Info</h3>
                    <table id="basic_info_table">
                        <tbody>
                            <tr>
                                <th><label>Email:</label></th>
                                <td>
                                    <p>{{user.email}}</p>
                                </td>
                            </tr>
                            {% block basic_info_table_fields %}
                            {% endblock %}
                        </tbody>
                    </table>
                    <form id="password_change_form" method='POST' action="{% url password_change %}">
                        {% csrf_token %}
                        <h3>Change Password</h3>
                        <p class="sub_header_message">By changing your password you will be logged off of all other sessions.</p>
                        <table class="form_table">
                            <tbody>
                                {% for field in change_password_form %}
                                    <tr>
                                        <th>{{ field.label_tag }}</th>
                                        <td>
                                            <div class="errorspace">{{ field.errors }}</div>
                                            {{ field }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <th></th>
                                    <td class="error_section error">
                                        {{form.non_field_errors}}
                                    </td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td>
                                        <input class="button" type='submit' value='Change Password'>
                                        <img class='ajax_form_submit_loader' src='{{ STATIC_URL }}images/loaders/s_ajax.gif'>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                    {% block account_overview %}
                    {% endblock %}
                </div>
            </div>
            {% if user.recruiter and not user.recruiter.employer.subscribed %}
            {% else %}
            <div id="tabs-2">
                <div id="preferences">
                    {% block preferences %}
                    {% endblock %}
                                <tr class="no_bottom_border">
                                    <td colspan="2" class="error_section error">
                                        {{preferences_form.non_field_errors}}
                                    </td>
                                </tr>
                                <tr class="no_bottom_border">
                                    <td class="button_cell" colspan="2">
                                        <input class="button" type='submit' value='Save Preferences'>
                                        <img class='ajax_form_submit_loader' src='{{ STATIC_URL }}images/loaders/s_ajax.gif'>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
            {% endif %}
            {% block account_settings_tab_definitions %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}

