<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="description" content="Umeqo is an innovative recruiting resource for students and employers to discover one another." />
        
        <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico" type="image/vnd.microsoft.icon" />
        
        <noscript><meta http-equiv="refresh" content="0; url=/unsupported-browser?js=false"/>
        </noscript>
        <title>{% block title %}{% endblock %}Umeqo</title>
        
        <link href="http://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,400,400italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">
        {% load compress %}

        {% compress css %}
            <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" />
            <link rel="stylesheet" href="{{ STATIC_URL }}css/icons.css" />
            <link rel="stylesheet" href="{{ STATIC_URL }}css/errors.css" />
            <link rel="stylesheet" href="{{ STATIC_URL }}css/blocks.css" />
            <link rel="stylesheet" href="{{ STATIC_URL }}css/buttons.css" />
            <link rel="stylesheet" href="{{ STATIC_URL }}css/side_nav.css" />
            <link rel="stylesheet" href="{{ STATIC_URL }}css/contact_us.css" />
            <link rel="stylesheet" href="{{ STATIC_URL }}lib/jquery_ui_custom/css/ui-lightness/jquery-ui-1.8.12.custom.css" />
            <link rel="stylesheet" href="{{ STATIC_URL }}lib/jquery_tipsy/stylesheets/tipsy.css" />
            <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery_overrides.css" />
            {% if user.is_authenticated and user.student or user.recruiter %}
                <link rel="stylesheet" href="{{ STATIC_URL }}css/logged_in.css" />
            {% else %}
                <link rel="stylesheet" href="{{ STATIC_URL }}css/anonymous.css" />
            {% endif %}
        {% endcompress %}

        <script>
            var TINY_AJAX_LOADER = "{% include 'tiny_ajax_loader.html' %}";
            var LONG_HORIZONTAL_AJAX_LOADER = "{% include 'long_horizontal_ajax_loader.html' %}";
            var DIALOG_AJAX_LOADER = "{% include 'dialog_ajax_loader.html' %}";
            var CLOSE_DIALOG_LINK = "{% include 'close_dialog_link.html' %}";
            var LOAD_WAIT_TIME = "{{load_wait_time}}";
            
            var UNSUPPORTED_BROWSER_URL = "{% url unsupported_browser %}";
            var NOTIFICATIONS_URL = "{% url notification_ajax %}";
            var NOTIFICATIONS_COUNT_URL = "{% url get_notice_unseen_count %}";
            var CONTACT_US_URL = "{% url contact_us %}";
            
            var ERROR_MESSAGE = "{% include 'error_message.html' %}";
            var ERROR_MESSAGE_DIALOG = "{% include 'error_message_dialog.html' %}";
        
            var CHECK_CONNECTION_MESSAGE = "{% include 'check_connection_message.html' %}";
            var CHECK_CONNECTION_MESSAGE_DIALOG = "{% include 'check_connection_message_dialog.html' %}";
        
            var single_line_long_load_message = "This is taking longer than usual. Check your connection and/or <a class='refresh_page_link' href='javascript:void(0)'>refresh</a>.";
            var two_line_long_load_message = "<p>This is taking longer than usual. <br/> Check your connection and/or <a class='refresh_page_link' href='javascript:void(0)'>refresh</a>.</p>";
        </script>
        {% compress js %}
            <script src="{{ STATIC_URL }}lib/jquery/jquery.js" charset="utf-8"></script>
            <script src="{{ STATIC_URL }}lib/jquery_ui_custom/jquery-ui-1.8.12.custom.min.js"></script>
            <script src="{{ STATIC_URL }}lib/jquery_form_validation/jquery_form_validation.js"></script>
            <script src="{{ STATIC_URL }}lib/jquery_form_validation/additional_methods.js"></script>
            <script src="{{ STATIC_URL }}lib/jquery_form_submission/jquery_form_submission.js"></script>
            <script src="{{ STATIC_URL }}lib/jquery_tipsy/javascripts/jquery.tipsy.js" charset="utf-8"></script>
            <script src="{{ STATIC_URL }}js/base.js"></script>
            <script src="{{ STATIC_URL }}js/contact_us_dialog.js"></script>
            
            {% if user.is_authenticated and user.student or user.recruiter %}
                <script src="{{ STATIC_URL }}js/logged_in.js"></script>
            {% else %}
                <script type="text/javascript" src="{{ STATIC_URL }}js/anonymous.js"></script>
            {% endif %}
        {% endcompress %}
        <!--[if lt IE 8]>
            <link rel="stylesheet" href="{{ STATIC_URL }}css/IE7.css" />
        <![endif]-->
        <!--[if lte IE 6]>
        <   script src="{{ STATIC_URL }}javascript/unsupported-browser.js" type="text/javascript"></script>
        <![endif]-->
        <!--[if lte IE 8]>
        <script src="{{ STATIC_URL }}lib/IE7/IE9.js"></script>
        <![endif]-->
        <!--[if lte IE 7]>
        <script src="{{ STATIC_URL }}lib/IE7/ie7-squish.js"></script>
        <![endif]-->
        {% block metadata %}{% endblock %}

    </head>
    <body>
        <div id="above_header_area">
            {% block above_header_area %}
            {% endblock %}
        </div>
        <div id="header_area">
            <div class="width_container">
                <ul id="navigation_block">
                    {% if not user.is_authenticated or not user.student and not user.recruiter %}
                        {% if registration_open %}
                            {% ifnotequal current_path "/signup/"%}
                            <li id="signup_button">
                                <a tabindex="-1" href="{% url student_registration %}">Join Umeqo!</a>
                            </li>
                            {% endifnotequal %}
                        {% endif %}
                        {% ifnotequal current_path "/login/" %}
                        <li id="login_button">
                            <a class="login_link" tabindex="-1" href="javascript:void(0)">Login</a>
                        </li>
                        {% endifnotequal %}
                    {% endif %}
                    <li>
                        <a id="home" href="{% url home %}" tabindex="-1">Home</a>
                    </li>
                    {% if user.is_authenticated and user.student or user.recruiter %}
                        <li>
                            <a id="help" href="{% url help_center %}" tabindex="-1">Help</a>
                        </li>
                        <li>
                            <a id="account" href="javascript:void(0)" tabindex="-1">Account <span class="arrow">&#9660;</span></a>
                            <ul id="account_dropdown">
                                <li class="info">{{user}}</li>
                            {% if user.student %}
                                <li><a href="{% url student_profile %}">Edit Profile</a></li>
                                <li><a href="{% url student_account %}">Account Settings</a></li>
                            {% else %}{% if user.recruiter %}    
                                <li><a href="{% url student_profile %}">Edit Profile</a></li>
                                <li><a href="{% url employer_account %}">Account Settings</a></li>
                            {% endif %}{% endif %}
                                <li><a href="{% url logout %}">Logout</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li>
                            <a id="about" href="{% url about %}" tabindex="-1">About</a>
                        </li>
                        <li>
                            <a id="help_center" href="{% url help_center %}" tabindex="-1">Help</a>
                        </li>
                    {% endif %}
                </ul>
                {% if user.student %}
                    <div id="notifications">
                        <div id="notifications_count">
                            <div id="notifications_number" {% if notice_unseen_count == 0 %}class="invisible"{% endif %}>{{ notice_unseen_count }}</div>
                        </div>
                        <div id="notifications_pane" class="notifications_list">
                        </div>
                    </div>
                {% endif %}
                <div id="logo_block">
                    <div id="logo_beta">beta</div>
                    <a tabindex="-1" href="/"><img id="logo_image" src="{{ STATIC_URL }}images/logo.png" /></a>
                </div>
            </div>
        </div>
        <div id="below_header_area">
            <!-- z-index is there to fix IE7 z-index bug -->
            <div style="z-index:200" class="width_container">
                {% if not user.is_authenticated or not user.student and not user.recruiter %}
                    {% ifnotequal current_path "/login/" %}
                        <div id="login_wrapper">
                            <form id="login_form" action="/login/" method='POST'>
                                {% csrf_token %}
                                <div class="errorspace"></div>
                                <div id="username" class="input_div">
                                    <label for="id_username">Email</label>
                                    {{login_form.username}}
                                </div>
                                <div class="errorspace"></div>
                                <div id="password" class="input_div">
                                    <label for="id_password">Password</label>
                                    {{login_form.password}}
                                </div>
                                <div class="error_section error">
                                </div>
                                <div>
                                    <button class="button" type='submit'>
                                        Login
                                    </button>
                                    <img id='ajax_form_submit_loader' src='{{ STATIC_URL }}images/loaders/s_ajax.gif'>
                                    <a id="reset_password_link" href="/password/reset/">Forgot password?</a>
                                </div>
                                <input type="hidden" name="next" value="{{login_next}}" />
                            </form>
                        </div>
                    {% endifnotequal %}
                {% endif %}
                    {% block below_header_area %}
                    {% endblock %}
                <div id="message_area">
                    {% block message_area %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <div class="width_container">
            <div id="content_area" class="clearfix">
                {% block content_area %}
                {% endblock %}
            </div>
            <div id="footer_area">
                <div id="footer_navigation_block">
                    <a id="home" href="{% url home %}" title="home" tabindex="-1">Home</a>
                    <a id="about" href="{% url about %}" title="about" tabindex="-1">About</a>
                    <a id="help" href="{% url help_center %}" title="help" tabindex="-1">Help</a>
                    <a id="contact" class="open_contact_us_dialog_link" href="javascript:void(0)" title="contact" tabindex="-1">Contact Us</a>
                </div>
                <p id="footer_info_block">
                    &copy; 2011 Umeqo. All Rights Reserved.
                </p>
            </div>
        </div>
        <script>
            var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-22946783-1']);
              _gaq.push(['_trackPageview']);
        
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </body>
</html>
