<!--
Developers : Dmitrij Petters,
All code is property of original developers.
Copyright 2011. All Rights Reserved.
-->

{% extends "base.html" %}

{% block metadata %}
{{block.super}}
<link rel="stylesheet" href="{{ STATIC_URL }}css/logged_in.css" />
<script type="text/javascript" src="{{ STATIC_URL }}javascript/logged_in.js">
</script>
{% endblock %}

{% block navigation %}
<li>
    <a id="home" href="{% url home %}">Home</a>
</li>
<li>
    <a id="faq" href="{% url help %}">FAQ</a>
</li>
<li>
    <a id="account" href="#">Account</a>
    <ul id="account_dropdown">
        <li><a href="#">Account Settings</a></li>
        <li><a href="{% url password_change %}">Change Password</a></li>
        <li><a href="{% url student_edit_profile %}">Edit Profile</a></li>
    </ul>
</li>
{% endblock %}

{% block above_header_area %}
{{block.super}}
<div id="idletimeout_block">
    You will be logged off in
    <span>
        <!-- countdown placeholder -->
    </span>&nbsp;seconds due to inactivity.
    <a id="idletimeout-resume" href="#">Click here to continue using SBConnect</a>.
</div>
{% endblock %}

{% block below_header_area %}
{{block.super}}
    <div class="width_container">
        <div id="login_info_block">
            Logged in as <strong>{% if user.company_name %}{{user.company_name}}{% else %}{{user}}{% endif %}</strong>.
            <a href="/logout/?next=/?action=logged-out">Log out</a>
        </div>
    </div>
{% endblock %}