{% extends "email_base.html" %}

{% block meta %}
    <style type="text/css">
        {% include "event_snippet_css.html" %}
    </style>
{% endblock %}

{% block email_body %}
    <h2 style="margin-top:0">{{month}} newsletter</h2>
    <p>Here are the {{events|length}} events/deadlines you should know about:</p>

    {% load core_extras %}
    <ul class="event_list">
        {% for event in events %}
                {% include "event_snippet.html" with email="true" %}
        {% endfor %}
    </ul>
    <br>
    <small>Change your notification settings at any time <a href="http://{{current_site.domain}}/student/account/?tab=preferences">here</a>.</small>
{% endblock %}