<div class="results_navigation_section">
    {% if page.has_previous %}
    <a href="#" class="enabled page_link" id="page_{{page.number|add:'-1'}}">&laquo; Previous</a>
    {% else %}
    <a href="#" class="disabled_page_link" id="page_{{page.number|add:'-1'}}">&laquo; Previous</a>
    {% endif %}

    {% for num in page.page_range %}
    {% if not num %} ...  {# literally output dots #}
    {% else %}
    {% ifequal num page.number %}
    <a href="#" class="current_page_link" id="page_{{ num }}">{{ num }}</a>
    {% else %}
    <a href="#" class="page_link" id="page_{{ num }}">{{ num }}</a>
    {% endifequal %}
    {% endif %}
    {% endfor %}

    {% if page.has_next %}
    <a href="#" class="enabled page_link" id="page_{{page.number|add:'1'}}">Next &raquo</a>
    {% else %}
    <a href="#" class="disabled_page_link" id="page_{{page.number|add:'1'}}">Next &raquo</a>
    {% endif %}
</div>