<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" style="margin: 0; padding: 0; overflow-y: scroll; font-size: 13px; font-family: Arial, sans-serif; color: #303030">
<head style="margin: 0; padding: 0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" style="margin: 0; padding: 0" />
<meta name="robots" content="none" style="margin: 0; padding: 0" />
<title style="margin: 0; padding: 0"></title>


</head>
<body style="margin: 0; padding: 0; font-size: 13px; font-family: Arial, sans-serif; color: #303030">
<table cellspacing="0" cellpadding="0" border="0" style="margin: 0; padding: 0; border-spacing: 0">
<tbody style="margin: 0; padding: 0">
<tr width="100%" style="margin: 0; padding: 0">
<td id="background" valign="top" align="left" style="margin: 0; padding: 0; background: #F0F0F0">
<table id="email_content" style="margin: 0; padding: 10px 8px; border-spacing: 0; border: none; width: 100%">
<tbody style="margin: 0; padding: 0">
<tr width="100%" height="40" style="margin: 0; padding: 0">
<td id="email_header" valign="top" align="left" style="margin: 0; padding: 20px 20px 10px; background: #577592">
<img height="40" width="125" src="https://umeqo.com/static/images/logo.png" title="Umeqo" style="margin: 0; padding: 0; border: none; font-weight:bold;font-size:18px;color:#fff" />
</td>
</tr>
<tr width="100%" style="margin: 0; padding: 0">
<td id="email_body" valign="top" align="left" style="margin: 0; padding: 0 20px 10px; background: #fff">
<h2 style="margin: 0.83em 0; padding: 0; font-size: 20px; text-shadow: 1px 1px #FFF; color: #444">Umeqo + Readyforce</h2>
<p style="text-align:justify; margin: 1em 0; padding: 0; font-size: 12px; line-height: 17px; color: #555">When Umeqo was first conceived nearly three years ago, its goal was to simplify recruiting at MIT. I've had an incredibly rewarding time working towards this vision since then. And today, <strong>I couldn't be happier to announce that Umeqo has agreed to be acquired by Readyforce.</strong></p>
<p style="text-align:justify; margin: 1em 0; padding: 0; font-size: 12px; line-height: 17px; color: #555">Readyforce, the leading career network for college students, will help take Umeqo to the next level, and we're starting now. Beginning today, Umeqo is available to students and campus organizations from all universities nationwide, allowing companies to connect with students on a much larger scale.</p>
<p style="text-align:justify; margin: 1em 0; padding: 0; font-size: 12px; line-height: 17px; color: #555">What happens next?  Well, Readyforce and Umeqo will continue to operate separately for the foreseeable future, but the long term plans are to integrate the two sites under the Readyforce brand.  In the coming weeks, you will hear more from me and the Readyforce team about our innovative plans to continue making campus recruiting easier for both students and companies.</p>
<p style="text-align:justify; margin: 1em 0; padding: 0; font-size: 12px; line-height: 17px; color: #555">Last, but certainly not least, I would like to thank Joshua Ma, Zachary Dearing, David Guo, Arkady Blyakher, Joshua Dhaliwal and Carolyn Zhang for their contributions.</p>
<p style="margin: 1em 0; padding: 0; font-size: 12px; line-height: 17px; color: #555">
                                        Best,<br style="margin: 0; padding: 0" />
                                        Dmitrij Petters<br style="margin: 0; padding: 0" />
                                        Co-Founder, Umeqo<br style="margin: 0; padding: 0" />
</p>
<p style="margin: 1em 0; padding: 0; font-size: 12px; line-height: 17px; color: #555"><a href="http://blog.readyforce.com/press-releases/readyforce-acquires-mit-umeqo-access-to-talent-and-college-event-management-platform/" style="margin: 0; padding: 0; color: #6889A8; outline: none">Official Press Release</a></p>
<p style="margin: 1em 0; padding: 0; font-size: 12px; line-height: 17px; color: #555"><a href="http://news.ycombinator.com/item?id=5150188" style="margin: 0; padding: 0; color: #6889A8; outline: none">Discuss on Hacker Hews</a></p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</body>
</html>
