#terms, #terms a{
    font-size:13px;
    line-height:15px;
}
#recruiter_signup_link{
    position:relative;
    bottom:3px;
}
#id_invite_code{
    width:140px;
    font-family:"Courier New";
}
.dialog_content_wrapper{
    padding:15px;
}
#student_registration_help_list{
    padding-left:18px;
}
#student_registration_help_list p{
    padding-bottom:5px;
}
