#student_profile_preview_ajax_loader{
    margin-bottom:30px;
    margin-top:5px;
    text-align:center;
}
#student_profile_preview_section_block{
    margin-top:15px;
    background:#E6E6E6;
    padding:8px;
    border-radius:3px;
}
#student_profile_preview_info{
    margin-right:700px;
}
#student_profile_preview_info h2{
    margin-left:75px;
    margin-top:32px;
}
#student_profile_preview{
    min-height:81px;
    background:#FFF;
    border:1px solid #CCC;
    border-radius:5px;
    padding:1px 8px;
    width:651px;
    float:right
}
.profile_form_side_info {
    margin-top: 20px;
    margin-left:25px;
    width: 475px;
    float: left;
}
#student_profile_preview .message_section{
    margin-top:8px;
}
.previous_employers_multiselect .ui-multiselect-filter input, .interested_in_multiselect .ui-multiselect-filter input, .campus_involvement_multiselect .ui-multiselect-filter input, .countries_of_citizenship_multiselect .ui-multiselect-filter input, .languages_multiselect .ui-multiselect-filter input{
    width:154px;
}
.previous_employers_multiselect .ui-multiselect-all, .interested_in_multiselect .ui-multiselect-all, .campus_involvement_multiselect .ui-multiselect-all, .countries_of_citizenship_multiselect .ui-multiselect-all, .languages_multiselect .ui-multiselect-all{
    display:none;
}
/* Form Fields */
#id_sat_v, #id_sat_m, #id_sat_w, #id_act, #id_older_than_21{
    width:60px;
}
#id_website{
    width:190px;
}
.side_form_info ul {
    padding: 1px 0 10px;
}
label[for="id_previous_employers"]{
    min-width: 120px;
}
label[for="id_countries_of_citizenship"]{
    min-width:140px;
}
