.add .dialog_content_wrapper {
    padding: 10px 25px;
}
label[for=id_suggestion] {
    padding-right: 0px;
}
#id_suggestion {
    height: 40px;
    width: 370px;
    margin-top: 3px;
    resize: none;
}
#student_account_deactivation_form .error_section {
    padding: 5px 0px;
}
#notification_preferences_table label {
    font-weight: 400;
}
ul#deactivation_consequences{
   list-style:inside; 
}
