/*
 Developers : Dmitrij Petters,
 All code is property of original developers.
 Copyright 2011. All Rights Reserved.
 */

#student_registration_block {
	width: 540px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#student_registration_block .form_table{
	margin-left: auto;
	margin-right: auto;	
}

#student_registration_form_error_section {
	margin-top: 15px;
}