.main_block {
    width: 760px;
    float: right;
}
.side_block {
    width: 200px;
}
#id_subscribed_employers {
    width: 300px;
}
.employer_subscriptions_dialog .ui-dialog-content {
    padding: 25px;
}
#suggested_employers_list_info_block {
    width: 112px;
}
#suggested_employers_list {
    float: right;
    list-style: inside;
    margin-right: 2px;
    width: 300px;
    min-height: 120px;
}
#suggested_employers_list li {
    background-color: #d9d9d9;
    padding: 3px 0 3px 4px;
    margin-top: 2px;
    cursor: pointer;
}
#suggested_employers_list li:hover {
    background-color: #c9c9c9;
}
#get_more_employer_suggestions_link {
    top: 5px;
    position: relative;
}
#employer_subscriptions_form_submit_button {
    margin-bottom: 0px;
}
#employer_suggestions_info {
    position: relative;
    top: 5px;
    width: 121px;
}
#click_to_add_note {
    margin-left: 22px;
}
