.student_detailed_info_header {
    margin-top: 2px;
    text-decoration: underline;
    font-weight: bold;
}
.student_test_scores th{
    font-size: 12px;
    padding-right: 5px;
}
.student_test_scores .student_detailed_info_header{
    text-align: left;
}
.student_main_info {
    line-height: 21px;
}
.student_main_info .saved_message{
    vertical-align:top;
}
#first_student_main_info {
    border-top: none;
}
.page_link, .current_page_link, .disabled_page_link {
    margin-top: 1px;
    font-size: 12px;
    border:1px solid #808080;
    padding: 2px;
    text-decoration: none;
}
.page_link:hover {
    background-color: #E5EDFF;
}
.disabled_page_link {
    color: #DDD;
    border:1px solid #CCCCCC;
}
.disabled_page_link:hover {
    cursor: default;
    color: #CCCCCC;
}
.current_page_link {
    font-weight: bold;
    background: #E5EDFF;
}
.current_page_link:hover {
    color: #6E97B9;
    cursor: default;
}
.student_main_info {
    padding: 10px 0;
    border-top: 1px solid #CCC;
}
.student_main_info p {
    color: #000;
    line-height: 21px;
}
.student_checkbox {
    margin-left: 9px;
}
.student_name {
    font-size: 20px;
    margin-left: 7px;
    position:relative;
}
.student_year {
    font-size: 20px;
    position:relative;
}
.student_event_attendance_span{
    position: relative;
    top: 1px;
}
.student_resume_link {
    float: right;
}
.resume_book_current_toggle_student, .student_star{
    min-width: 16px;
    margin-left: 7px;
    display:inline-block;
    min-width: 14px;
    position: relative;
}
.resume_book_capacity_reached{
    opacity: .3;
    cursor:default;
}
.resume_book_current_toggle_student{
    top: 2px;
}
.student_star{
    vertical-align: top;
    top: 4px;
}
.student_major {
    margin-left: 7px;
    position:relative;
}
.student_invite_to_event_span, .student_invite_to_event_span_disabled {
    float: right;
    position: relative;
    bottom: 1px;
}
.student_gpa {
    float: right;
    margin-right: 78px;
    position:relative;
}
.no_detailed_info{
    text-align: center;
    display: block;
}
.student_comment {
    border:1px solid #CCC;
    font-size: 12px;
    margin-left: 7px;
    padding: 2px 0 0 5px;
    position: relative;
    top: 2px;
    width: 451px;
    height: 17px;
}
.student_toggle_detailed_info_link {
    float: right;
}
.student_detailed_info {
    display: none;
    background-color: #FBFBFB;
    border-top: 1px solid #E9E9E9;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: left;
}
.student_detailed_info p {
    color: #000;
}
.student_detailed_info ul {
    list-style: none;
}
.student_detailed_info_first_col {
    display:inline-block;
    min-width: 29px;
}
.student_detailed_info_second_col {
    display:inline-block;
    vertical-align: top;
    width: 320px;
}
.student_detailed_info_third_col {
    display:inline-block;
    vertical-align: top;
}
.student_country_of_citizenship {
    display: block;
    margin: 3px 6px 6px 7px;
}
.student_hide_details_link {
    margin-top: 2px;
    clear: right;
    text-align: center;
}
