#dropbox {
    opacity: 0.5;
    background-color: #f2f2f2;
    height: 51px;
    margin:5px 0px 5px 14px;
    width: 154px;
    border: 1px dashed #888;
}
#dropbox_status{
    font-weight: bold;
    position:relative;
    height:0px;
    top:23px;
}
#update_resume_div{
    text-align:center;
    display:none;
    width:186px;
}
#update_resume_div a{
    text-align:left;
}
#update_resume_div #dropbox.hover {
    border: 2px dashed #000;
    opacity: 0.3;
}
#update_resume_div #dropbox.uploading {
    border: 1px solid orange;
}
#update_resume_div #dropbox.success {
    border: 1px solid #00EA1B;
}
#update_resume_div #dropbox.error {
    border: 1px solid red;
}