.main_block {
    width: 760px;
    float: right;
}
.side_block {
    width: 200px;
}
#dropbox {
    opacity: 0.5;
    background-color: #f2f2f2;
    height: 51px;
    margin:5px 0px 5px 14px;
    width: 170px;
    border: 1px dashed #888;
}
#dropbox_status{
    font-weight: bold;
	position:relative;
	height:0px;
	top:23px;
}
#update_resume_div #dropbox.hover {
    border: 1px dashed #000;
    opacity: 0.4;
}
#update_resume_div #dropbox.uploading {
    border: 1px solid orange;
}
#update_resume_div #dropbox.success {
    border: 1px solid #00EA1B;
}
#update_resume_div #dropbox.error {
    border: 1px solid red;
}
#id_subscribed_employers {
    width: 300px;
}
.employer_subscriptions_dialog .ui-dialog-content {
    padding: 25px;
}
#update_resume_div{
	text-align:center;
	display:none;
}
#update_resume_div a{
	text-align:left;
}
#suggested_employers_list_info_block {
    width: 112px;
}
#suggested_employers_list {
    float: right;
    list-style: inside;
    margin-right: 2px;
    width: 300px;
    min-height: 120px;
}
#suggested_employers_list li {
    background-color: #d9d9d9;
    padding: 3px 0 3px 4px;
    margin-top: 2px;
    cursor: pointer;
}
#suggested_employers_list li:hover {
    background-color: #c9c9c9;
}
#get_more_employer_suggestions_link {
    top: 5px;
    position: relative;
}
#employer_subscriptions_form_submit_button {
    margin-bottom: 0px;
}
#employer_suggestions_info {
    position: relative;
    top: 5px;
    width: 121px;
}
#click_to_add_note {
    margin-left: 22px;
}
