{% extends "base.html" %}

{% block title %}
    Notifications |
{% endblock %}

{% block metadata %}
    {{block.super}}
    {% load compress %}
    {% compress css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/notifications.css" />
    {% endcompress %}
    {% compress js %}
        <script src="{{ STATIC_URL }}javascript/notifications.js"></script>
    {% endcompress %}
{% endblock %}

{% block content_area %}
<div class="left_side_container">
    {% if user.student %}
        {% include "student_side_nav.html" %}
    {% else %}
        {% include "employer_side_nav.html" %}
    {% endif %}
</div>

<div id="notifications_block" class="main_block">
    <div class="main_block_content notifications_list">
        <h1>Notifications</h1>
        <ul id="notifications_list">
            {% for notice in notices %}
                <li id="n-{{ notice.id }}" {% if notice.is_unseen %} class="unread"{% endif %}>
                    <div class="details">
                        <span class="timestamp">{{ notice.added|timesince }} ago</span>
                        <span class="type">{{ notice.notice_type.display }}</span>
                    </div>
                    <span class="message_quote">{{ notice.message_full|safe }}</span>
                </li>
            {% empty %}
                <li class="empty_notices">There are no notifications at this time.</li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}