<!--
Developers : Dmitrij Petters,
All code is property of original developers.
Copyright 2011. All Rights Reserved.
-->

{% extends "base.html" %}

{% block title %}
| Student Registration
{% endblock %}

{% block metadata %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/student/student_registration.css" />
<script type="text/javascript" src="{{ STATIC_URL }}javascript/student/student_registration.js">
</script>

<script type="text/javascript">
    var EMAIL_ALREADY_REGISTERED_MESSAGE = "{{email_already_registered_message}}";
    var PASSWORDS_DONT_MATCH_MESSAGE = "{{passwords_dont_match_message}}";
</script>
{% endblock %}

{% block content_area %}
<div id="student_registration_block" class="main_block">
    <div class="main_block_header">
        <img class="main_block_header_icon" src="{{ STATIC_URL }}images/icons/user.png" />
        <span class="main_block_header_title">Student Registration</span>
    </div>
    <div class="main_block_content">
        <form id="student_registration_form" method='POST' action="">
            {% csrf_token %}
            <table class="form_table grande">
                <tr>
                    <th>{{form.email.label_tag}}</th>
                    <td>
                        <div class="errorspace">{{form.email.errors}}</div>
                        {{form.email}}
                    </td>
                    <td class="info" rowspan="4">
                        <p>Creating an account is simple - all we need to get started is your <strong>MIT email</strong> and a <strong>password</strong>.</p>
                    </td>
                </tr>
                <tr>
                    <th>{{form.password1.label_tag}}</th>
                    <td>
                        <div class="errorspace">{{form.password1.errors}}</div>
                        {{form.password1}}
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <td>
                        <input id="student_registration_form_submit_button" class="button" type='submit' value='Create my account'>
                        <img id='ajax_form_submit_loader' style="display:none" src='{{ STATIC_URL }}images/page_elements/loaders/small_ajax_loader.gif'>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
{% endblock %}
