<!--
Developers : Dmitrij Petters,
All code is property of original developers.
Copyright 2011. All Rights Reserved.
-->

{% extends "base.html" %}

{% block title %}
| {{user}}
{% endblock %}

{% block metadata %}
{{block.super}}
<!-- JQuery MultiSelect Widget -->
<script type="text/javascript" src="{{ STATIC_URL }}lib/jquery_multiselect/jquery_multiselect_min.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}lib/jquery_multiselect/jquery_multiselect.css" />

<!-- JQuery MultiSelect Widget Filtering Plugin -->
<script type="text/javascript" src="{{ STATIC_URL }}lib/jquery_multiselect/jquery_multiselect_filter_min.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}lib/jquery_multiselect/jquery_multiselect_filter.css" />

<!-- Custom -->
  <link rel="stylesheet" href="{{ STATIC_URL }}css/student/student_home.css"/>
  <script type="text/javascript" src="{{ STATIC_URL }}javascript/student/student_home.js"></script>
{% endblock %}

{% block below_header_area %}
{{ block.super }}
{% if msg %}
<div class="below_header_message">
    <p>{{ msg }}</p>
</div>
{% endif %}
{% endblock %}

{% block content_area %}
    
    <div class="right_side_container">
        <div id="statistics_block" class="side_block">
            <div class="side_block_header">
                <img class="side_block_header_icon" src="{{ STATIC_URL }}images/icons/system-monitor.png"/>
                <span class="side_block_header_title">My Statistics</span>
            </div>
            <div class="side_block_content">
            </div>
            <div class="side_block_footer">
            </div>
        </div>
        <div id="quick_resume_updater_block" class="side_block">
            <div class="side_block_header">
                <img class="side_block_header_icon" src="{{ STATIC_URL }}images/icons/resume.png" />
                <span class="side_block_header_title">Resume Updater</span>
            </div>
            <div class="side_block_content">
                <p id="dropbox_status">Drop PDF File Here</p>
                  <div id="dropbox">
                  </div>
            </div>
            <div class="side_block_footer">
                <div class="side_block_footer_link">
                    <a id="view_resume_link" target="_blank" href="{{ MEDIA_URL }}{{user.student.resume}}">View Current Resume</a>
                </div>
            </div>
        </div>
    </div>
    <div id="notifications_block" class="main_block no_top_margin">
        <div class="main_block_header">
            <img class="main_block_header_icon" src="{{ STATIC_URL }}images/icons/megaphone.png" />
            <span class="main_block_header_title">Notifications (0)</span>
        </div>
    </div>
    <div id="events_and_deadlines_block" class="main_block">
        <div class="main_block_header">
            <img class="main_block_header_icon" src="{{ STATIC_URL }}images/icons/calendar.png" />
            <span class="main_block_header_title">Events and Deadlines</span>
            <div class="main_block_header_content">
                <a class="button sub-button" href="{% url employers_list %}">Browse Employers</a>
                <a class="button sub-button" href="{% url events_list %}">Browse Events</a>
            </div>
        </div>
        <div class="main_block_content">
            <div class="message_block">
                <p>Browse events in full using the links below, or subscribe to employers to get automatic notifications of any new events.<p>
                <br>
                <p><a href="javascript:void(0)" id="setup_employer_subscriptions_link"><strong>Setup Employer Subscriptions</strong></a></p>
            </div>
        </div>
    </div>
{% endblock %}
