<!--
Developers : Dmitrij Petters,
All code is property of original developers.
Copyright 2011. All Rights Reserved.
-->

{% extends "logged_in.html" %}

{% block title %}
| Events
{% endblock %}

{% block metadata %}
{{block.super}}
<!-- Datatables -->
<link rel="stylesheet" href="/site_media/lib/jquery_datatables/demo_table_jui.css" />
<script type="text/javascript" language="javascript" src="/site_media/lib/jquery_datatables/jquery.dataTables.min.js">
</script>
<!-- Custom -->
<link rel="stylesheet" href="/site_media/css/student/student_events.css" />
<script type="text/javascript" src="/site_media/javascript/student/student_events.js">
</script>
{% endblock %}

{% block content_area %}
<div id="new_event_form_block" class="main_block no_top_margin">
	<div class="main_block_header">
		<img class="main_block_header_icon" src="/site_media/images/icons/calendar_add_png/32x32/calendar_add.png"/>
		<span class="main_block_header_title">All Events</span>
	</div>
	<div class="main_block_content">
		<div id="tabs">
			<ul>
				<li>
					<a href="#tabs-1">Upcoming Events</a>
				</li>
				<li>
					<a href="#tabs-2">Past Events</a>
				</li>
			</ul>
			<div id="tabs-1">
				<table class="display" id="upcoming_events_table">
					<thead>
						<tr>
							<th>Event Name</th>
							<th>Date and Time</th>
							<th>Company</th>
							<th>Event Type</th>
							<th>Location</th>
						</tr>
					</thead>
					<tbody>
						{% for event in upcoming_events %}
						<tr>
							<td>{{event.name}}</td>
							<td>{{event.datetime|date:"f A, M j, l, Y"}}</td>
							<td>{{event.employer}}</td>
							<td>{{event.type}}</td>
							<td>{{event.location}}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div id="tabs-2">
				<table class="display" id="past_events_table">
					<thead>
						<tr>
							<th></th>
							<th>Event Name</th>
							<th>Date and Time</th>
							<th>Company</th>
							<th>Event Type</th>
							<th>Location</th>
						</tr>
					</thead>
					<tbody>
						{% for event in past_events %}
						<tr>
							<td></td>
							<td>{{event.name}}</td>
							<td>{{event.datetime|date:"f A, M j, l, Y"}}</td>
							<td>{{event.employer}}</td>
							<td>{{event.type}}</td>
							<td>{{event.location}}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}