{% extends "account_base.html" %}

{% block metadata %}
{{block.super}}
<link rel="stylesheet" href="{{ STATIC_URL }}css/student/student_account.css" />
<script type="text/javascript" src="{{ STATIC_URL }}js/student/student_account.js"></script>
<script>
    var STUDENT_ACCOUNT_DEACTIVATE_URL = "{% url student_account_deactivate %}";
</script>
{% endblock %}

{% block content_area %}
<div class="left_side_container">
    {% include "student_side_nav.html" %}
</div>
{{block.super}}
{% endblock %}


{% block account_overview %}
<h3>Deactivate Account</h3>
<p class="sub_header_message">By deactivating you remove your listing and all stored data off of the site.</p>
<p class="sub_header_message">Your account can be restored by logging back in. <a id="account_deactivate_link" class="caution" href="javascript:void(0)">Deactivate Account</a></p>
{% endblock %}
 

{% block preferences %}
<h3 class="no_top_margin">Notification Preferences</h3>
<p class="sub_header_message">Umeqo provides notifications in the form of emails. They will be sent to <strong>{{user.email}}</strong></p>
<p id="global_settings_section">
    <span>Global Settings</span>
    <label for="global_email_checkbox">Always Email:</label>
    <input type="checkbox" id="global_email_checkbox" />
</p>
<form id="preferences_form" method="POST" action="{% url student_account_preferences %}">
{% csrf_token %}
    <table id="notification_preferences_table" class="form_table">
        <tbody>  
           <tr>
               <th>Invitations</th>
               <th>Email</th>
           </tr>
           <tr>
              <td><label for="id_email_on_invite_to_public_event">Invite to Public Event</label></td>
              <td class="checkbox">
                  {{preferences_form.email_on_invite_to_public_event}}
              </td>
           </tr>
           <tr>
              <td><label for="id_email_on_invite_to_private_event">Invite to Private Event</label></td>
              <td class="checkbox">
                  {{preferences_form.email_on_invite_to_private_event}}
              </td>
           </tr>
           <tr>
               <th>Events</th>
               <th>Email</th>
           </tr>
           <tr>
              <td><label for="id_email_on_new_subscribed_employer_event">New Subscribed Employer Event</label></td>
              <td class="checkbox">
                  {{preferences_form.email_on_new_subscribed_employer_event}}
              </td>
           </tr>
           <tr>
               <th>Newsletters</th>
               <th>Email</th>
           </tr>
           <tr>
              <td><label for="id_receive_monthly_newsletter">Monthly Newsletter</label></td>
              <td class="checkbox">
                  {{preferences_form.receive_monthly_newsletter}}
              </td>
           </tr>
{% endblock %}
