<!--
Developers : Dmitrij Petters,
All code is property of original developers.
Copyright 2011. All Rights Reserved.
-->

<div class="dialog_info_section">
	<h3>Create the campus organization by filling out the fields below.</h3>
	<p>
		<strong>Note:</strong> Its authenticity will be checked by site administrators.
	</p>
</div>
<form id="create_campus_organization_form" method='POST' action="/student/create-campus-organization/">
	{% csrf_token %}
	<div class="errorspace">
	</div>
	<div>
		<label class="required" for="id_name">Type:</label>
		{{create_campus_organization_form.type}}
	</div>
	<div class="errorspace">
	</div>
	<div>
		<label class="required" for="id_name">Name:</label>
		{{create_campus_organization_form.name}}
	</div>
	<div class="errorspace">
	</div>
	<div>
		<label for="id_website">Website:</label>
		{{create_campus_organization_form.website}}
	</div>
	<div class="button_wrapper_with_margins anchor">
		<input id="create_campus_organization_form_submit_button" class="button" type='submit' value='Create'>
		<img id='ajax_form_submit_loader' style="display:none" src='/site_media/images/page_elements/loaders/small_ajax_loader.gif'>
	</div>
</form>