<!--
Developers : Dmitrij Petters,
All code is property of original developers.
Copyright 2011. All Rights Reserved.
-->

<h2>Filtering and Search</h2>
<p>
	If an employer filters by an attribute which you did not specify, you will not appear in the results.
	For example, if the employer decides that he wants student with an ACT of 26 or above and you left that field blank, you will not appear in the results, no matter how high your ACT score is.
	For this reason, it is beneficial to fill out as much information as possible, as to increase your chances of matching an employer's filtering parameters.
</p>
<br>
<h2>Result Listing Appearance</h2>
<p>
	Compare the two result listings below. The top student filled out all fields. The bottom student left everything but the required fields blank. If you were an employer, whose resume would you look at?
</p>