{% extends "base.html" %}

{% block title %}
Statistics |
{% endblock %}

{% block metadata %}
{{ block.super }}
{% load text_snippet %}
{% load compress %}
    {% compress css %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/student/student_statistics.css">
    {% endcompress %}

    <script>
        var STUDENT_BODY_STATISTICS_URL = "{% url student_body_statistics %}";
        var SECOND_MAJOR_STATISTICS_URL = "{% url student_statistics_second_major %}";
    </script>    
    {% compress js %}
    <script type="text/javascript" src="{{ STATIC_URL }}lib/highcharts/js/highcharts.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/student/student_statistics.js"></script>
    {% endcompress %}
{% endblock %}

{% block content_area %}
<h1 class="inline">Student Body Statistics</h1>
<a class="back_to_link" href="{% url home %}" tabindex="-1">&laquo; Back to Home</a>
<p><strong>Please Note:</strong> This page is a very early work in progress. We want your input on what kind of statistics you want to see, so feel free to <a class="open_contact_us_dialog_link" href="#">let us know</a>!</p>
<div id="custom_statistics_controls" class="controls">
    <span>Plot </span>
    {{student_body_statistics_form.y_axis}}
    <span> vs </span>
    {{student_body_statistics_form.x_axis}}
    <img class='ajax_form_submit_loader' src='{{ STATIC_URL }}images/loaders/s_ajax.gif'>
</div>
<div id="student_body_chart_container"></div>
<h2>Second Major Picks</h2>
<div id="second_major_statistics_controls" class="controls">
    <span>Choose First Major: </span>
    {{second_major_form.first_major}}
    <img class='ajax_form_submit_loader' src='{{ STATIC_URL }}images/loaders/s_ajax.gif'>
</div>
<div id="second_major_chart_container"></div>
{% endblock %}
