{% extends "profile_base.html" %}

{% block metadata %}
{{block.super}}
{% load text_snippet %}
{% load student_resume_book %}
{% load student_star %}
{% load compress %}
{% compress css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/student/student_quick_registration.css" />    
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/campus_org/create_campus_org_dialog.css"/>
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/core/create_language_dialog.css"/>
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/core/course_profile_preview.css"/>
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/employer/employer_new.css"/>
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/student/student_unparsable_resume_dialog.css"/>
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/student/student_profile.css"/>
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/student/student_profile_preview.css"/>
{% endcompress %}
<script>
    var CHECK_CAMPUS_ORG_UNIQUENESS_URL = "{% url check_campus_org_uniqueness %}";
    var CHECK_LANGUAGE_UNIQUENESS_URL = "{% url check_language_uniqueness %}";
    var COURSE_INFO_URL = "{% url course_info %}";
    var CREATE_CAMPUS_ORGANIZATION_URL = "{% url student_create_campus_org %}";
    var CREATE_LANGUAGE_URL = "{% url student_create_language %}";
    var EMPLOYER_NEW_URL = "{% url employer_new %}";
    var HIDE_DETAILS_LINK = "{% include 'student_hide_details_link.html' %}";
    var SHOW_DETAILS_LINK = "{% include 'student_profile_show_details_link.html' %}";    


    var FILL_OUT_REQUIRED_FIELDS_MESSAGE = "{% include 'student_profile_preview_fill_out_required_fields_message.html' %}";
    var UNPARSABLE_RESUME_URL = "{% url student_profile_unparsable_resume %}";
    var PROFILE_PREVIEW_URL = "{% url student_profile_preview %}";
    var FIRST_NAME_REQUIRED = "{% text_snippet 'first_name_required' %}";
    var LAST_NAME_REQUIRED = "{% text_snippet 'last_name_required' %}";
    var SCHOOL_YEAR_REQUIRED = "{% text_snippet 'school_year_required' %}";
    var GRADUATION_YEAR_REQUIRED = "{% text_snippet 'graduation_year_required' %}";
    var FIRST_MAJOR_REQUIRED = "{% text_snippet 'first_major_required' %}";
    var GPA_REQUIRED = "{% text_snippet 'gpa_required' %}";
    var GPA_RANGE = "{% text_snippet 'gpa_range' %}";
    var RESUME_REQUIRED = "{% text_snippet 'resume_required' %}";
    var FIRST_SECOND_MAJORS_DIFF = "{% text_snippet 'first_second_majors_diff' %}";
    var PREVIEW_AJAX_LOADER = "{% include 'student_profile_preview_ajax_loader.html' %}"; 
    
    var PREVIEW_CHECKBOX_TOOLTIP = "{% text_snippet 'student_profile_preview_checkbox_tooltip' %}";
    var RESUME_BOOK_CURRENT_TOGGLE_TOOLTIP = "{% text_snippet 'resume_book_current_toggle_tooltip' %}";
    var star_toggle_tooltip = "{% text_snippet 'star_toggle_tooltip' %}";
    var event_attendance_tooltip = "{% text_snippet 'event_attendance_tooltip' %}";
    var view_resume_tooltip = "{% text_snippet 'view_resume_tooltip' %}";
    var invite_to_event_tooltip = "{% text_snippet 'invite_to_event_tooltip' %}";
    
    var ONE_LANGUAGE_DIFFICULTY = "{% text_snippet 'one_language_difficulty'%}";
    
    var CAMPUS_INVOLVEMENT_MAX = "{{campus_involvement_max}}";
    var COUNTRIES_OF_CITIZENSHIP_MAX = "{{countries_of_citizenship_max}}";
    var INDUSTRIES_OF_INTEREST_MAX = "{{industries_of_interest_max}}";
    var LANGUAGES_MAX = "{{languages_max}}";
    var PREVIOUS_EMPLOYERS_MAX = "{{previous_employers_max}}";
    
    var MAX_LANGUAGES_EXCEEDED= "{% text_snippet 'max_languages_exceeded' %}";
    var MAX_CAMPUS_INVOLVEMENT_EXCEEDED = "{% text_snippet 'max_campus_involvement_exceeded' %}";
    var MAX_INDUSTRIES_OF_INTEREST_EXCEEDED = "{% text_snippet 'max_industries_of_interest_exceeded' %}";
    var MAX_PREVIOUS_EMPLOYERS_EXCEEDED = "{% text_snippet 'max_previous_employers_exceeded' %}";
    var MAX_COUNTRIES_OF_CITIZENSHIP_EXCEEDED = "{% text_snippet 'max_countries_of_citizenship_exceeded' %}";
        
    var LANGUAGE_ALREADY_EXISTS = "{% text_snippet 'language_already_exists' %}";
    var CAMPUS_ORG_ALREADY_EXISTS = "{% text_snippet 'campus_org_already_exists' %}";
    var REMOVE_FROM_RESUME_BOOK_IMG = "{% student_resume_book 'True' %}";
    var ADD_TO_RESUME_BOOK_IMG = "{% student_resume_book '' %}";
    
    var STARRED_IMG = "{% student_star 'True' %}";
    var UNSTARRED_IMG = "{% student_star '' %}";
    
    var CHECK_EMPLOYER_UNIQUENESS_URL = "{% url check_employer_uniqueness %}";
    var EMPLOYER_ALREADY_EXISTS = "{% text_snippet 'employer_already_exists' %}";
    var MAX_INDUSTRIES = "{{max_industries}}";
    var MAX_INDUSTRIES_EXCEEDED = "{% text_snippet 'max_industries_exceeded' %}";

    var MAX_RESUME_SIZE = "{{max_resume_size}}";
    
    {% if edit %}
        var EDIT = true;
    {% else %}
        var EDIT = false;
    {% endif %}
    
</script>
{% compress js %}
<script src="{{ STATIC_URL }}lib/jquery_autoresize/jquery_autoresize.js"></script>
<script src="{{ STATIC_URL }}js/campus_org/create_campus_org.js"></script>
<script src="{{ STATIC_URL }}js/core/course_profile_preview.js"></script>
<script src="{{ STATIC_URL }}js/core/create_language.js"></script>
<script src="{{ STATIC_URL }}js/employer/employer_new.js"></script>
<script src="{{ STATIC_URL }}js/student/student_profile.js"></script>
<script src="{{ STATIC_URL }}js/student/student_profile_widgets.js"></script>
<script src="{{ STATIC_URL }}js/student/student_profile_preview.js"></script>
<script src="{{ STATIC_URL }}js/student/student_unparsable_resume_dialog.js"></script>
{% endcompress %}
{% endblock %}

{% block optional_side_nav %}
<form id="profile_form" method="POST" action="" enctype="multipart/form-data">
{% endblock %}

{% block profile_pages %}
    <li id="pg1">
        <a href='#' class="ui-accordion-link"></a>
        <div class="main_block">
            <div class="main_block_header">
                <div class="main_block_header_content">
                    <span>
                        <strong>Required Info</strong>
                    </span>
                    &raquo;
                    <a href="javascript:void(0)" class="navigation" id="1" tabindex="-1">Academic &amp; Employment Info</a>
                    &raquo;
                    <a href="javascript:void(0)" class="navigation" id="2" tabindex="-1">Miscellaneous Info</a>
                </div>
                <img class="main_block_header_icon" src="{{ STATIC_URL }}images/icons/fugue/24/user-business.png" />
                <span class="main_block_header_title">{% if edit %}Edit Your Profile{% else %}Create Your Profile{% endif %}</span>
            </div>
            <table class="form_table">
                <tr>
                    <th>{{form.first_name.label_tag}}</th>
                    <td>
                        <div class="errorspace"></div>
                        {{form.first_name}}
                    </td>
                </tr>
                <tr>
                    <th>{{form.last_name.label_tag}}</th>
                    <td>
                        <div class="errorspace"></div>
                        {{form.last_name}}
                    </td>
                </tr>
                <tr>
                    <th>{{form.school_year.label_tag}}</th>
                    <td>
                        <div class="errorspace"></div>
                        {{form.school_year}}
                    </td>
                </tr>
                <tr>
                    <th>{{form.graduation_year.label_tag}}</th>
                    <td>
                        <div class="errorspace"></div>
                        {{form.graduation_year}}{{form.graduation_month}}
                    </td>
                </tr>
                <tr>
                    <th>{{form.first_major.label_tag}}</th>
                    <td>
                        <div class="errorspace">{{form.first_major.error}}</div>
                        {{form.first_major}}
                    </td>
                </tr>
                <tr id="gpa_section">
                    <th>{{form.gpa.label_tag}}</th>
                    <td>
                        <div class="errorspace"></div>
                        {{form.gpa}} (freshmen without gpa, put 5.0)
                    </td>
                </tr>
                <tr>
                    <th>{{form.resume.label_tag}}</th>
                    <td>
                        <div class="errorspace"></div>
                        {{form.resume}}
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <td class="error_section error">
                    </td>
                </tr>
                <tr>
                    <td class="button_cell" colspan="2">
                        <input name="formBack0" type="button" class="button disabled" value="Back" alt="Back" disabled="disabled" />
                        <input name="formNext1" type="button" class="open1 button" value="Next" alt="Next" />
                        <input class="button" type='submit' alt="Save Profile" value='Save Profile'>
                        <img class='ajax_form_submit_loader' src="{{ STATIC_URL }}images/loaders/s_ajax.gif">
                    </td>
                </tr>
            </table>
            <div class="profile_form_side_info">
                <h3>Umeqo makes it easy for employers to discover you!</h3>
                <ul>
                    <li>
                    Employers <strong>filter students by the attributes listed</strong> and search by keywords that we <strong>automatically parse from your resume</strong>.
                    </li>
                    <li id="profile_form_required_third">
                        <strong>Only this page is required!</strong> The rest are optional. So you can just click <strong>Save Profile</strong>, or click <strong>Next</strong> to provide more info. Note that the more you fill out, the more likely you are to show up in the results.
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </li>
    <li id="pg2">
        <a href='#' class="ui-accordion-link"></a>
        <div class="main_block">
            <div class="main_block_header">
                <img class="main_block_header_icon" src="{{ STATIC_URL }}images/icons/fugue/24/user-business.png" />
                <span class="main_block_header_title">{% if edit %}Edit Your Profile{% else %}Create Your Profile{% endif %}</span>
                <div class="main_block_header_content">
                    <a href="javascript:void(0)" class="navigation" id="0" tabindex="-1">Required Info</a>
                    &raquo;
                    <span>
                        <strong>Academic &amp; Work Info</strong>
                    </span>
                    &raquo;
                    <a href="javascript:void(0)" class="navigation" id="2" tabindex="-1">Miscellaneous Info</a>
                </div>
            </div>
            <table class="form_table">
                <tr>
                    <th>{{form.looking_for.label_tag}}</th>
                    <td colspan="3">
                        <div class="errorspace"></div>
                        {{form.looking_for}}
                    </td>
                </tr>
                <tr>
                    <th>{{form.industries_of_interest.label_tag}}</th>
                    <td colspan="3">
                        <div class="errorspace"></div>
                        {{form.industries_of_interest}}
                    </td>
                </tr>
                <tr>
                    <th>{{form.previous_employers.label_tag}}</th>
                    <td colspan="3">
                        <div class="errorspace"></div>
                        {{form.previous_employers}}
                    </td>
                </tr>
                <tr>
                    <th>{{form.second_major.label_tag}}</th>
                    <td colspan="3">
                        <div class="errorspace"></div>
                        {{form.second_major}}
                    </td>
                </tr>
                <tr id="act_section">
                    <th>{{form.act.label_tag}}</th>
                    <td>
                        <div class="errorspace"></div>
                        {{form.act}}
                    </td>
                    <th>{{form.sat_m.label_tag}}</th>
                    <td>
                        <div class="errorspace"></div>
                        {{form.sat_m}}
                    </td>
                </tr>
                <tr id="sat_v_section">
                    <th>{{form.sat_v.label_tag}}</th>
                    <td>
                        <div class="errorspace"></div>
                        {{form.sat_v}}
                    </td>
                    <th>{{form.sat_w.label_tag}}</th>
                    <td>
                        <div class="errorspace"></div>
                        {{form.sat_w}}
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <td colspan="3" class="error_section error">
                    </td>
                </tr>
                <tr>
                    <td class="button_cell" colspan="4">
                        <input name="formBack0" type="button" class="open0 button" value="Back" alt="Back"/>
                        <input name="formNext2" type="button" class="open2 button" value="Next" alt="Next" />
                        <input class="button" type='submit' value="Save Profile" alt="Save Profile">
                        <img class='ajax_form_submit_loader' src='{{ STATIC_URL }}images/loaders/s_ajax.gif'>
                    </td>
                </tr>
            </table>
            <div class="profile_form_side_info">
                <h3>Give us a hint of your academics & work experience.</h3>
                <ul>
                    <li>This page is <strong>optional</strong>, but every extra detail helps employers find you!</li>
                    <li>
                        Don't see your previous employer?
                        <a href="javascript:void(0)" class="create_employer_link">Submit it to the list!</a>
                    </li>
                    <li>Yes, some employers still care about standardized test scores.</li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </li>
    <li id="pg3">
        <a href='#' class="ui-accordion-link"></a>
        <div class="main_block">
            <div class="main_block_header">
                <img class="main_block_header_icon" src="{{ STATIC_URL }}images/icons/fugue/24/user-business.png" />
                <span class="main_block_header_title">{% if edit %}Edit Your Profile{% else %}Create Your Profile{% endif %}</span>
                <div class="main_block_header_content">
                    <a href="javascript:void(0)" class="navigation" id="0" tabindex="-1">Required Info</a>
                    &raquo;
                    <a href="javascript:void(0)" class="navigation" id="1" tabindex="-1">Academic &amp; Work Info</a>
                    &raquo;
                    <span>
                        <strong>Miscellaneous Info</strong>
                    </span>
                </div>
            </div>
            <table class="form_table">
                <tr>
                    <th>{{form.campus_involvement.label_tag}}</th>
                    <td>
                        <div class="errorspace"></div>
                        {{form.campus_involvement}}
                    </td>
                </tr>
                <tr>
                    <th>{{form.languages.label_tag}}</th>
                    <td>
                        <div class="errorspace"></div>
                        {{form.languages}}
                    </td>
                </tr>
                <tr>
                    <th>{{form.countries_of_citizenship.label_tag}}</th>
                    <td>
                        <div class="errorspace"></div>
                        {{form.countries_of_citizenship}}
                    </td>
                </tr>
                <tr>
                    <th>{{form.older_than_21.label_tag}}</th>
                    <td>
                        <div class="errorspace"></div>
                        {{form.older_than_21}}
                    </td>
                </tr>
                <tr>
                    <th>{{form.website.label_tag}}</th>
                    <td>
                        <div class="errorspace"></div>
                        {{form.website}}
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <td class="error_section error">
                    </td>
                </tr>
                <tr>
                    <td class="button_cell" colspan="2">
                        <input name="formBack1" type="button" class="open1 button" value="Back" alt="Back" />
                        <input name="formNext2" type="button" class="button disabled" value="Next" alt="Next" disabled="disabled" />
                        <input class="button" type='submit' value='Save Profile' alt="Save Profile">
                        <img class='ajax_form_submit_loader' src='{{ STATIC_URL }}images/loaders/s_ajax.gif'>
                    </td>
                </tr>
            </table>
            <div class="profile_form_side_info">
                <h3>Almost there - for real this time.</h3>
                <ul>
                    <li>This page is <strong>optional</strong>, but every extra detail helps employers find you!</li>
                    <li>
                        Don't see your campus organization?
                        <a href="javascript:void(0)" id="create_campus_organization_link">Submit yours to the list.</a>
                    </li>
                    <li>
                        Is a language you speak not listed?
                        <a href="javascript:void(0)" id="create_language_link">Submit yours to the list.</a>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </li>
{% endblock %}

{% block preview %}
<div id="student_profile_preview_section_block">
    <div id="student_profile_preview">
    </div>
    <div id="student_profile_preview_info">
        <h2>Profile Preview</h2>
    </div>
    <div class="clearfix"></div>
</div>
{% endblock %}