{% extends "base.html" %}

{% block title %}
{{user}} | 
{% endblock %}

{% block metadata %}
{{block.super}}
{% load compress %}
{% compress css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/events/event_snippet.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/student/student_unparsable_resume_dialog.css"/>
{% endcompress %}
<script>
    var UNPARSABLE_RESUME_URL = "{% url student_profile_unparsable_resume %}";
</script>
{% compress js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/student/student_unparsable_resume_dialog.js"></script>
{% endcompress %}
{% endblock %}

{% block message_area %}
{{ block.super }}
{% if msg %}
    <p>{{ msg }}</p>
{% endif %}
{% endblock %}

{% block content_area %}
    <div class="left_side_container">
        {% include "student_side_nav.html" %}
    </div>
    <div class="main_block with_side_nav no_top_margin">
        <div class="main_block_header">
            <img class="main_block_header_icon" src="{{ STATIC_URL }}images/icons/umeqo_bubble2.png" />
            <span class="main_block_header_title">What's New</span>
        </div>
        <div class="main_block_content">
            <div id="welcome_block">
                <p>Hey there! <strong>Welcome, and thanks for beta testing Umeqo!</strong> Explore the site and check out some of the features:</p>
                <ul id="welcome_list">
                    <li><a href="{% url events_list %}">Browse and search</a> the events that employers have posted.</li>
                    <li><a href="{% url employers_list %}">Filter through employers</a> on Umeqo - watch this list grow! Subscribe to the ones you're interested in, and we'll send you notifications when they create new events and their events will appear below.</li>
                    <li><a href="{% url student_profile %}">Edit your profile details</a> and preview yourself as employers would. The more you fill out, the more likely you'll be seen.</li>
                </ul>
                <p>Again, please remember this is just a beta and there may (read: definitely) be things that are broken. Please do <a href="#" class="open_contact_us_dialog_link">report bugs you see</a> - there's a "Contact Us" link at the bottom of every page.</p>
            </div>
        </div>
    </div>
    <div class="main_block with_side_nav">
        <div class="main_block_header">
            <img class="main_block_header_icon" src="{{ STATIC_URL }}images/icons/calendar.png" />
            <span class="main_block_header_title">Events and Deadlines</span>
        </div>
        <div class="main_block_content">
            {% if has_subscriptions %}
                {% if sub_events %}
                    <ul class="event_list">
                        {% for event in sub_events %}
                            {% include "event_snippet.html" %}
                        {% endfor %}
                    </ul>
                {% else %}
                    <div class="simple_block centered">
                            <p>You have no upcoming events from the employers that you are subscribed to!</p>
                            <p>Try <a href="{% url events_list %}">browsing the full events listing</a> or <a href="{% url employers_list %}">subscribing to some more employers</a>.
                        </p>
                    </div>
                {% endif %}
            {% else %}
                <div class="simple_block centered">
                    <p>
                        When you <a href="{% url employers_list %}">subscribe to employers</a> and when employers send you invitations, their events will appear here.
                    </p>
                    <p>
                        <a href="{% url events_list %}">Browse the full listing</a> to Search and Filtering for Events and Deadlines.
                    </p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
