{% extends "base.html" %}

{% block title %}
Student Registration |
{% endblock %}

{% block metadata %}
{{ block.super }}

{% load text_snippet %}
{% load compress %}
{% compress css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/student/student_registration.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/student/student_registration_help.css" />
{% endcompress %}
{% compress js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/student/student_registration.js"></script>
{% endcompress %}

<script type="text/javascript">
    var CHECK_EMAIL_AVAILABILITY_URL = "{% url check_email_availability %}";
    var STUDENT_REGISTRATION_HELP_URL = "{% url student_registration_help %}";
    
    var EMAIL_REQUIRED = "{% text_snippet 'email_required' %}";
    var INVALID_EMAIL = "{% text_snippet 'invalid_email' %}";
    var MUST_BE_MIT_EMAIL = "{% text_snippet 'must_be_mit_email' %}";
    var EMAIL_ALREADY_REGISTERED = "{% text_snippet 'email_already_registered' %}";
    var PASSWORD_REQUIRED = "{% text_snippet 'password_required' %}";

    var PASSWORD_MIN_LENGTH="{{password_min_length}}";  
</script>
{% endblock %}

{% block content_area %}
<div class="simple_block centered">
    <h1>Student Registration</h1>
    <form id="student_registration_form" method="POST">
        {% csrf_token %}
        <table class="form_table grande">
            <tr>
                <th>{{form.email.label_tag}}</th>
                <td>
                    <div class="errorspace">{{form.email.errors|safe}}</div>
                    {{form.email}}
                </td>
                <td class="info" rowspan="2">
                    <p>Creating an account is simple - all you need is your <strong>MIT email</strong> and a <strong>password</strong> of your choice.</p>
                    <br>
                    <p>Having trouble registering? Click <a href="javascript:void(0)" class="open_registration_help_dialog_link">here</a>.</p>
                    <p id="recruiter_signup_link">Are you a recruiter? Sign up <a href="{% url subscription_list %}">here</a>.</p>
                </td>
            </tr>
            <tr>
                <th>{{form.password.label_tag}}</th>
                <td>
                    <div class="errorspace">{{form.password.errors|safe}}</div>
                    {{form.password}}
                </td>
            </tr>
            <tr>
                <th></th>
                <td>
                    <p id="terms">By signing up, you are agreeing to our <a href="{% url terms_of_service %}">terms</a>.<p>
                </td>
            </tr>
            <tr>
                <th></th>
                <td class="error_section error">
                    {{form.non_field_errors}}
                </td>
                <td></td>
            </tr>
            <tr>
                <th></th>
                <td colspan="2">
                    <input tabindex="3" class="button" type="submit" value="Create my account" />
                    <img class="ajax_form_submit_loader" src="{{ STATIC_URL }}images/loaders/s_ajax.gif" />
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}
