<div class="dialog_content_wrapper">
    <h3>There are a few possible reasons for why you cannot register.</h3>
    <ul id="student_registration_help_list">
        <li><strong>You are not a student.</strong><br><p>The student side of Umeqo is for students only. This means that employers, affiliates, group lists, professors and alumni are all not eligible to register as students.</p></li>
        <li><strong>You are a freshman or a student taking a temporary leave from MIT.</strong><br><p>For these reasons, you may be marked as an affiliate in the MIT database. If this is so, please <a href="javascript:void(0)" class="open_contact_us_dialog_link">contact us</a>.</p></li>
        <li><strong>Other reasons that we are not yet aware of.</strong><br><p>Judge for yourself as to whether recruiters should be able to see you alongside other students, and let us know of your situation.</p></li>
    </ul>
    <div class="button_wrapper_with_margins" centered>
        <a class="button open_contact_us_dialog_link">Contact Us</a>
        <a class="button close_dialog_link">Got it!</a>
    </div>
</div>