<!--
Developers : Dmitrij Petters,
All code is property of original developers.
Copyright 2011. All Rights Reserved.
-->

{% extends "base.html" %}

{% block title %}
| Confirm Your Email
{% endblock %}

{% block metadata %}
{{ block.super }}
<!-- Custom -->
<script type="text/javascript" src="{{ STATIC_URL }}javascript/student/student_registration_complete.js">
</script>
<link rel="stylesheet" href="{{ STATIC_URL }}css/student/student_registration_complete.css" />
{% endblock %}

{% block content_area %}
<div id="registration_complete_block" class="message_block">
    <h1 id="registration_complete_block_title" class="message_block_title">Almost there!</h1>
    <p class="message_section">
        A confirmation email has been sent. Please confirm your email address by clicking the activation link the email.
    </p>
</div>
{% endblock %}
