{% extends "base.html" %}

{% load macros %}
{% load text_snippet %}
{% load student_star %}
{% load student_resume_book %}

{% block metadata %}
{{block.super}}
<!-- JQuery Masker Input -->
<script type="text/javascript" src="{{ STATIC_URL }}lib/jquery_masked_input/jquery_masked_input.js">
</script>
<!-- JQuery Multiselect Widget -->
<script type="text/javascript" src="{{ STATIC_URL }}lib/jquery_multiselect/jquery_multiselect_min.js">
</script>
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}lib/jquery_multiselect/jquery_multiselect.css" />
<!-- Filtering plugin for Multiselect Widget -->
<script type="text/javascript" src="{{ STATIC_URL }}lib/jquery_multiselect/jquery_multiselect_filter_min.js">
</script>
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}lib/jquery_multiselect/jquery_multiselect_filter.css" />
<!-- Custom -->
<script type="text/javascript" src="{{ STATIC_URL }}javascript/student/student_profile.js">
</script>
<script type="text/javascript" src="{{ STATIC_URL }}javascript/student/student_profile_preview.js">
</script>
<script type="text/javascript" src="{{ STATIC_URL }}javascript/campus_info.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascript/student/student_unparsable_resume_dialog.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}lib/jquery_autoresize/jquery_autoresize.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}css/student/student_unparsable_resume_dialog.css"/>
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/student/student_profile.css"/>
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/campus_info.css"/>
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/student/student_profile_preview.css"/>
<!-- Scripts -->
<script type="text/javascript">
    var COURSE_INFO_URL = "{% url course_info %}";
    var CAMPUS_ORG_INFO_URL = "{% url campus_org_info %}";
    var SHOW_DETAILS_LINK = "{% include 'student_show_details_link.html' %}";    
    var HIDE_DETAILS_LINK = "{% include 'student_hide_details_link.html' %}";
    var CHECK_CAMPUS_ORGANIZATION_UNIQUENESS_URL = "{% url check_campus_organization_uniqueness %}";
    var CHECK_LANGUAGE_UNIQUENESS_URL = "{% url check_language_uniqueness %}";
    var CREATE_CAMPUS_ORGANIZATION_URL = "{% url student_create_campus_organization %}";
    var CREATE_LANGUAGE_URL = "{% url student_create_language %}";

    var STATIC_URL = "{{STATIC_URL}}";
    var HOME_URL = "{% url home %}";
    var FILL_OUT_REQUIRED_FIELDS_MESSAGE = "{% include 'student_profile_preview_fill_out_required_fields_message.html' %}";
    var UNPARSABLE_RESUME_URL = "{% url student_profile_unparsable_resume %}";
    var PROFILE_PREVIEW_URL = "{% url student_profile_preview %}";
    var STUDENT_PROFILE_FORM_FIRST_NAME = "{% text_snippet 'student_profile_form_first_name' %}";
    var STUDENT_PROFILE_FORM_LAST_NAME = "{% text_snippet 'student_profile_form_last_name' %}";
    var STUDENT_PROFILE_FORM_SCHOOL_YEAR = "{% text_snippet 'student_profile_form_school_year' %}";
    var STUDENT_PROFILE_FORM_GRADUATION_YEAR = "{% text_snippet 'student_profile_form_graduation_year' %}";
    var STUDENT_PROFILE_FORM_FIRST_MAJOR = "{% text_snippet 'student_profile_form_first_major' %}";
    var STUDENT_PROFILE_FORM_GPA_REQUIRED = "{% text_snippet 'student_profile_form_gpa_required' %}";
    var STUDENT_PROFILE_FORM_GPA_RANGE = "{% text_snippet 'student_profile_form_gpa_range' %}";
    var STUDENT_PROFILE_FORM_RESUME = "{% text_snippet 'student_profile_form_resume' %}";
    var STUDENT_PROFILE_FORM_WEBSITE = "{% text_snippet 'student_profile_form_website' %}";
    var STUDENT_PROFILE_FORM_FIRST_SECOND_MAJORS_DIFF = "{% text_snippet 'student_profle_form_first_second_majors_diff' %}";
    var STUDENT_PROFILE_PREVIEW_AJAX_LOADER = "{% include 'student_profile_preview_ajax_loader.html' %}"; 
    var STUDENT_PROFILE_PREVIEW_CHECKBOX_TOOLTIP = "{% text_snippet 'student_profile_preview_checkbox_tooltip' %}";
    var STUDENT_PROFILE_PREVIEW_RESUME_BOOK_CURRENT_TOGGLE_TOOLTIP = "{% text_snippet 'student_profile_preview_resume_book_current_toggle_tooltip' %}";
    var STUDENT_PROFILE_PREVIEW_STAR_TOGGLE_TOOLTIP = "{% text_snippet 'student_profile_preview_star_toggle_tooltip' %}";
    var STUDENT_PROFILE_PREVIEW_EVENT_ATTENDANCE_TOOLTIP = "{% text_snippet 'student_profile_preview_event_attendance_tooltip' %}";
    var STUDENT_PROFILE_PREVIEW_VIEW_RESUME_TOOLTIP = "{% text_snippet 'student_profile_preview_view_resume_tooltip' %}";
    var STUDENT_PROFILE_PREVIEW_INVITE_TO_EVENT_TOOLTIP = "{% text_snippet 'student_profile_preview_invite_to_event_tooltip' %}";

    var REMOVE_FROM_RESUME_BOOK_IMG = "{% student_resume_book 'True' %}";
    var ADD_TO_RESUME_BOOK_IMG = "{% student_resume_book '' %}";
    
    var STARRED_IMG = "{% student_star 'True' %}";
    var UNSTARRED_IMG = "{% student_star '' %}";
</script>
{% endblock %}

{% block title %}
{% if edit %}
Edit Profile |
{% else %}
Create Profile |
{% endif %}
{% endblock %}

{% block content_area %}
{{block.super}}
{% if not edit %}
<h1 id="profile_form_title">Welcome to Umeqo!</h1>
{% endif %}

<form id="profile_form" method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <ul id="stepForm">
        <li id="pg1">
            <a href='#' class="ui-accordion-link"></a>
            <div class="main_block clearfix">
                <div class="main_block_header">
                    <img class="main_block_header_icon" src="{{ STATIC_URL }}images/icons/user.png" />
                    <span class="main_block_header_title">{% if edit %}Edit Your Profile{% else %}Create Your Profile{% endif %}</span>
                    <div class="main_block_header_content">
                        <span>
                            <strong>Required Info</strong>
                        </span>
                        &raquo;
                        <a href="javascript:void(0)" class="navigation" id="1">Academic &amp; Work Info</a>
                        &raquo;
                        <a href="javascript:void(0)" class="navigation" id="2">Miscellaneous Info</a>
                    </div>
                </div>
                <div id="required_info_page">
                    <table class="form_table">
                        <tr>
                            <th>{{form.first_name.label_tag}}</th>
                            <td>
                                <div class="errorspace"></div>
                                {{form.first_name}}
                            </td>
                        </tr>
                        <tr>
                            <th>{{form.last_name.label_tag}}</th>
                            <td>
                                <div class="errorspace"></div>
                                {{form.last_name}}
                            </td>
                        </tr>
                        <tr>
                            <th>{{form.school_year.label_tag}}</th>
                            <td>
                                <div class="errorspace"></div>
                                {{form.school_year}}
                            </td>
                        </tr>
                        <tr>
                            <th>{{form.graduation_year.label_tag}}</th>
                            <td>
                                <div class="errorspace"></div>
                                {{form.graduation_year}}{{form.graduation_month}}
                            </td>
                        </tr>
                        <tr>
                            <th>{{form.first_major.label_tag}}</th>
                            <td>
                                <div class="errorspace">{{form.first_major.error}}</div>
                                {{form.first_major}}
                            </td>
                        </tr>
                        <tr id="gpa_section">
                            <th>{{form.gpa.label_tag}}</th>
                            <td>
                                <div class="errorspace"></div>
                                {{form.gpa}}
                            </td>
                        </tr>
                        <tr>
                            <th>{{form.resume.label_tag}}</th>
                            <td>
                                <div class="errorspace"></div>
                                {{form.resume}}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="error_section error">
                                {% if form.errors %}
                                    {% for field, errors in form.errors.items %}
                                        {{ errors|escape }}
                                    {% endfor %}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="button_cell" colspan="2">
                                <input name="formBack0" type="button" class="button disabled-button" value="Back" alt="Back" disabled="disabled" />
                                <input name="formNext1" type="button" class="open1 button" value="Next" alt="Next" />
                                <input class="student_profile_form_submit_button button" class="button" type='submit' alt="Save Profile" value='Save Profile'>
                                <img id='ajax_form_submit_loader' style="display:none" src="{{ STATIC_URL }}images/page_elements/loaders/small_ajax_loader.gif">
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="profile_side_form_info">
                    <h3>Umeqo makes it easy for employers to discover you!</h3>
                    <ul>
                        <li>
                        Employers <strong>filter students by the attributes listed</strong> and search by keywords that we <strong>automatically parse from your resume</strong>.
                        </li>
                        <li>
                            The more you fill out, the the more likely you are to show up in the results. (e.g. If the employer decides that he wants student with an ACT of 26 or above and you left that field blank, you will not appear in the result.)
                        </li>
                        <li id="profile_form_required_third">
                            Submit this page, or click <strong>Next</strong> to provide more information.
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li id="pg2">
            <a href='#' class="ui-accordion-link"></a>
            <div class="main_block clearfix">
                <div class="main_block_header">
                    <img class="main_block_header_icon" src="{{ STATIC_URL }}images/icons/user.png" />
                    <span class="main_block_header_title">{% if edit %}Edit Your Profile{% else %}Create Your Profile{% endif %}</span>
                    <div class="main_block_header_content">
                        <a href="javascript:void(0)" class="navigation" id="0">Required Info</a>
                        &raquo;
                        <span>
                            <strong>Academic &amp; Work Info</strong>
                        </span>
                        &raquo;
                        <a href="javascript:void(0)" class="navigation" id="2">Miscellaneous Info</a>
                    </div>
                </div>
                <div id="academic_info_page">
                    <table class="form_table">
                        <tr>
                            <th>{{form.looking_for.label_tag}}</th>
                            <td colspan="3">
                                <div class="errorspace"></div>
                                {{form.looking_for}}
                            </td>
                        </tr>
                        <tr>
                            <th>{{form.industries_of_interest.label_tag}}</th>
                            <td colspan="3">
                                <div class="errorspace"></div>
                                {{form.industries_of_interest}}
                            </td>
                        </tr>
                        <tr>
                            <th>{{form.previous_employers.label_tag}}</th>
                            <td colspan="3">
                                <div class="errorspace"></div>
                                {{form.previous_employers}}
                            </td>
                        </tr>
                        <tr>
                            <th>{{form.second_major.label_tag}}</th>
                            <td colspan="3">
                                <div class="errorspace"></div>
                                {{form.second_major}}
                            </td>
                        </tr>
                        <tr id="act_section">
                            <th>{{form.act.label_tag}}</th>
                            <td>
                                <div class="errorspace"></div>
                                {{form.act}}
                            </td>
                            <th>{{form.sat_m.label_tag}}</th>
                            <td>
                                <div class="errorspace"></div>
                                {{form.sat_m}}
                            </td>
                        </tr>
                        <tr id="sat_v_section">
                            <th>{{form.sat_v.label_tag}}</th>
                            <td>
                                <div class="errorspace"></div>
                                {{form.sat_v}}
                            </td>
                            <th>{{form.sat_w.label_tag}}</th>
                            <td>
                                <div class="errorspace"></div>
                                {{form.sat_w}}
                            </td>
                        </tr>
                    </table>
                    <div class="error_section error">
                        {% if form.errors %}
                            {% for field, errors in form.errors.items %}
                                {{ errors|escape }}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="button_wrapper_with_margins">
                        <input name="formBack0" type="button" class="open0 button" value="Back" alt="Back"/>
                        <input name="formNext2" type="button" class="open2 button" value="Next" alt="Next" />
                        <input class="student_profile_form_submit_button button" class="button" type='submit' value="Save Profile" alt="Save Profile">
                        <img id='ajax_form_submit_loader' style="display:none" src='{{ STATIC_URL }}images/page_elements/loaders/small_ajax_loader.gif'>
                    </div>
                </div>
                <div class="profile_side_form_info">
                    <h3>Give us a hint of your academics and work experience.</h3>
                    <ul>
                        <li>These pages are <strong>optional</strong>, but every extra detail helps employers find you!</li>
                        <li>Employers will be able to find students by interested industries, and you'll get notifications about relevant employers as well.</li>
                        <li>Yes, some employers still care about standardized test scores.</li>
                    </ul>
                </div>
            </div>
        </li>
        <li id="pg3">
            <a href='#' class="ui-accordion-link"></a>
            <div class="main_block clearfix">
                <div class="main_block_header">
                    <img class="main_block_header_icon" src="{{ STATIC_URL }}images/icons/user.png" />
                    <span class="main_block_header_title">{% if edit %}Edit Your Profile{% else %}Create Your Profile{% endif %}</span>
                    <div class="main_block_header_content">
                        <a href="javascript:void(0)" class="navigation" id="0">Required Info</a>
                        &raquo;
                        <a href="javascript:void(0)" class="navigation" id="1">Academic &amp; Work Info</a>
                        &raquo;
                        <span>
                            <strong>Miscellaneous Info</strong>
                        </span>
                    </div>
                </div>
                <div id="miscellaneous_info_page">
                    <table class="form_table">
                        <tr>
                            <th>{{form.campus_involvement.label_tag}}</th>
                            <td>
                                <div class="errorspace"></div>
                                {{form.campus_involvement}}
                            </td>
                        </tr>
                        <tr>
                            <th>{{form.languages.label_tag}}</th>
                            <td>
                                <div class="errorspace"></div>
                                {{form.languages}}
                            </td>
                        </tr>
                        <tr>
                            <th>{{form.countries_of_citizenship.label_tag}}</th>
                            <td>
                                <div class="errorspace"></div>
                                {{form.countries_of_citizenship}}
                            </td>
                        </tr>
                        <tr>
                            <th>{{form.older_than_21.label_tag}}</th>
                            <td>
                                <div class="errorspace"></div>
                                {{form.older_than_21}}
                            </td>
                        </tr>
                        <tr>
                            <th>{{form.website.label_tag}}</th>
                            <td>
                                <div class="errorspace"></div>
                                {{form.website}}
                            </td>
                        </tr>
                    </table>
                    <div class="error_section error">
                        {% if form.errors %}
                            {% for field, errors in form.errors.items %}
                                {{ errors|escape }}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="button_wrapper_with_margins">
                        <input name="formBack1" type="button" class="open1 button" value="Back" alt="Back" />
                        <input name="formNext2" type="button" class="button disabled-button" value="Next" alt="Next" disabled="disabled" />
                        <input class="student_profile_form_submit_button button" class="button" type='submit' value='Save Profile' alt="Save Profile">
                        <img id='ajax_form_submit_loader' style="display:none" src='{{ STATIC_URL }}images/page_elements/loaders/small_ajax_loader.gif'>
                    </div>
                </div>
                <div class="profile_side_form_info">
                    <h3>Almost there - for real this time.</h3>
                    <ul>
                        <li>
                            Don't see your campus organization?
                            <a href="#" id="create_campus_organization_link">Submit yours to the list.</a>
                        </li>
                        <li>
                            Is a language you speak not listed?
                            <a href="#" id="create_language_link">Submit yours to the list.</a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</form>
<div id="listing_preview_section_block" class="clearfix">
    <div id="listing_preview">
    </div>
    <div id="listing_preview_info">
        <h2>Profile Preview</h2>
    </div>
</div>
{% endblock %}
