Dear {{first_name}},<br>
<br>
We are excited to announce the release of the Umeqo Beta, and we would like to personally invite you to participate.  Umeqo's goal is to create a one-stop resource where technology, consulting, finance, and other types of firms can learn more about you, contact you, and provide you with information about what they're up to on campus. The system was built by MIT students for MIT students, with an emphasis on saving you time and effort year round.<br>
<br>
<strong>Join the Beta - 3 easy steps</strong><br>
<ul>
<li>Go to <a href="www.staging.umeqo.com/signup?ic={{ic}}">umeqo.com</a>. Clicking the link will fill in your invite code ({{ic}}) automatically.</li>
<li>Enter your MIT email address and a password of your choosing.</li>
<li>Create your Umeqo profile by uploading your resume and inputting a few key pieces of information.</li>
</ul>
That's it!<br>
<br>
<strong>Who's using Umeqo?</strong><br>
Initially, we are also giving exclusive early access to several tops firm - the types of places you most want to work. J.P. Morgan, Google, Microsoft, Oliver Wyman, Blackstone, SIG, Exxon Mobil, Thomson Reuters, Oracle and others have already signed up. These are the firms that will get to browse through the Umeqo beta users, such as yourself, in about a week. In September, Umeqo will be open to the entire MIT community and additional employers.<br>
<br>
We are also giving you three extra invite codes to give away to other student!<br>
<ul style="list-style:decimal">
{% for ic in extra_invite_codes %}
<li>{{ic}}</li>
{% endfor %}
</ul>
MIT is hard; recruiting doesn't have to be. Join Umeqo and help shape the student experience!<br>
<br>
Enthusiastically,<br>
Dmitrij, Josh, and Zac<br>
The Umeqo Team<br>