<!--
Developers : Dmitrij Petters,
All code is property of original developers.
Copyright 2011. All Rights Reserved.
-->

{% extends "base.html" %}

{% load macros %}

{% block title %}
{% endblock %}

{% block metadata %}
{{block.super}}
<!-- JQuery Masker Input -->
<script type="text/javascript" src="{{ STATIC_URL }}lib/jquery_masked_input/jquery_masked_input_1.2.2.js">
</script>
<!-- JQuery Multiselect Widget -->
<script type="text/javascript" src="{{ STATIC_URL }}lib/jquery_multiselect/jquery_multiselect_min.js">
</script>
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}lib/jquery_multiselect/jquery_multiselect.css" />

<!-- Filtering plugin for Multiselect Widget -->
<script type="text/javascript" src="{{ STATIC_URL }}lib/jquery_multiselect/jquery_multiselect_filter_min.js">
</script>
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}lib/jquery_multiselect/jquery_multiselect_filter.css" />

<!-- Custom -->
<script type="text/javascript" src="{{ STATIC_URL }}javascript/student/student_profile_form.js">
</script>
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/student/student_profile_form.css"/>
{% endblock %}

{% macro title %}
{% block main_block_header_title %} Repeatblock {% endblock %}
{% endmacro %}

{% block content_area %}

{% block header %}
{% endblock %}

<form id="profile_form" method='POST' action="" enctype="multipart/form-data">
    {% csrf_token %}
    <ul id="stepForm">
        <li id="pg1">
            <a href='#' class="ui-accordion-link"></a>
            <div class="main_block">
                <div class="main_block_header">
                    <img class="main_block_header_icon" src="{{ STATIC_URL }}images/icons/user.png" />
                    <span class="main_block_header_title">{% usemacro title %}</span>
                    <div class="main_block_header_links">
                        <span>
                            <strong>Required Info</strong>
                        </span>
                        &raquo;
                        <a href="javascript:void(0)" class="navigation" id="1">Academic Info</a>
                        &raquo;
                        <a href="javascript:void(0)" class="navigation" id="2">Work Info</a>
                        &raquo;                     
                        <a href="javascript:void(0)" class="navigation" id="3">Miscellaneous Info</a>
                    </div>
                </div>
                <div id="required_info_page">
                	<table class="form_table">
                		<tr>
                			<th>{{form.first_name.label_tag}}</th>
                			<td>
                				<div class="errorspace"></div>
                				{{form.first_name}}
                			</td>
                		</tr>
                        <tr>
                			<th>{{form.last_name.label_tag}}</th>
                			<td>
                				<div class="errorspace"></div>
                				{{form.last_name}}
                			</td>
                		</tr>
                		<tr>
                			<th>{{form.school_year.label_tag}}</th>
                			<td>
                				<div class="errorspace"></div>
                				{{form.school_year}}
                			</td>
                		</tr>
                		<tr>
                			<th>{{form.graduation_year.label_tag}}</th>
                			<td>
                				<div class="errorspace"></div>
                				{{form.graduation_year}}
                			</td>
                		</tr>
                		<tr>
                			<th>{{form.first_major.label_tag}}</th>
                			<td>
                				<div class="errorspace"></div>
                				{{form.first_major}}
                			</td>
                		</tr>
                		<tr>
                			<th>{{form.gpa.label_tag}}</th>
                			<td>
                				<div class="errorspace"></div>
                				{{form.gpa}}
                			</td>
                		</tr>
                		<tr>
                			<th>{{form.resume.label_tag}}</th>
                			<td>
                				<div class="errorspace"></div>
                				{{form.resume}}
                			</td>
                		</tr>
                	</table>
                	<div class="error_section error">
                		{{form.errors}}
					</div>
                    <div class="button_wrapper_with_margins">
                        <input id="submit_button" class="button" type='submit' alt="Submit" value='Submit'>
                        <input name="formNext1" type="button" class="open1 button" value="Next" alt="Next" />
                    </div>
                </div>
                <div class="profile_side_form_info">
                    <h3>Umeqo makes it easy for employers to discover you!</h3>
                    <ul>
                        <li id="profile_form_required_first">
                            Employers filter students by the attributes listed and search by keywords and skills that we automatically parse from your resume.
                        </li>
                        <li id="profile_form_required_second">
                            The more you fill out, the the more likely you are to show up in the results and the more attractive your listing will appear. <a href="javascript:void(0)" id="profile_form_info_link">Learn more</a>.
                        </li>
                        <li id="profile_form_required_third">
                            Submit this page, or click <strong>Next</strong> to provide us with more info.
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li id="pg2">
            <a href='#' class="ui-accordion-link"></a>
            <div class="main_block">
                <div class="main_block_header">
                    <img class="main_block_header_icon" src="{{ STATIC_URL }}images/icons/male_user_png/32x32/male_user.png" />
                    <span class="main_block_header_title">{% usemacro title %}</span>
                    <div class="main_block_header_links">
                        <a href="javascript:void(0)" class="navigation" id="0">Required Info</a>
                        &raquo;
                        <span>
                            <strong>Academic Info</strong>
                        </span>
                        &raquo;
                        <a href="javascript:void(0)" class="navigation" id="2">Work Info</a>
                        &raquo;                     
                        <a href="javascript:void(0)" class="navigation" id="3">Miscellaneous Info</a>
                    </div>
                </div>
                <div id="academic_info_page">
                	<table class="form_table">
                		<tr>
                			<th>{{form.second_major.label_tag}}</th>
                			<td>
                				<div class="errorspace"></div>
                				{{form.second_major}}
                			</td>
                		</tr>
                		<tr>
                			<th>{{form.act.label_tag}}</th>
                			<td>
                				<div class="errorspace"></div>
                				{{form.act}}
                			</td>
                		</tr>
                		<tr>
                			<th>{{form.sat_m.label_tag}}</th>
                			<td>
                				<div class="errorspace"></div>
                				{{form.sat_m}}
                			</td>
                		</tr>
                		<tr>
                			<th>{{form.sat_v.label_tag}}</th>
                			<td>
                				<div class="errorspace"></div>
                				{{form.sat_v}}
                			</td>
                		</tr>
                		<tr>
                			<th>{{form.sat_w.label_tag}}</th>
                			<td>
                				<div class="errorspace"></div>
                				{{form.sat_w}}
                			</td>
                		</tr>
                	</table>
                	<div class="error_section error">
                		{{form.errors}}
					</div>
                    <div class="button_wrapper_with_margins">
                        <input name="formBack0" type="button" class="open0 button" value="Back" alt="Back"/>
                        <input id="submit_button" class="button" type='submit' value='Submit' alt="Submit">
                        <input name="formNext2" type="button" class="open2 button" value="Next" alt="Next" />
                    </div>
                </div>
                <div class="profile_side_form_info">
                    <h3>Give us a hint of your academics.</h3>
                    <ul>
                    </ul>
                </div>
            </div>
        </li>
        <li id="pg3">
            <a href='#' class="ui-accordion-link"></a>
            <div class="main_block">
                <div class="main_block_header">
                    <img class="main_block_header_icon" src="{{ STATIC_URL }}images/icons/male_user_png/32x32/male_user.png" />
                    <span class="main_block_header_title">{% usemacro title %}</span>
                    <div class="main_block_header_links">
                        <a href="javascript:void(0)" class="navigation" id="0">Required Info</a>
                        &raquo;
                        <a href="javascript:void(0)" class="navigation" id="1">Academic Info</a>
                        &raquo;
                        <span>
                            <strong>Work Info</strong>
                        </span>
                        &raquo;                     
                        <a href="javascript:void(0)" class="navigation" id="3">Miscellaneous Info</a>
                    </div>
                </div>
                <div id="work_info_page">
                	<table class="form_table">
                		<tr>
                			<th>{{form.looking_for.label_tag}}</th>
                			<td>
                				<div class="errorspace"></div>
                				{{form.looking_for}}
                			</td>
                		</tr>
                		<tr>
                			<th>{{form.interested_in.label_tag}}</th>
                			<td>
                				<div class="errorspace"></div>
                				{{form.interested_in}}
                			</td>
                		</tr>
                		<tr>
                			<th>{{form.previous_employers.label_tag}}</th>
                			<td>
                				<div class="errorspace"></div>
                				{{form.previous_employers}}
                			</td>
                		</tr>
                	</table>
                    <div class="error_section error">
                		{{form.errors}}
					</div>
                    <div class="button_wrapper_with_margins">
                        <input name="formBack1" type="button" class="open1 button" value="Back" alt="Back" />
                        <input id="submit_button" class="button" type='submit' value='Submit' alt="Submit">
                        <input name="formNext3" type="button" class="open3 button" value="Next" alt="Next" />
                    </div>
                </div>
                <div class="profile_side_form_info">
                    <h3></h3>
                    <ul>
                    </ul>
                </div>
            </div>
        </li>
		<li id="pg4">
            <a href='#' class="ui-accordion-link"></a>
            <div class="main_block">
                <div class="main_block_header">
                    <img class="main_block_header_icon" src="{{ STATIC_URL }}images/icons/male_user_png/32x32/male_user.png" />
                    <span class="main_block_header_title">{% usemacro title %}</span>
                    <div class="main_block_header_links">
                        <a href="javascript:void(0)" class="navigation" id="0">Required Info</a>
                        &raquo;
                        <a href="javascript:void(0)" class="navigation" id="1">Academic Info</a>
                        &raquo;
                        <a href="javascript:void(0)" class="navigation" id="2">Work Info</a>
                        &raquo;
                        <span>
                            <strong>Miscellaneous Info</strong>
                        </span>
                    </div>
                </div>
                <div id="miscellaneous_info_page">
                	<table class="form_table">
                		<tr>
                			<th>{{form.campus_involvement.label_tag}}</th>
                			<td>
                				<div class="errorspace"></div>
                				{{form.campus_involvement}}
                			</td>
                		</tr>
                		<tr>
                			<th>{{form.languages.label_tag}}</th>
                			<td>
                				<div class="errorspace"></div>
                				{{form.languages}}
                			</td>
                		</tr>
                		<tr>
                			<th>{{form.website.label_tag}}</th>
                			<td>
                				<div class="errorspace"></div>
                				{{form.website}}
                			</td>
                		</tr>
                		<tr>
                			<th>{{form.older_than_18.label_tag}}</th>
                			<td>
                				<div class="errorspace"></div>
                				{{form.older_than_18}}
                			</td>
                		</tr>
                		<tr>
                			<th>{{form.citizen.label_tag}}</th>
                			<td>
                				<div class="errorspace"></div>
                				{{form.citizen}}
                			</td>
                		</tr>
                	</table>
                    <div class="error_section error">
                		{{form.errors}}
					</div>
                    <div class="button_wrapper_with_margins">
                        <input name="formBack2" type="button" class="open2 button" value="Back" alt="Back" />
                        <input id="submit_button" class="button" type='submit' value='Submit' alt="Submit">
                    </div>
                </div>
                <div class="profile_side_form_info">
                    <h3></h3>
                    <ul>
                        <li id="create_campus_organization_link">
                            Don't see your campus organization?
                            <a href="javascript:void(0)" id="create_campus_organization_link">Create it now</a>.
                        </li>
                        <li id="create_language_link">
                            Don't see your language?
                            <a href="javascript:void(0)" id="create_language_link">Create it now</a>.
                        </li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</form>
{% endblock %}