{% extends "account_settings_base.html" %}

{% block metadata %}
{{block.super}}
<link rel="stylesheet" href="{{ STATIC_URL }}css/student/student_account_settings.css" />
<script type="text/javascript" src="{{ STATIC_URL }}javascript/student/student_account_settings.js"></script>
{% endblock %}

{% block content_area %}
<div class="left_side_container">
    {% include "student_side_nav.html" %}
</div>
{{block.super}}
{% endblock %}

{% block account_overview_left_side %}
<h3>Deactivate Account</h3>
<p class="sub_header_message">By deactivating you remove your listing and all stored data off of the site.</p>
<p class="sub_header_message">Your account can be restored by logging back in. <a id="deactivate_account_link" href="javascript:void(0)">Deactivate Account</a></p>
{% endblock %}
 
 
{% block notifications_table_rows %}
   <tr>
       <th>Invitations</th>
       <th>Email</th>
   </tr>
   <tr>
      <td>Invite to Public Event</td>
      <td class="checkbox">
          {{preferences_form.email_on_invite_to_public_event}}
      </td>
   </tr>
   <tr>
      <td>Invite to Private Event</td>
      <td class="checkbox">
          {{preferences_form.email_on_invite_to_private_event}}
      </td>
   </tr>
   <tr>
       <th>Events</th>
       <th>Email</th>
   </tr>
   <tr>
      <td>New Subscribed Employer Event</td>
      <td class="checkbox">
          {{preferences_form.email_on_new_subscribed_employer_event}}
      </td>
   </tr>
{% endblock %}