<div class="dialog_content_wrapper">
    <h3>There are firms out there that need you! Note that -</h3>
    <ul>
        <li>Recruiter will no longer be able to invite you to any events.</li>
        <li>You will no longer show up in any filtering or search results.</li>
        <li>You will be removed from any resume books you are currently in.</li>
        <li>Your event check-in data will be now limited to just your email.</li>
    </ul>
    <form id="student_account_deactivation_form" method='POST' action="{% url student_account_deactivate %}">
        {% csrf_token %}
        <table class="form_table">
            <tr>
                <td>
                    <div class="errorspace">{{ form.suggestion.errors }}</div>
                    {{ form.suggestion.label_tag }}
                    {{ form.suggestion }}
                </td>
            </tr>
            <tr>
                <td class="error_section error">
                    {{form.non_field_errors}}
                </td>
            </tr>
            <tr>
                <td class="button_cell">
                    <a href="javascript:void(0)" class="button close_dialog_link">Cancel</a>
                    <a href="javascript:void(0)" type="submit" id="student_deactivate_account_link">Deactivate<a/>
                    <img id='ajax_form_submit_loader' src='{{ STATIC_URL }}images/page_elements/loaders/small_ajax_loader.gif'>
                </td>
            </tr>
        </table>
    </form>
</div>