{% extends "home_base.html" %}

{% block metadata %}
{{block.super}}
{% load compress %}
{% compress css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/events/event_snippet.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/student/student_unparsable_resume_dialog.css"/>
<link rel="stylesheet" href="{{ STATIC_URL }}css/student/student_home.css"/>
{% endcompress %}
<script>
    var UNPARSABLE_RESUME_URL = "{% url student_profile_unparsable_resume %}";
</script>
{% compress js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/student/student_unparsable_resume_dialog.js"></script>
<script src="{{STATIC_URL}}/js/events/event_snippet_directions.js"></script>
<script src="{{STATIC_URL}}/js/events/event_directions.js"></script>
{% endcompress %}
{% endblock %}

{% block left_side_container %}
    {% include "student_side_nav.html" %}
    <div id="statistics_block">
        <h3 id="statistics_header">Your Statistics</h3>
        <p><strong>Profile Views:</strong> {{user.student.studentstatistics.shown_in_results_count}}</p>
        <p><strong>Resume Views:</strong> {{user.student.studentstatistics.resume_view_count}}</p>
        <p><strong>Resume Book Count:</strong> {{user.student.studentstatistics.add_to_resumebook_count}}</p>
        <p><strong>Invite Count:</strong> {{user.student.invitee_set.all|length}}</p>
    </div>
{% endblock %}

{% block welcome_table %}
<tr>
    <td>
        <a href="{% url events_list %}"><img src="{{ STATIC_URL }}images/icons/calendar-day.png" /></a>
    </td>
    <td>
        <p><a href="{% url events_list %}">Browse employer events</a> - RSVP to ones you like and add them to you GCal.</p>
    </td>
</tr>
<tr>
    <td>
        <a href="{% url employers_list %}"><img src="{{ STATIC_URL }}images/icons/plus-circle.png" /></a>
    </td>
    <td>
        <p><a href="{% url employers_list %}">Subscribe to employers</a> - you will receive notifications about new events and deadlines.</p>
    </td>
</tr>
<tr>
    <td>
        <a href="{% url student_profile %}"><img src="{{ STATIC_URL }}images/icons/card-address.png" /></a>
    </td>
    <td>
        <p><a href="{% url student_profile %}">Update your profile</a> - doing so boosts your result ranking!</p>
    </td>
</tr>
{% endblock %}

{% block content %}
    <div class="main_block with_side_nav">
        <div class="main_block_header">
            <img class="main_block_header_icon" src="{{ STATIC_URL }}images/icons/calendar.png" />
            <span class="main_block_header_title">Events and Deadlines</span>
        </div>
        <div class="main_block_content">
            {% if has_subscriptions or private_events %}
                {% if sub_events or private_events %}
                    <ul class="event_list">
                        {% for event in private_events %}
                            {% include "event_snippet.html" %}
                        {% endfor %}
                        {% for event in sub_events %}
                            {% include "event_snippet.html" %}
                        {% endfor %}
                    </ul>
                {% else %}
                    <div class="simple_block centered">
                            <p>You have no upcoming events from the employers that you are subscribed to!</p>
                            <p>Try <a href="{% url events_list %}">browsing the full events listing</a> or <a href="{% url employers_list %}">subscribing to some more employers</a>.
                        </p>
                    </div>
                {% endif %}
            {% else %}
                <div class="simple_block centered">
                    <p>
                        When you <a href="{% url employers_list %}">subscribe to employers</a> and when employers send you invitations, their events will appear here.
                    </p>
                    <p>
                        You can also <a href="{% url events_list %}">browse the full listing</a> to search and filtering for public events and deadlines.
                    </p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}