{% extends 'tutorial_base.html' %}

{% block tutorial_title %}
Changing Your Password
{% endblock %}

{% block instructions %}
<p class="header"><span id="create_account" class="num">Step 1:</span> Access your account settings from the "Account" dropdown on the upper right.</p>
<p>There is also a "Account Settings" link in the side navigation menu on the left, underneath "Account".</p>
<a target="_blank" href="{% url employer_account %}"><img src="{{STATIC_URL}}images/tutorials/changing_your_password/1.png"></a>

<p class="header"><span class="num">Step 2:</span> Fill out the form underneath the "Change Password" header.</p>
<p>If for some reason you do not remember your current password, visit the <a href="{% url password_reset %}">password reset page</a>.</p>
<a target="_blank" href="{% url employer_account %}"><img src="{{STATIC_URL}}images/tutorials/changing_your_password/2.png"></a>
{% endblock %}

{% block things_to_note %}
<li>Changing your password logs you out of all your other sessions. You will have to login again on every other machine on which you were previously signed-in.</li>
{% endblock %}

{% block tips_and_tricks %}
<li>We encourage the practice of changing your password roughly every 30-90 days.</li>
{% endblock %}