{% extends 'tutorial_base.html' %}


{% block tutorial_title %}
Getting an Annual Subscription
{% endblock %}


{% block instructions %}
    {% if not user.recruiter %}
        <p class="header"><span id="create_account" class="num">Step 1:</span> Click the <a target="_blank" href="{% url subscriptions %}">"For Recruiters"</a> link on the bottom of the page.</p>
        <a target="_blank" href="{% url subscriptions %}"><img src="{{STATIC_URL}}images/tutorials/getting_annual_subscription/6.png"></a>
    {% else %}
        <p class="header"><span id="create_account" class="num">Step 1:</span> From the dropdown menu on the top right of any page, click "Modify Subscription".</p>
        <a target="_blank" href="{% url employer_account %}"><img src="{{STATIC_URL}}images/tutorials/getting_annual_subscription/1.png"></a>
    {% endif %}
        <p id="contact_us" class="header"><span class="num">Step 2:</span> Click the "Contact Us" button in the annual subscription block.</p>
        <a target="_blank" href="{% url subscriptions %}"><img src="{{STATIC_URL}}images/tutorials/getting_annual_subscription/4.png"></a>
        <p class="header"><span class="num">Step 3:</span> Fill out the subscription request form and we will send you further instructions.</p>
        <p>In particular, we will send you the price and terms of the subscription, terms of service, and instructions on how to make payment.</p>
        <a target="_blank" href="{% url subscriptions %}?action=request_account"><img src="{{STATIC_URL}}images/tutorials/getting_annual_subscription/5.png"></a>
{% endblock %}


{% block things_to_note %}
    {% if user.is_anonymous %}
        <li>Access to the site is only granted once payment is received, so there will typically be a few business days of delay between you making the request and gaining full access to the site. However, we will give you access to our demo site while you complete the paperwork so that you can be familiar with Umeqo's functionality before getting full access.</li>
    {% else %}
        <li>Your request will only be processed once payment is received, so there will typically be a few business days of delay between you making the request and gaining full access to the site.</li>
    {% endif %}
{% endblock %}


{% block tips_and_tricks %}
    {% if user.is_anonymous %}
        <li>If you are unsure of whether you wish to subscribe annually, <a href="#contact_us">contact us</a> anyway and we will give you access to our demo site. This way you can explore the site without paying anything.</li>
    {% else %}
        <li>You can view all of your past transactions and download the receipts <a href="{% url employer_account %}?tab=subscription">here</a>.</li>
    {% endif %}
{% endblock %}