{% extends 'tutorial_base.html' %}

{% block tutorial_title %}
Managing Credentials
{% endblock %}

{% block instructions %}
<p class="header"><span id="create_account" class="num">Step 1:</span> Access your account settings from the "Account" dropdown on the upper right.</p>
<p>There is also a "Account Settings" link in the side navigation menu on the left, underneath "Account".</p>
<a target="_blank" href="{% url employer_account %}"><img src="{{STATIC_URL}}images/tutorials/managing_credentials/1.png"></a>

<p class="header"><span class="num">Step 2:</span> Open the credential creation dialog by clicking on the links at the bottom.</p>
<a target="_blank" href="{% url employer_account %}?action=new_recruiter_credentials"><img src="{{STATIC_URL}}images/tutorials/managing_credentials/2.png"></a>

<p class="header"><span class="num">Step 3:</span> Create an account for a co-worker by filling out all the fields.</p>
<p>The credentials will be immediately available for use.</p>
<a target="_blank" href="{% url employer_account %}?action=new_recruiter_credentials"><img src="{{STATIC_URL}}images/tutorials/managing_credentials/3.png"></a>

<p class="header"><span class="num">Step 4:</span> Delete your account by clicking on the "Delete Account" link.</p>
<p>Please note that if you are the only recruiter with an account at your firm, you cannot delete your account. Create an account for a co-worker before deleting yours, so that your firm does not lose access to the site.</p>
<a target="_blank" href="{% url employer_account %}"><img src="{{STATIC_URL}}images/tutorials/managing_credentials/4.png"></a>
{% if other_recruiters %}<a target="_blank" href="{% url employer_account %}?action=delete_account">{% endif %}<img {% if not other_recruiters %}title="This image is not clickable because you are the only recruiter with an account at your firm and thus cannot delete your account."{% endif %} src="{{STATIC_URL}}images/tutorials/managing_credentials/5.png">{% if other_recruiters %}</a>{% endif %}
{% endblock %}

{% block things_to_note %}
<li>If you are the only recruiter with an account at your firm, you cannot delete your account. <a href="#create_account">Create an account</a> for a co-worker before deleting yours, so that your firm does not lose access to the site.</li>
{% endblock %}

{% block tips_and_tricks %}
<li>To allow your co-workers to comment and star students, as well as see the comments that you have written and the student that you have starred, <a href="#create_account">create accounts</a> for them. All the info is shared accross all accounts at your firm.</li>
{% endblock %}