{% extends 'tutorial_base.html' %}

{% block tutorial_title %}
Updating Your Company Profile
{% endblock %}

{% block instructions %}
<p class="header"><span class="num">Step 1:</span> Access the edit company profile form by clicking "Edit Profile" from the "Account" dropdown on the upper right.</p>
<p>There is also an "Edit Profile" link in the side navigation menu on the left, underneath "Profile".</p>
<a target="_blank" href="{% url employer_profile %}"><img src="{{STATIC_URL}}images/tutorials/updating_your_company_profile/1.png"></a>

<p class="header"><span class="num">Step 2:</span> Access the edit company profile form by clicking "Edit Profile" from the "Account" dropdown on the upper right.</p>
<p>There is also an "Edit Profile" link in the side navigation menu on the left, underneath "Profile".</p>
<a target="_blank" href="{% url employer_profile %}"><img src="{{STATIC_URL}}images/tutorials/updating_your_company_profile/2.png"></a>

<p class="header"><span class="num">Step 3:</span> Access the edit company profile form by clicking "Edit Profile" from the "Account" dropdown on the upper right.</p>
<p>There is also an "Edit Profile" link in the side navigation menu on the left, underneath "Profile".</p>
<a target="_blank" href="{% url employer_profile %}"><img src="{{STATIC_URL}}images/tutorials/updating_your_company_profile/3.png"></a>

<p class="header"><span class="num">Step 4:</span> Access the edit company profile form by clicking "Edit Profile" from the "Account" dropdown on the upper right.</p>
<p>There is also an "Edit Profile" link in the side navigation menu on the left, underneath "Profile".</p>
<a target="_blank" href="{% url employer_profile %}"><img src="{{STATIC_URL}}images/tutorials/updating_your_company_profile/4.png"></a>

<p class="header"><span class="num">Step 5:</span> Access the edit company profile form by clicking "Edit Profile" from the "Account" dropdown on the upper right.</p>
<p>There is also an "Edit Profile" link in the side navigation menu on the left, underneath "Profile".</p>
<a target="_blank" href="{% url employer_profile %}"><img src="{{STATIC_URL}}images/tutorials/updating_your_company_profile/5.png"></a>

<p class="header"><span class="num">Step 6:</span> Access the edit company profile form by clicking "Edit Profile" from the "Account" dropdown on the upper right.</p>
<p>There is also an "Edit Profile" link in the side navigation menu on the left, underneath "Profile".</p>
<a target="_blank" href="{% url employer_profile %}?tab=private"><img src="{{STATIC_URL}}images/tutorials/updating_your_company_profile/6.png"></a>

<p class="header"><span class="num">Step 7:</span> Access the edit company profile form by clicking "Edit Profile" from the "Account" dropdown on the upper right.</p>
<p>There is also an "Edit Profile" link in the side navigation menu on the left, underneath "Profile".</p>
<a target="_blank" href="{% url employer_profile %}?tab=private"><img src="{{STATIC_URL}}images/tutorials/updating_your_company_profile/7.png"></a>
{% endblock %}

{% block things_to_note %}
<li>Your company is allowed to be marked under at most five industries. Try to find all five that fit it best in order to be noticed by (and hopefully subscribed to) by as many people as possible.</li>
{% endblock %}

{% block tips_and_tricks %}
<li>To allow your co-workers to comment and star students, as well as see the comments that you have written and the student that you have starred, <a href="#create_account">create accounts</a> for them. All the info is shared accross all accounts at your firm.</li>
{% endblock %}